In [1]:
import re
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('house_data.csv')
df

,Unnamed: 0,location,price_per_sqft,total_sqft,builtup_area,bhk,price
0,0,1 BHK Apartment in Laxmi Narayan Nagar,"₹ 9,164/sq.ft.",491 sq.ft. (46 sq.m.) Carpet Area,(46 sq.m.) Carpet Area,1 BHK1 Bath,"₹ 45 L₹ 9,164/sq.ft."
1,1,Residential land / Plot in Ambegaon Kh,"₹ 3,333/sq.ft.","3,000 sq.ft. (279 sq.m.) Plot Area",(279 sq.m.) Plot Area,NaN,"₹ 1 Cr₹ 3,333/sq.ft."
2,2,2 BHK Apartment in Manjari Budruk,"₹ 10,130/sq.ft.",691 sq.ft. (64 sq.m.) Carpet Area,(64 sq.m.) Carpet Area,2 BHK2 Baths,"₹ 70 L₹ 10,130/sq.ft."
3,3,4 BHK Independent Builder Floor in Kondhwa,"₹ 16,538/sq.ft.","2,600 sq.ft. (242 sq.m.) Built-up Area",(242 sq.m.) Built-up Area,4 BHK4 Baths,"₹ 4.3 Cr₹ 16,538/sq.ft."
4,4,2 BHK Apartment in Pimple Saudagar,"₹ 8,587/sq.ft.","1,083 sq.ft. (101 sq.m.) Super built-up Area",(101 sq.m.) Super built-up Area,2 BHK2 Baths,"₹ 93 L₹ 8,587/sq.ft."
...,...,...,...,...,...,...,...
201,201,1 BHK Apartment in Patil Nagar,"₹ 7,368/sq.ft.",570 sq.ft. (53 sq.m.) Built-up Area,(53 sq.m.) Built-up Area,1 BHK1 Bath,"₹ 42 L₹ 7,368/sq.ft."
202,202,2 BHK Apartment in Kaspate Vasti,"₹ 11,340/sq.ft.",970 sq.ft. (90 sq.m.) Carpet Area,(90 sq.m.) Carpet Area,2 BHK2 Baths,"₹ 1.1 Cr₹ 11,340/sq.ft."
203,203,2 BHK Apartment in Wadgaon Sheri,"₹ 7,861/sq.ft.",954 sq.ft. (89 sq.m.) Carpet Area,(89 sq.m.) Carpet Area,2 BHK2 Baths,"₹ 75 L₹ 7,861/sq.ft."
204,204,2 BHK Apartment in Koregaon Mul,"₹ 3,333/sq.ft.",360 sq.ft. (33 sq.m.) Carpet Area,(33 sq.m.) Carpet Area,2 BHK2 Baths,"₹ 12 L₹ 3,333/sq.ft."
205,205,3 BHK Apartment in Baner Pashan Link Road,"₹ 16,247/sq.ft.","1,015 sq.ft. (94 sq.m.) Carpet Area",(94 sq.m.) Carpet Area,3 BHK3 Baths,"₹ 1.65 Cr₹ 16,247/sq.ft."

In [3]:
df = df.drop("Unnamed: 0",axis=1)

In [4]:
df.shape

(206, 6)

In [5]:
df.describe().T

               count unique                                top freq
location         206    157          2 BHK Apartment in Chakan    4
price_per_sqft   206    193                     ₹ 7,857/sq.ft.    3
total_sqft       206    193  480 sq.ft. (45 sq.m.) Carpet Area    2
builtup_area     206    161             (65 sq.m.) Carpet Area    4
bhk              189     17                       2 BHK2 Baths   99
price            206    203               ₹ 60 L₹ 9,677/sq.ft.    2

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206 entries, 0 to 205
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   location        206 non-null    object
 1   price_per_sqft  206 non-null    object
 2   total_sqft      206 non-null    object
 3   builtup_area    206 non-null    object
 4   bhk             189 non-null    object
 5   price           206 non-null    object
dtypes: object(6)
memory usage: 9.8+ KB

In [7]:
df.isnull().sum()

location           0
price_per_sqft     0
total_sqft         0
builtup_area       0
bhk               17
price              0
dtype: int64

In [8]:
df.dtypes

location          object
price_per_sqft    object
total_sqft        object
builtup_area      object
bhk               object
price             object
dtype: object

In [9]:
df

,location,price_per_sqft,total_sqft,builtup_area,bhk,price
0,1 BHK Apartment in Laxmi Narayan Nagar,"₹ 9,164/sq.ft.",491 sq.ft. (46 sq.m.) Carpet Area,(46 sq.m.) Carpet Area,1 BHK1 Bath,"₹ 45 L₹ 9,164/sq.ft."
1,Residential land / Plot in Ambegaon Kh,"₹ 3,333/sq.ft.","3,000 sq.ft. (279 sq.m.) Plot Area",(279 sq.m.) Plot Area,NaN,"₹ 1 Cr₹ 3,333/sq.ft."
2,2 BHK Apartment in Manjari Budruk,"₹ 10,130/sq.ft.",691 sq.ft. (64 sq.m.) Carpet Area,(64 sq.m.) Carpet Area,2 BHK2 Baths,"₹ 70 L₹ 10,130/sq.ft."
3,4 BHK Independent Builder Floor in Kondhwa,"₹ 16,538/sq.ft.","2,600 sq.ft. (242 sq.m.) Built-up Area",(242 sq.m.) Built-up Area,4 BHK4 Baths,"₹ 4.3 Cr₹ 16,538/sq.ft."
4,2 BHK Apartment in Pimple Saudagar,"₹ 8,587/sq.ft.","1,083 sq.ft. (101 sq.m.) Super built-up Area",(101 sq.m.) Super built-up Area,2 BHK2 Baths,"₹ 93 L₹ 8,587/sq.ft."
...,...,...,...,...,...,...
201,1 BHK Apartment in Patil Nagar,"₹ 7,368/sq.ft.",570 sq.ft. (53 sq.m.) Built-up Area,(53 sq.m.) Built-up Area,1 BHK1 Bath,"₹ 42 L₹ 7,368/sq.ft."
202,2 BHK Apartment in Kaspate Vasti,"₹ 11,340/sq.ft.",970 sq.ft. (90 sq.m.) Carpet Area,(90 sq.m.) Carpet Area,2 BHK2 Baths,"₹ 1.1 Cr₹ 11,340/sq.ft."
203,2 BHK Apartment in Wadgaon Sheri,"₹ 7,861/sq.ft.",954 sq.ft. (89 sq.m.) Carpet Area,(89 sq.m.) Carpet Area,2 BHK2 Baths,"₹ 75 L₹ 7,861/sq.ft."
204,2 BHK Apartment in Koregaon Mul,"₹ 3,333/sq.ft.",360 sq.ft. (33 sq.m.) Carpet Area,(33 sq.m.) Carpet Area,2 BHK2 Baths,"₹ 12 L₹ 3,333/sq.ft."
205,3 BHK Apartment in Baner Pashan Link Road,"₹ 16,247/sq.ft.","1,015 sq.ft. (94 sq.m.) Carpet Area",(94 sq.m.) Carpet Area,3 BHK3 Baths,"₹ 1.65 Cr₹ 16,247/sq.ft."

In [10]:
location = df['location'].tolist()

print(location)

['1 BHK Apartment in Laxmi Narayan Nagar', 'Residential land / Plot in Ambegaon Kh', '2 BHK Apartment in Manjari Budruk', '4 BHK Independent Builder Floor in Kondhwa', '2 BHK Apartment in Pimple Saudagar', 'Residential land / Plot in Bakori', '2 BHK Apartment in Dhanori', '3 BHK Apartment in Karve Road', '1 BHK Apartment in Bavdhan', '2 BHK Apartment in Chakan', '2 BHK Apartment in Baner', '1 BHK Apartment in Dhayari', 'Residential land / Plot in Chandni Chowk', '5 Bedroom House in Navi Peth', '2 BHK Apartment in Moshi', '1 BHK Apartment in Undri', '2 BHK Apartment in Charholi', '2 BHK Apartment in Mahalunge', '2 BHK Apartment in Hinjewadi Phase 1', '2 BHK Apartment in Kondhwa Budruk', '2 BHK Apartment in Lohegaon', '2 BHK Apartment in Baner Sus', '2 BHK Apartment in Kalyani Nagar', '2 BHK Apartment in Bhukum', '1 BHK Apartment in Karve Nagar', '3 BHK Apartment in Bhugaon', '2 BHK Apartment in Katraj', '1 BHK Apartment in Pimple Gurav', '2 BHK Apartment in Pisoli', '2 BHK Apartment in Dhayari', '2 BHK Apartment in Hinjewadi Phase 1', '3 Bedroom House in Dhayari', '2 BHK Apartment in Undri', '2 BHK Apartment in Kondhwa Budruk', '3 BHK Apartment in Ghorpadi', '1 BHK Apartment in Vidya Vihar Colony', 'Residential land / Plot in Talegaon Dhamdhere', '3 BHK Apartment in Pashan Sus Road', '1 BHK Apartment in Rahatani', '2 BHK Apartment in Dhayari Phata', '3 Bedroom House in Pisoli', '2 Bedroom Farm house in Bhor', '3 BHK Apartment in Bavdhan', '4 BHK Apartment in Burhani Colony', '3 BHK Apartment in Wanwadi', '3 Bedroom House in Dhankawadi', '1 BHK Apartment in Moshi', '2 BHK Apartment in Lohegaon', '1 BHK Apartment in Chakan', '2 BHK Apartment in Punawale', 'Residential land / Plot in Hinjewadi', '3 BHK Apartment in Pune Mumbai Highway', '2 BHK Apartment in Balewadi', 'Residential land / Plot in Shikrapur', '3 BHK Apartment in Akurdi', '2 BHK Apartment in Undri', '1 BHK Apartment in Pimple Nilakh', 'Residential land / Plot in Kharadi', '4 BHK Apartment in Wagholi', '3 BHK Apartment in Hinjewadi Phase 2', '2 BHK Apartment in Wagholi', '2 BHK Apartment in Pimpri', '2 BHK Apartment in Pimple Nilakh', '1 BHK Apartment in Moshi', '1 BHK Apartment in Wadki', '2 BHK Apartment in Dhayari', '1 BHK Apartment in Wagholi', '3 BHK Apartment in Kondhwa', 'Residential land / Plot in Bakori', '2 BHK Apartment in NIBM', '2 BHK Apartment in Kalyani Nagar', '2 BHK Apartment in Pisoli', '2 BHK Apartment in Hadapsar', '1 BHK Independent Builder Floor in Talegaon', '1 BHK Apartment in Talegaon', '6 BHK Apartment in Manjari Budruk', '3 BHK Apartment in Akurdi', '2 BHK Apartment in Kondhwa', '2 BHK Apartment in Hinjewadi', '1 BHK Apartment in Ambegaon Budruk', '2 BHK Apartment in Chikhali', '2 BHK Apartment in Lohegaon', '1 BHK Apartment in Balaji Nagar', '2 BHK Apartment in Manjari Budruk', '1 BHK Apartment in Dhanori', '2 Bedroom House in Wakad', '2 BHK Apartment in Pimple Nilakh', '4 Bedroom House in Balewadi Phata', '1 BHK Apartment in Vishrantwadi', 'Residential land / Plot in Chakan', '2 BHK Apartment in Talegaon Dabhade', '2 BHK Apartment in Mamurdi', '3 BHK Apartment in Undri', '1 BHK Apartment in Shankar Kalat Nagar', '2 BHK Apartment in Uruli Devachi', '2 BHK Apartment in Baner Sus', '3 BHK Apartment in Mamurdi', '1 BHK Apartment in Kondhwa', '2 BHK Apartment in Chikhali', '1 BHK Apartment in Pisoli', '1 BHK Apartment in Narhe', '2 BHK Apartment in Sus', '1 BHK Apartment in Pimple Saudagar', '3 BHK Apartment in Talegaon', '2 BHK Apartment in Mamurdi', '2 BHK Apartment in Shivane', '2 BHK Apartment in Manjri', '2 BHK Apartment in Nigdi', '3 BHK Apartment in Bhugaon', '2 BHK Apartment in Mohamadwadi', '3 BHK Apartment in Kad Nagar', '2 BHK Apartment in Baner', '2 BHK Apartment in Wakad', '1 BHK Apartment in Mahalunge', '2 BHK Apartment in Pimple Saudagar', '1 BHK Apartment in Punawale', '2 BHK Apartment in Mahalunge', '2 BHK Apartment in Talegaon Dabhade', '7 Bedroom House in Kharadi', '2 BHK Apartment in BT Kawade Road', '4 Bedroom House in Alandi Road', '1 BHK Apartment in Narayan Nagar', '2 BHK Apartment in Kalewadi', '2 BHK Apartment in Pirangut', '2 BHK Apartment in Baner', '2 Bedroom House in Jadhav Nagar', 'Residential land / Plot in Donaje', '2 BHK Apartment in NIBM', 'Residential land / Plot in Varasgaon', '2 BHK Apartment in Ambegaon Budruk', '2 BHK Apartment in Moshi', '2 BHK Apartment in Tathawade', '2 BHK Apartment in Hinjewadi', '2 BHK Apartment in Talegaon', '3 BHK Apartment in Undri', '2 BHK Apartment in Swami Samartha Nagar', '2 BHK Apartment in Hadapsar', '2 BHK Apartment in Keshav Nagar', 'Residential land / Plot in Ambegaon Kh', 'Residential land / Plot in Kanhe', '2 BHK Apartment in Chakan', '3 BHK Apartment in Sector 25 Pradhikaran', '2 BHK Apartment in Dighi', 'Residential land / Plot in Wagholi', '5 Bedroom Farm house in Malshej', '1 BHK Apartment in Hadapsar', '5 Bedroom House in Hadapsar', '2 BHK Apartment in Talegaon', '1 BHK Apartment in Chikhali', '4 Bedroom House in Manjri', '2 BHK Apartment in Loni Kalbhor', '2 BHK Apartment in Hadapsar', '2 BHK Apartment in Kharadi', '3 Bedroom House in Uday Baug', '3 BHK Apartment in Keshav Nagar', '2 BHK Apartment in Wagholi', '2 BHK Apartment in Kalyani Nagar', '2 BHK Apartment in Mamurdi', '2 BHK Apartment in Pimple Saudagar', '2 BHK Apartment in Mahalunge', '2 BHK Apartment in Bhugaon', '3 BHK Apartment in Manjri', '2 BHK Apartment in Mohamadwadi', '2 BHK Apartment in Koregaon Park Annexe', '2 BHK Apartment in Marunji', '2 BHK Apartment in Kunj Colony', '3 BHK Apartment in Warje', '3 BHK Apartment in Moshi', '2 BHK Apartment in Dhayari', '2 BHK Apartment in Hinjewadi', '2 BHK Apartment in Kiwale', '1 BHK Apartment in Pimple Saudagar', '5 Bedroom House in Shukravar Peth', '2 BHK Apartment in Undri', '3 BHK Apartment in Manjari road', '2 BHK Apartment in Pirangut', '1 BHK Apartment in Kutwal Colony', '2 BHK Apartment in Bhairav Nagar', '1 BHK Apartment in Rahatani', '1 BHK Apartment in Morwadi', '1 BHK Apartment in Morwadi', 'Residential land / Plot in Lonikand', '2 BHK Apartment in Paud Gaon', 'Residential land / Plot in Talegaon Dabhade', '2 BHK Apartment in Talawade', '2 BHK Apartment in Sinhgad Road', '2 BHK Apartment in Bhukum', '2 BHK Apartment in Chakan', '2 BHK Apartment in Kesnand', '2 BHK Apartment in Chakan', '2 BHK Apartment in Manjri', '3 BHK Apartment in Sopan Baug', 'Residential land / Plot in Markal', '3 BHK Apartment in Mohamadwadi', '1 BHK Apartment in Keshav Nagar', '3 Bedroom House in Talegaon Dabhade', '1 BHK Apartment in Wanwadi', '1 BHK Apartment in Keshav Nagar', 'Studio Apartments / 1 RK Flats in Morwadi', '6 BHK Independent Builder Floor in Sukhsagar Nagar', '2 BHK Apartment in Hinjewadi Phase 2', '1 BHK Apartment in Patil Nagar', '2 BHK Apartment in Kaspate Vasti', '2 BHK Apartment in Wadgaon Sheri', '2 BHK Apartment in Koregaon Mul', '3 BHK Apartment in Baner Pashan Link Road']

In [11]:
pattern = r"in\s(.*)"

#list to store matching strings
loc = []

for string in location:
    match = re.search(pattern, string, re.IGNORECASE)
    if match:
        loc.append(match.group(1))

print(loc)

['Laxmi Narayan Nagar', 'Ambegaon Kh', 'Manjari Budruk', 'Kondhwa', 'Pimple Saudagar', 'Bakori', 'Dhanori', 'Karve Road', 'Bavdhan', 'Chakan', 'Baner', 'Dhayari', 'Chandni Chowk', 'Navi Peth', 'Moshi', 'Undri', 'Charholi', 'Mahalunge', 'Hinjewadi Phase 1', 'Kondhwa Budruk', 'Lohegaon', 'Baner Sus', 'Kalyani Nagar', 'Bhukum', 'Karve Nagar', 'Bhugaon', 'Katraj', 'Pimple Gurav', 'Pisoli', 'Dhayari', 'Hinjewadi Phase 1', 'Dhayari', 'Undri', 'Kondhwa Budruk', 'Ghorpadi', 'Vidya Vihar Colony', 'Talegaon Dhamdhere', 'Pashan Sus Road', 'Rahatani', 'Dhayari Phata', 'Pisoli', 'Bhor', 'Bavdhan', 'Burhani Colony', 'Wanwadi', 'Dhankawadi', 'Moshi', 'Lohegaon', 'Chakan', 'Punawale', 'Hinjewadi', 'Pune Mumbai Highway', 'Balewadi', 'Shikrapur', 'Akurdi', 'Undri', 'Pimple Nilakh', 'Kharadi', 'Wagholi', 'Hinjewadi Phase 2', 'Wagholi', 'Pimpri', 'Pimple Nilakh', 'Moshi', 'Wadki', 'Dhayari', 'Wagholi', 'Kondhwa', 'Bakori', 'NIBM', 'Kalyani Nagar', 'Pisoli', 'Hadapsar', 'Talegaon', 'Talegaon', 'Manjari Budruk', 'Akurdi', 'Kondhwa', 'Hinjewadi', 'Ambegaon Budruk', 'Chikhali', 'Lohegaon', 'Balaji Nagar', 'Manjari Budruk', 'Dhanori', 'Wakad', 'Pimple Nilakh', 'Balewadi Phata', 'Vishrantwadi', 'Chakan', 'Talegaon Dabhade', 'Mamurdi', 'Undri', 'Shankar Kalat Nagar', 'Uruli Devachi', 'Baner Sus', 'Mamurdi', 'Kondhwa', 'Chikhali', 'Pisoli', 'Narhe', 'Sus', 'Pimple Saudagar', 'Talegaon', 'Mamurdi', 'Shivane', 'Manjri', 'Nigdi', 'Bhugaon', 'Mohamadwadi', 'Kad Nagar', 'Baner', 'Wakad', 'Mahalunge', 'Pimple Saudagar', 'Punawale', 'Mahalunge', 'Talegaon Dabhade', 'Kharadi', 'BT Kawade Road', 'Alandi Road', 'Narayan Nagar', 'Kalewadi', 'Pirangut', 'Baner', 'Jadhav Nagar', 'Donaje', 'NIBM', 'Varasgaon', 'Ambegaon Budruk', 'Moshi', 'Tathawade', 'Hinjewadi', 'Talegaon', 'Undri', 'Swami Samartha Nagar', 'Hadapsar', 'Keshav Nagar', 'Ambegaon Kh', 'Kanhe', 'Chakan', 'Sector 25 Pradhikaran', 'Dighi', 'Wagholi', 'Malshej', 'Hadapsar', 'Hadapsar', 'Talegaon', 'Chikhali', 'Manjri', 'Loni Kalbhor', 'Hadapsar', 'Kharadi', 'Uday Baug', 'Keshav Nagar', 'Wagholi', 'Kalyani Nagar', 'Mamurdi', 'Pimple Saudagar', 'Mahalunge', 'Bhugaon', 'Manjri', 'Mohamadwadi', 'Koregaon Park Annexe', 'Marunji', 'Kunj Colony', 'Warje', 'Moshi', 'Dhayari', 'Hinjewadi', 'Kiwale', 'Pimple Saudagar', 'Shukravar Peth', 'Undri', 'Manjari road', 'Pirangut', 'Kutwal Colony', 'Bhairav Nagar', 'Rahatani', 'Morwadi', 'Morwadi', 'Lonikand', 'Paud Gaon', 'Talegaon Dabhade', 'Talawade', 'Sinhgad Road', 'Bhukum', 'Chakan', 'Kesnand', 'Chakan', 'Manjri', 'Sopan Baug', 'Markal', 'Mohamadwadi', 'Keshav Nagar', 'Talegaon Dabhade', 'Wanwadi', 'Keshav Nagar', 'Morwadi', 'Sukhsagar Nagar', 'Hinjewadi Phase 2', 'Patil Nagar', 'Kaspate Vasti', 'Wadgaon Sheri', 'Koregaon Mul', 'Baner Pashan Link Road']

In [12]:
len(loc)

206

In [13]:
pattern = r"(.*?)\sin"

#list to store modified strings
modified_strings = []

for string in location:
    match = re.search(pattern, string, re.IGNORECASE)
    if match:
        modified_strings.append(match.group(1))
    else:
        modified_strings.append(string)

print(modified_strings)

['1 BHK Apartment', 'Residential land / Plot', '2 BHK Apartment', '4 BHK', '2 BHK Apartment', 'Residential land / Plot', '2 BHK Apartment', '3 BHK Apartment', '1 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '1 BHK Apartment', 'Residential land / Plot', '5 Bedroom House', '2 BHK Apartment', '1 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '1 BHK Apartment', '3 BHK Apartment', '2 BHK Apartment', '1 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '3 Bedroom House', '2 BHK Apartment', '2 BHK Apartment', '3 BHK Apartment', '1 BHK Apartment', 'Residential land / Plot', '3 BHK Apartment', '1 BHK Apartment', '2 BHK Apartment', '3 Bedroom House', '2 Bedroom Farm house', '3 BHK Apartment', '4 BHK Apartment', '3 BHK Apartment', '3 Bedroom House', '1 BHK Apartment', '2 BHK Apartment', '1 BHK Apartment', '2 BHK Apartment', 'Residential land / Plot', '3 BHK Apartment', '2 BHK Apartment', 'Residential land / Plot', '3 BHK Apartment', '2 BHK Apartment', '1 BHK Apartment', 'Residential land / Plot', '4 BHK Apartment', '3 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '1 BHK Apartment', '1 BHK Apartment', '2 BHK Apartment', '1 BHK Apartment', '3 BHK Apartment', 'Residential land / Plot', '2 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '1 BHK', '1 BHK Apartment', '6 BHK Apartment', '3 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '1 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '1 BHK Apartment', '2 BHK Apartment', '1 BHK Apartment', '2 Bedroom House', '2 BHK Apartment', '4 Bedroom House', '1 BHK Apartment', 'Residential land / Plot', '2 BHK Apartment', '2 BHK Apartment', '3 BHK Apartment', '1 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '3 BHK Apartment', '1 BHK Apartment', '2 BHK Apartment', '1 BHK Apartment', '1 BHK Apartment', '2 BHK Apartment', '1 BHK Apartment', '3 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '3 BHK Apartment', '2 BHK Apartment', '3 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '1 BHK Apartment', '2 BHK Apartment', '1 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '7 Bedroom House', '2 BHK Apartment', '4 Bedroom House', '1 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '2 Bedroom House', 'Residential land / Plot', '2 BHK Apartment', 'Residential land / Plot', '2 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '3 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', 'Residential land / Plot', 'Residential land / Plot', '2 BHK Apartment', '3 BHK Apartment', '2 BHK Apartment', 'Residential land / Plot', '5 Bedroom Farm house', '1 BHK Apartment', '5 Bedroom House', '2 BHK Apartment', '1 BHK Apartment', '4 Bedroom House', '2 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '3 Bedroom House', '3 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '3 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '3 BHK Apartment', '3 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '1 BHK Apartment', '5 Bedroom House', '2 BHK Apartment', '3 BHK Apartment', '2 BHK Apartment', '1 BHK Apartment', '2 BHK Apartment', '1 BHK Apartment', '1 BHK Apartment', '1 BHK Apartment', 'Residential land / Plot', '2 BHK Apartment', 'Residential land / Plot', '2 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '3 BHK Apartment', 'Residential land / Plot', '3 BHK Apartment', '1 BHK Apartment', '3 Bedroom House', '1 BHK Apartment', '1 BHK Apartment', 'Studio Apartments / 1 RK Flats', '6 BHK', '2 BHK Apartment', '1 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '2 BHK Apartment', '3 BHK Apartment']

In [14]:
words_to_drop = ["BHK"]

#regular expression pattern to match and drop words
pattern = "|".join(words_to_drop)

#list to store modified strings
modified_strings1 = []

for string in modified_strings:
    modified_string = re.sub(pattern, "", string, flags=re.IGNORECASE)
    modified_strings1.append(modified_string)

print(modified_strings1)

['1  Apartment', 'Residential land / Plot', '2  Apartment', '4 ', '2  Apartment', 'Residential land / Plot', '2  Apartment', '3  Apartment', '1  Apartment', '2  Apartment', '2  Apartment', '1  Apartment', 'Residential land / Plot', '5 Bedroom House', '2  Apartment', '1  Apartment', '2  Apartment', '2  Apartment', '2  Apartment', '2  Apartment', '2  Apartment', '2  Apartment', '2  Apartment', '2  Apartment', '1  Apartment', '3  Apartment', '2  Apartment', '1  Apartment', '2  Apartment', '2  Apartment', '2  Apartment', '3 Bedroom House', '2  Apartment', '2  Apartment', '3  Apartment', '1  Apartment', 'Residential land / Plot', '3  Apartment', '1  Apartment', '2  Apartment', '3 Bedroom House', '2 Bedroom Farm house', '3  Apartment', '4  Apartment', '3  Apartment', '3 Bedroom House', '1  Apartment', '2  Apartment', '1  Apartment', '2  Apartment', 'Residential land / Plot', '3  Apartment', '2  Apartment', 'Residential land / Plot', '3  Apartment', '2  Apartment', '1  Apartment', 'Residential land / Plot', '4  Apartment', '3  Apartment', '2  Apartment', '2  Apartment', '2  Apartment', '1  Apartment', '1  Apartment', '2  Apartment', '1  Apartment', '3  Apartment', 'Residential land / Plot', '2  Apartment', '2  Apartment', '2  Apartment', '2  Apartment', '1 ', '1  Apartment', '6  Apartment', '3  Apartment', '2  Apartment', '2  Apartment', '1  Apartment', '2  Apartment', '2  Apartment', '1  Apartment', '2  Apartment', '1  Apartment', '2 Bedroom House', '2  Apartment', '4 Bedroom House', '1  Apartment', 'Residential land / Plot', '2  Apartment', '2  Apartment', '3  Apartment', '1  Apartment', '2  Apartment', '2  Apartment', '3  Apartment', '1  Apartment', '2  Apartment', '1  Apartment', '1  Apartment', '2  Apartment', '1  Apartment', '3  Apartment', '2  Apartment', '2  Apartment', '2  Apartment', '2  Apartment', '3  Apartment', '2  Apartment', '3  Apartment', '2  Apartment', '2  Apartment', '1  Apartment', '2  Apartment', '1  Apartment', '2  Apartment', '2  Apartment', '7 Bedroom House', '2  Apartment', '4 Bedroom House', '1  Apartment', '2  Apartment', '2  Apartment', '2  Apartment', '2 Bedroom House', 'Residential land / Plot', '2  Apartment', 'Residential land / Plot', '2  Apartment', '2  Apartment', '2  Apartment', '2  Apartment', '2  Apartment', '3  Apartment', '2  Apartment', '2  Apartment', '2  Apartment', 'Residential land / Plot', 'Residential land / Plot', '2  Apartment', '3  Apartment', '2  Apartment', 'Residential land / Plot', '5 Bedroom Farm house', '1  Apartment', '5 Bedroom House', '2  Apartment', '1  Apartment', '4 Bedroom House', '2  Apartment', '2  Apartment', '2  Apartment', '3 Bedroom House', '3  Apartment', '2  Apartment', '2  Apartment', '2  Apartment', '2  Apartment', '2  Apartment', '2  Apartment', '3  Apartment', '2  Apartment', '2  Apartment', '2  Apartment', '2  Apartment', '3  Apartment', '3  Apartment', '2  Apartment', '2  Apartment', '2  Apartment', '1  Apartment', '5 Bedroom House', '2  Apartment', '3  Apartment', '2  Apartment', '1  Apartment', '2  Apartment', '1  Apartment', '1  Apartment', '1  Apartment', 'Residential land / Plot', '2  Apartment', 'Residential land / Plot', '2  Apartment', '2  Apartment', '2  Apartment', '2  Apartment', '2  Apartment', '2  Apartment', '2  Apartment', '3  Apartment', 'Residential land / Plot', '3  Apartment', '1  Apartment', '3 Bedroom House', '1  Apartment', '1  Apartment', 'Studio Apartments / 1 RK Flats', '6 ', '2  Apartment', '1  Apartment', '2  Apartment', '2  Apartment', '2  Apartment', '3  Apartment']

In [15]:
pattern = "[0-9]+"

#list to store modified strings
modified_strings2 = []

for string in modified_strings1:
    modified_string = re.sub(pattern, "", string)
    modified_strings2.append(modified_string)

print(modified_strings2)

['  Apartment', 'Residential land / Plot', '  Apartment', ' ', '  Apartment', 'Residential land / Plot', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', 'Residential land / Plot', ' Bedroom House', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', ' Bedroom House', '  Apartment', '  Apartment', '  Apartment', '  Apartment', 'Residential land / Plot', '  Apartment', '  Apartment', '  Apartment', ' Bedroom House', ' Bedroom Farm house', '  Apartment', '  Apartment', '  Apartment', ' Bedroom House', '  Apartment', '  Apartment', '  Apartment', '  Apartment', 'Residential land / Plot', '  Apartment', '  Apartment', 'Residential land / Plot', '  Apartment', '  Apartment', '  Apartment', 'Residential land / Plot', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', 'Residential land / Plot', '  Apartment', '  Apartment', '  Apartment', '  Apartment', ' ', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', ' Bedroom House', '  Apartment', ' Bedroom House', '  Apartment', 'Residential land / Plot', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', ' Bedroom House', '  Apartment', ' Bedroom House', '  Apartment', '  Apartment', '  Apartment', '  Apartment', ' Bedroom House', 'Residential land / Plot', '  Apartment', 'Residential land / Plot', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', 'Residential land / Plot', 'Residential land / Plot', '  Apartment', '  Apartment', '  Apartment', 'Residential land / Plot', ' Bedroom Farm house', '  Apartment', ' Bedroom House', '  Apartment', '  Apartment', ' Bedroom House', '  Apartment', '  Apartment', '  Apartment', ' Bedroom House', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', ' Bedroom House', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', 'Residential land / Plot', '  Apartment', 'Residential land / Plot', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', 'Residential land / Plot', '  Apartment', '  Apartment', ' Bedroom House', '  Apartment', '  Apartment', 'Studio Apartments /  RK Flats', ' ', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment', '  Apartment']

In [16]:
#regular expression pattern to match and remove space before starting word
pattern = "^\s"

#list to store modified strings
land = []

for string in modified_strings2:
    modified_string = re.sub(pattern, "", string)
    land.append(modified_string)

print(land)

[' Apartment', 'Residential land / Plot', ' Apartment', '', ' Apartment', 'Residential land / Plot', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', 'Residential land / Plot', 'Bedroom House', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', 'Bedroom House', ' Apartment', ' Apartment', ' Apartment', ' Apartment', 'Residential land / Plot', ' Apartment', ' Apartment', ' Apartment', 'Bedroom House', 'Bedroom Farm house', ' Apartment', ' Apartment', ' Apartment', 'Bedroom House', ' Apartment', ' Apartment', ' Apartment', ' Apartment', 'Residential land / Plot', ' Apartment', ' Apartment', 'Residential land / Plot', ' Apartment', ' Apartment', ' Apartment', 'Residential land / Plot', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', 'Residential land / Plot', ' Apartment', ' Apartment', ' Apartment', ' Apartment', '', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', 'Bedroom House', ' Apartment', 'Bedroom House', ' Apartment', 'Residential land / Plot', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', 'Bedroom House', ' Apartment', 'Bedroom House', ' Apartment', ' Apartment', ' Apartment', ' Apartment', 'Bedroom House', 'Residential land / Plot', ' Apartment', 'Residential land / Plot', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', 'Residential land / Plot', 'Residential land / Plot', ' Apartment', ' Apartment', ' Apartment', 'Residential land / Plot', 'Bedroom Farm house', ' Apartment', 'Bedroom House', ' Apartment', ' Apartment', 'Bedroom House', ' Apartment', ' Apartment', ' Apartment', 'Bedroom House', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', 'Bedroom House', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', 'Residential land / Plot', ' Apartment', 'Residential land / Plot', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', 'Residential land / Plot', ' Apartment', ' Apartment', 'Bedroom House', ' Apartment', ' Apartment', 'Studio Apartments /  RK Flats', '', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment', ' Apartment']

In [17]:
#regular expression pattern to match and remove space before starting word
pattern = "^\s"

#list to store modified strings
type_of_land = []

for string in land:
    modified_string = re.sub(pattern, "", string)
    type_of_land.append(modified_string)

print(type_of_land)

['Apartment', 'Residential land / Plot', 'Apartment', '', 'Apartment', 'Residential land / Plot', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Residential land / Plot', 'Bedroom House', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Bedroom House', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Residential land / Plot', 'Apartment', 'Apartment', 'Apartment', 'Bedroom House', 'Bedroom Farm house', 'Apartment', 'Apartment', 'Apartment', 'Bedroom House', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Residential land / Plot', 'Apartment', 'Apartment', 'Residential land / Plot', 'Apartment', 'Apartment', 'Apartment', 'Residential land / Plot', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Residential land / Plot', 'Apartment', 'Apartment', 'Apartment', 'Apartment', '', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Bedroom House', 'Apartment', 'Bedroom House', 'Apartment', 'Residential land / Plot', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Bedroom House', 'Apartment', 'Bedroom House', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Bedroom House', 'Residential land / Plot', 'Apartment', 'Residential land / Plot', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Residential land / Plot', 'Residential land / Plot', 'Apartment', 'Apartment', 'Apartment', 'Residential land / Plot', 'Bedroom Farm house', 'Apartment', 'Bedroom House', 'Apartment', 'Apartment', 'Bedroom House', 'Apartment', 'Apartment', 'Apartment', 'Bedroom House', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Bedroom House', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Residential land / Plot', 'Apartment', 'Residential land / Plot', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Residential land / Plot', 'Apartment', 'Apartment', 'Bedroom House', 'Apartment', 'Apartment', 'Studio Apartments /  RK Flats', '', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment', 'Apartment']

In [18]:
from collections import Counter

# Count the occurrences of each string in the list
counts = Counter(type_of_land)

# Get the most common string
most_common = counts.most_common(1)[0][0]

# Replace empty strings with the most common string
type_of_land = [most_common if x=='' else x for x in type_of_land]

In [19]:
type_of_land = list(map(lambda x: 'Bedroom House' if x=='House' else x, type_of_land))

In [20]:
pattern = '\d+'
bhk = list(map(lambda x: re.search(pattern, x).group() if re.search(pattern, x) else None, location))
pattern = re.compile('\d+')
bhk = list(map(lambda x: pattern.search(x).group() if pattern.search(x) else None, location))
bhk

['1',
 None,
 '2',
 '4',
 '2',
 None,
 '2',
 '3',
 '1',
 '2',
 '2',
 '1',
 None,
 '5',
 '2',
 '1',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '1',
 '3',
 '2',
 '1',
 '2',
 '2',
 '2',
 '3',
 '2',
 '2',
 '3',
 '1',
 None,
 '3',
 '1',
 '2',
 '3',
 '2',
 '3',
 '4',
 '3',
 '3',
 '1',
 '2',
 '1',
 '2',
 None,
 '3',
 '2',
 None,
 '3',
 '2',
 '1',
 None,
 '4',
 '3',
 '2',
 '2',
 '2',
 '1',
 '1',
 '2',
 '1',
 '3',
 None,
 '2',
 '2',
 '2',
 '2',
 '1',
 '1',
 '6',
 '3',
 '2',
 '2',
 '1',
 '2',
 '2',
 '1',
 '2',
 '1',
 '2',
 '2',
 '4',
 '1',
 None,
 '2',
 '2',
 '3',
 '1',
 '2',
 '2',
 '3',
 '1',
 '2',
 '1',
 '1',
 '2',
 '1',
 '3',
 '2',
 '2',
 '2',
 '2',
 '3',
 '2',
 '3',
 '2',
 '2',
 '1',
 '2',
 '1',
 '2',
 '2',
 '7',
 '2',
 '4',
 '1',
 '2',
 '2',
 '2',
 '2',
 None,
 '2',
 None,
 '2',
 '2',
 '2',
 '2',
 '2',
 '3',
 '2',
 '2',
 '2',
 None,
 None,
 '2',
 '3',
 '2',
 None,
 '5',
 '1',
 '5',
 '2',
 '1',
 '4',
 '2',
 '2',
 '2',
 '3',
 '3',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '3',
 '2',
 '2',
 '2',
 '2',
 '3',
 '3',
 '2',
 '2',
 '2',
 '1',
 '5',
 '2',
 '3',
 '2',
 '1',
 '2',
 '1',
 '1',
 '1',
 None,
 '2',
 None,
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '3',
 None,
 '3',
 '1',
 '3',
 '1',
 '1',
 '1',
 '6',
 '2',
 '1',
 '2',
 '2',
 '2',
 '3']

In [21]:
for i in range(len(bhk)):
    try:
        bhk[i] = int(bhk[i])
    except:
        pass
print(bhk)

[1, None, 2, 4, 2, None, 2, 3, 1, 2, 2, 1, None, 5, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 1, 3, 2, 1, 2, 2, 2, 3, 2, 2, 3, 1, None, 3, 1, 2, 3, 2, 3, 4, 3, 3, 1, 2, 1, 2, None, 3, 2, None, 3, 2, 1, None, 4, 3, 2, 2, 2, 1, 1, 2, 1, 3, None, 2, 2, 2, 2, 1, 1, 6, 3, 2, 2, 1, 2, 2, 1, 2, 1, 2, 2, 4, 1, None, 2, 2, 3, 1, 2, 2, 3, 1, 2, 1, 1, 2, 1, 3, 2, 2, 2, 2, 3, 2, 3, 2, 2, 1, 2, 1, 2, 2, 7, 2, 4, 1, 2, 2, 2, 2, None, 2, None, 2, 2, 2, 2, 2, 3, 2, 2, 2, None, None, 2, 3, 2, None, 5, 1, 5, 2, 1, 4, 2, 2, 2, 3, 3, 2, 2, 2, 2, 2, 2, 3, 2, 2, 2, 2, 3, 3, 2, 2, 2, 1, 5, 2, 3, 2, 1, 2, 1, 1, 1, None, 2, None, 2, 2, 2, 2, 2, 2, 2, 3, None, 3, 1, 3, 1, 1, 1, 6, 2, 1, 2, 2, 2, 3]

In [22]:
bhk = [0 if i is None else i for i in bhk]
print(bhk)

[1, 0, 2, 4, 2, 0, 2, 3, 1, 2, 2, 1, 0, 5, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 1, 3, 2, 1, 2, 2, 2, 3, 2, 2, 3, 1, 0, 3, 1, 2, 3, 2, 3, 4, 3, 3, 1, 2, 1, 2, 0, 3, 2, 0, 3, 2, 1, 0, 4, 3, 2, 2, 2, 1, 1, 2, 1, 3, 0, 2, 2, 2, 2, 1, 1, 6, 3, 2, 2, 1, 2, 2, 1, 2, 1, 2, 2, 4, 1, 0, 2, 2, 3, 1, 2, 2, 3, 1, 2, 1, 1, 2, 1, 3, 2, 2, 2, 2, 3, 2, 3, 2, 2, 1, 2, 1, 2, 2, 7, 2, 4, 1, 2, 2, 2, 2, 0, 2, 0, 2, 2, 2, 2, 2, 3, 2, 2, 2, 0, 0, 2, 3, 2, 0, 5, 1, 5, 2, 1, 4, 2, 2, 2, 3, 3, 2, 2, 2, 2, 2, 2, 3, 2, 2, 2, 2, 3, 3, 2, 2, 2, 1, 5, 2, 3, 2, 1, 2, 1, 1, 1, 0, 2, 0, 2, 2, 2, 2, 2, 2, 2, 3, 0, 3, 1, 3, 1, 1, 1, 6, 2, 1, 2, 2, 2, 3]

In [23]:
len(bhk)

206

# price per sqft

In [24]:
price = df['price_per_sqft'].tolist()

print(price)

['₹ 9,164/sq.ft.', '₹ 3,333/sq.ft.', '₹ 10,130/sq.ft.', '₹ 16,538/sq.ft.', '₹ 8,587/sq.ft.', '₹ 517/sq.ft.', '₹ 6,200/sq.ft.', '₹ 18,090/sq.ft.', '₹ 8,127/sq.ft.', '₹ 5,139/sq.ft.', '₹ 8,389/sq.ft.', '₹ 8,179/sq.ft.', '₹ 5,660/sq.ft.', '₹ 18,333/sq.ft.', '₹ 7,861/sq.ft.', '₹ 5,963/sq.ft.', '₹ 5,578/sq.ft.', '₹ 10,416/sq.ft.', '₹ 7,942/sq.ft.', '₹ 5,215/sq.ft.', '₹ 5,622/sq.ft.', '₹ 11,464/sq.ft.', '₹ 18,333/sq.ft.', '₹ 5,166/sq.ft.', '₹ 9,973/sq.ft.', '₹ 7,534/sq.ft.', '₹ 8,305/sq.ft.', '₹ 8,403/sq.ft.', '₹ 4,717/sq.ft.', '₹ 8,187/sq.ft.', '₹ 12,978/sq.ft.', '₹ 7,647/sq.ft.', '₹ 5,836/sq.ft.', '₹ 9,007/sq.ft.', '₹ 7,407/sq.ft.', '₹ 5,609/sq.ft.', '₹ 179/sq.ft.', '₹ 7,005/sq.ft.', '₹ 10,750/sq.ft.', '₹ 8,456/sq.ft.', '₹ 3,488/sq.ft.', '₹ 689/sq.ft.', '₹ 9,665/sq.ft.', '₹ 18,181/sq.ft.', '₹ 10,000/sq.ft.', '₹ 8,648/sq.ft.', '₹ 5,429/sq.ft.', '₹ 5,413/sq.ft.', '₹ 7,027/sq.ft.', '₹ 6,257/sq.ft.', '₹ 1,858/sq.ft.', '₹ 7,729/sq.ft.', '₹ 11,411/sq.ft.', '₹ 550/sq.ft.', '₹ 8,067/sq.ft.', '₹ 6,276/sq.ft.', '₹ 7,547/sq.ft.', '₹ 2,984/sq.ft.', '₹ 7,500/sq.ft.', '₹ 8,620/sq.ft.', '₹ 6,685/sq.ft.', '₹ 7,619/sq.ft.', '₹ 12,285/sq.ft.', '₹ 6,034/sq.ft.', '₹ 3,935/sq.ft.', '₹ 5,230/sq.ft.', '₹ 6,509/sq.ft.', '₹ 11,200/sq.ft.', '₹ 1,000/sq.ft.', '₹ 6,830/sq.ft.', '₹ 12,500/sq.ft.', '₹ 6,000/sq.ft.', '₹ 5,929/sq.ft.', '₹ 4,838/sq.ft.', '₹ 4,615/sq.ft.', '₹ 3,589/sq.ft.', '₹ 9,130/sq.ft.', '₹ 4,533/sq.ft.', '₹ 10,755/sq.ft.', '₹ 8,627/sq.ft.', '₹ 6,302/sq.ft.', '₹ 3,111/sq.ft.', '₹ 6,728/sq.ft.', '₹ 9,985/sq.ft.', '₹ 6,056/sq.ft.', '₹ 8,000/sq.ft.', '₹ 6,530/sq.ft.', '₹ 11,170/sq.ft.', '₹ 7,022/sq.ft.', '₹ 1,111/sq.ft.', '₹ 4,219/sq.ft.', '₹ 9,941/sq.ft.', '₹ 5,912/sq.ft.', '₹ 7,079/sq.ft.', '₹ 5,192/sq.ft.', '₹ 6,875/sq.ft.', '₹ 10,914/sq.ft.', '₹ 7,870/sq.ft.', '₹ 8,493/sq.ft.', '₹ 5,614/sq.ft.', '₹ 5,504/sq.ft.', '₹ 8,253/sq.ft.', '₹ 7,857/sq.ft.', '₹ 4,516/sq.ft.', '₹ 10,021/sq.ft.', '₹ 7,027/sq.ft.', '₹ 12,264/sq.ft.', '₹ 7,395/sq.ft.', '₹ 8,915/sq.ft.', '₹ 5,447/sq.ft.', '₹ 5,555/sq.ft.', '₹ 8,983/sq.ft.', '₹ 7,900/sq.ft.', '₹ 7,857/sq.ft.', '₹ 6,883/sq.ft.', '₹ 7,884/sq.ft.', '₹ 6,572/sq.ft.', '₹ 4,117/sq.ft.', '₹ 7,108/sq.ft.', '₹ 9,911/sq.ft.', '₹ 8,500/sq.ft.', '₹ 5,961/sq.ft.', '₹ 8,982/sq.ft.', '₹ 5,194/sq.ft.', '₹ 8,622/sq.ft.', '₹ 6,666/sq.ft.', '₹ 2,000/sq.ft.', '₹ 8,157/sq.ft.', '₹ 227/sq.ft.', '₹ 7,066/sq.ft.', '₹ 9,630/sq.ft.', '₹ 9,701/sq.ft.', '₹ 11,612/sq.ft.', '₹ 5,555/sq.ft.', '₹ 6,364/sq.ft.', '₹ 5,732/sq.ft.', '₹ 5,391/sq.ft.', '₹ 11,718/sq.ft.', '₹ 1,000/sq.ft.', '₹ 1,806/sq.ft.', '₹ 4,657/sq.ft.', '₹ 11,428/sq.ft.', '₹ 5,893/sq.ft.', '₹ 4,757/sq.ft.', '₹ 660,377/sq.ft.', '₹ 4,984/sq.ft.', '₹ 8,605/sq.ft.', '₹ 7,272/sq.ft.', '₹ 4,379/sq.ft.', '₹ 11,309/sq.ft.', '₹ 5,000/sq.ft.', '₹ 6,666/sq.ft.', '₹ 7,195/sq.ft.', '₹ 15,342/sq.ft.', '₹ 7,200/sq.ft.', '₹ 6,114/sq.ft.', '₹ 10,642/sq.ft.', '₹ 9,941/sq.ft.', '₹ 8,208/sq.ft.', '₹ 7,825/sq.ft.', '₹ 7,575/sq.ft.', '₹ 9,453/sq.ft.', '₹ 5,509/sq.ft.', '₹ 11,904/sq.ft.', '₹ 7,189/sq.ft.', '₹ 6,598/sq.ft.', '₹ 11,666/sq.ft.', '₹ 5,357/sq.ft.', '₹ 6,684/sq.ft.', '₹ 11,183/sq.ft.', '₹ 6,615/sq.ft.', '₹ 7,812/sq.ft.', '₹ 10,294/sq.ft.', '₹ 7,857/sq.ft.', '₹ 6,250/sq.ft.', '₹ 4,028/sq.ft.', '₹ 5,000/sq.ft.', '₹ 4,285/sq.ft.', '₹ 6,335/sq.ft.', '₹ 9,677/sq.ft.', '₹ 9,677/sq.ft.', '₹ 1,322/sq.ft.', '₹ 4,182/sq.ft.', '₹ 2,400/sq.ft.', '₹ 2,912/sq.ft.', '₹ 6,165/sq.ft.', '₹ 7,823/sq.ft.', '₹ 3,550/sq.ft.', '₹ 5,595/sq.ft.', '₹ 2,699/sq.ft.', '₹ 6,079/sq.ft.', '₹ 15,343/sq.ft.', '₹ 599/sq.ft.', '₹ 7,024/sq.ft.', '₹ 5,840/sq.ft.', '₹ 4,583/sq.ft.', '₹ 6,000/sq.ft.', '₹ 8,750/sq.ft.', '₹ 11,149/sq.ft.', '₹ 3,159/sq.ft.', '₹ 9,090/sq.ft.', '₹ 7,368/sq.ft.', '₹ 11,340/sq.ft.', '₹ 7,861/sq.ft.', '₹ 3,333/sq.ft.', '₹ 16,247/sq.ft.']

In [25]:
characters_to_remove = ["₹ ","/sq.ft.",","]

#regular expression pattern to match and remove special characters and characters
pattern = "[{}]".format("".join(characters_to_remove))

#list to store modified strings
Price_per_sqft = []

for string in price:
    modified_string = re.sub(pattern, "", string)
    Price_per_sqft.append(modified_string)

print(Price_per_sqft)

['9164', '3333', '10130', '16538', '8587', '517', '6200', '18090', '8127', '5139', '8389', '8179', '5660', '18333', '7861', '5963', '5578', '10416', '7942', '5215', '5622', '11464', '18333', '5166', '9973', '7534', '8305', '8403', '4717', '8187', '12978', '7647', '5836', '9007', '7407', '5609', '179', '7005', '10750', '8456', '3488', '689', '9665', '18181', '10000', '8648', '5429', '5413', '7027', '6257', '1858', '7729', '11411', '550', '8067', '6276', '7547', '2984', '7500', '8620', '6685', '7619', '12285', '6034', '3935', '5230', '6509', '11200', '1000', '6830', '12500', '6000', '5929', '4838', '4615', '3589', '9130', '4533', '10755', '8627', '6302', '3111', '6728', '9985', '6056', '8000', '6530', '11170', '7022', '1111', '4219', '9941', '5912', '7079', '5192', '6875', '10914', '7870', '8493', '5614', '5504', '8253', '7857', '4516', '10021', '7027', '12264', '7395', '8915', '5447', '5555', '8983', '7900', '7857', '6883', '7884', '6572', '4117', '7108', '9911', '8500', '5961', '8982', '5194', '8622', '6666', '2000', '8157', '227', '7066', '9630', '9701', '11612', '5555', '6364', '5732', '5391', '11718', '1000', '1806', '4657', '11428', '5893', '4757', '660377', '4984', '8605', '7272', '4379', '11309', '5000', '6666', '7195', '15342', '7200', '6114', '10642', '9941', '8208', '7825', '7575', '9453', '5509', '11904', '7189', '6598', '11666', '5357', '6684', '11183', '6615', '7812', '10294', '7857', '6250', '4028', '5000', '4285', '6335', '9677', '9677', '1322', '4182', '2400', '2912', '6165', '7823', '3550', '5595', '2699', '6079', '15343', '599', '7024', '5840', '4583', '6000', '8750', '11149', '3159', '9090', '7368', '11340', '7861', '3333', '16247']

In [26]:
Price_per_SqFt = [int(x) for x in Price_per_sqft]

print(Price_per_SqFt)

[9164, 3333, 10130, 16538, 8587, 517, 6200, 18090, 8127, 5139, 8389, 8179, 5660, 18333, 7861, 5963, 5578, 10416, 7942, 5215, 5622, 11464, 18333, 5166, 9973, 7534, 8305, 8403, 4717, 8187, 12978, 7647, 5836, 9007, 7407, 5609, 179, 7005, 10750, 8456, 3488, 689, 9665, 18181, 10000, 8648, 5429, 5413, 7027, 6257, 1858, 7729, 11411, 550, 8067, 6276, 7547, 2984, 7500, 8620, 6685, 7619, 12285, 6034, 3935, 5230, 6509, 11200, 1000, 6830, 12500, 6000, 5929, 4838, 4615, 3589, 9130, 4533, 10755, 8627, 6302, 3111, 6728, 9985, 6056, 8000, 6530, 11170, 7022, 1111, 4219, 9941, 5912, 7079, 5192, 6875, 10914, 7870, 8493, 5614, 5504, 8253, 7857, 4516, 10021, 7027, 12264, 7395, 8915, 5447, 5555, 8983, 7900, 7857, 6883, 7884, 6572, 4117, 7108, 9911, 8500, 5961, 8982, 5194, 8622, 6666, 2000, 8157, 227, 7066, 9630, 9701, 11612, 5555, 6364, 5732, 5391, 11718, 1000, 1806, 4657, 11428, 5893, 4757, 660377, 4984, 8605, 7272, 4379, 11309, 5000, 6666, 7195, 15342, 7200, 6114, 10642, 9941, 8208, 7825, 7575, 9453, 5509, 11904, 7189, 6598, 11666, 5357, 6684, 11183, 6615, 7812, 10294, 7857, 6250, 4028, 5000, 4285, 6335, 9677, 9677, 1322, 4182, 2400, 2912, 6165, 7823, 3550, 5595, 2699, 6079, 15343, 599, 7024, 5840, 4583, 6000, 8750, 11149, 3159, 9090, 7368, 11340, 7861, 3333, 16247]

# total sqft

In [27]:
sqft = df['total_sqft'].tolist()

print(sqft)

['491 sq.ft. (46 sq.m.) Carpet Area', '3,000 sq.ft. (279 sq.m.) Plot Area', '691 sq.ft. (64 sq.m.) Carpet Area', '2,600 sq.ft. (242 sq.m.) Built-up Area', '1,083 sq.ft. (101 sq.m.) Super built-up Area', '14,500 sq.ft. (1347 sq.m.) Plot Area', '1,016 sq.ft. (94 sq.m.) Built-up Area', '1,100 sq.ft. (102 sq.m.) Carpet Area', '689 sq.ft. (64 sq.m.) Super built-up Area', '681 sq.ft. (63 sq.m.) Carpet Area', '1,180 sq.ft. (110 sq.m.) Built-up Area', '489 sq.ft. (45 sq.m.) Carpet Area', '2,650 sq.ft. (246 sq.m.) Plot Area', '3,000 sq.ft. (279 sq.m.) Plot Area', '1,043 sq.ft. (97 sq.m.) Super built-up Area', '654 sq.ft. (61 sq.m.) Super built-up Area', '950 sq.ft. (88 sq.m.) Super built-up Area', '576 sq.ft. (54 sq.m.) Carpet Area', '1,108 sq.ft. (103 sq.m.) Built-up Area', '767 sq.ft. (71 sq.m.) Super built-up Area', '1,245 sq.ft. (116 sq.m.) Carpet Area', '785 sq.ft. (73 sq.m.) Carpet Area', '900 sq.ft. (84 sq.m.) Carpet Area', '1,200 sq.ft. (111 sq.m.) Built-up Area', '752 sq.ft. (70 sq.m.) Built-up Area', '1,858 sq.ft. (173 sq.m.) Built-up Area', '903 sq.ft. (84 sq.m.) Carpet Area', '595 sq.ft. (55 sq.m.) Carpet Area', '975 sq.ft. (91 sq.m.) Super built-up Area', '745 sq.ft. (69 sq.m.) Carpet Area', '809 sq.ft. (75 sq.m.) Carpet Area', '1,700 sq.ft. (158 sq.m.) Plot Area', '771 sq.ft. (72 sq.m.) Carpet Area', '1,088 sq.ft. (101 sq.m.) Carpet Area', '1,350 sq.ft. (125 sq.m.) Carpet Area', '410 sq.ft. (38 sq.m.) Carpet Area', '65,340 sq.ft. (6070 sq.m.) Plot Area', '1,356 sq.ft. (126 sq.m.) Super built-up Area', '400 sq.ft. (37 sq.m.) Carpet Area', '745 sq.ft. (69 sq.m.) Carpet Area', '2,150 sq.ft. (200 sq.m.) Built-up Area', '34,847 sq.ft. (3237 sq.m.) Plot Area', '1,345 sq.ft. (125 sq.m.) Built-up Area', '2,200 sq.ft. (204 sq.m.) Carpet Area', '1,050 sq.ft. (98 sq.m.) Super built-up Area', '1,850 sq.ft. (172 sq.m.) Plot Area', '700 sq.ft. (65 sq.m.) Super built-up Area', '920 sq.ft. (85 sq.m.) Built-up Area', '370 sq.ft. (34 sq.m.) Carpet Area', '799 sq.ft. (74 sq.m.) Built-up Area', '3,766 sq.ft. (350 sq.m.) Plot Area', '2,070 sq.ft. (192 sq.m.) Super built-up Area', '843 sq.ft. (78 sq.m.) Carpet Area', '10,000 sq.ft. (929 sq.m.) Plot Area', '1,190 sq.ft. (111 sq.m.) Built-up Area', '1,418 sq.ft. (132 sq.m.) Carpet Area', '689 sq.ft. (64 sq.m.) Built-up Area', '2,177 sq.ft. (202 sq.m.) Plot Area', '1,700 sq.ft. (158 sq.m.) Built-up Area', '1,682 sq.ft. (156 sq.m.) Super built-up Area', '703 sq.ft. (65 sq.m.) Carpet Area', '1,050 sq.ft. (98 sq.m.) Built-up Area', '757 sq.ft. (70 sq.m.) Carpet Area', '580 sq.ft. (54 sq.m.) Built-up Area', '432 sq.ft. (40 sq.m.) Super built-up Area', '975 sq.ft. (91 sq.m.) Carpet Area', '600 sq.ft. (56 sq.m.) Built-up Area', '2,500 sq.ft. (232 sq.m.) Built-up Area', '1,000 sq.ft. (93 sq.m.) Plot Area', '1,098 sq.ft. (102 sq.m.) Super built-up Area', '1,200 sq.ft. (111 sq.m.) Built-up Area', '1,010 sq.ft. (94 sq.m.) Super built-up Area', '877 sq.ft. (81 sq.m.) Carpet Area', '620 sq.ft. (58 sq.m.) Built-up Area', '650 sq.ft. (60 sq.m.) Built-up Area', '3,900 sq.ft. (362 sq.m.) Carpet Area', '1,150 sq.ft. (107 sq.m.) Carpet Area', '1,500 sq.ft. (139 sq.m.) Built-up Area', '697 sq.ft. (65 sq.m.) Carpet Area', '510 sq.ft. (47 sq.m.) Super built-up Area', '868 sq.ft. (81 sq.m.) Built-up Area', '900 sq.ft. (84 sq.m.) Super built-up Area', '535 sq.ft. (50 sq.m.) Carpet Area', '1,050 sq.ft. (98 sq.m.) Super built-up Area', '710 sq.ft. (66 sq.m.) Super built-up Area', '1,500 sq.ft. (139 sq.m.) Plot Area', '1,225 sq.ft. (114 sq.m.) Built-up Area', '3,760 sq.ft. (349 sq.m.) Plot Area', '655 sq.ft. (61 sq.m.) Built-up Area', '900 sq.ft. (84 sq.m.) Plot Area', '948 sq.ft. (88 sq.m.) Built-up Area', '824 sq.ft. (77 sq.m.) Super built-up Area', '1,353 sq.ft. (126 sq.m.) Carpet Area', '678 sq.ft. (63 sq.m.) Built-up Area', '963 sq.ft. (89 sq.m.) Super built-up Area', '800 sq.ft. (74 sq.m.) Built-up Area', '678 sq.ft. (63 sq.m.) Super built-up Area', '540 sq.ft. (50 sq.m.) Built-up Area', '577 sq.ft. (54 sq.m.) Carpet Area', '659 sq.ft. (61 sq.m.) Built-up Area', '545 sq.ft. (51 sq.m.) Super built-up Area', '1,020 sq.ft. (95 sq.m.) Super built-up Area', '700 sq.ft. (65 sq.m.) Built-up Area', '930 sq.ft. (86 sq.m.) Super built-up Area', '698 sq.ft. (65 sq.m.) Super built-up Area', '970 sq.ft. (90 sq.m.) Super built-up Area', '830 sq.ft. (77 sq.m.) Super built-up Area', '933 sq.ft. (87 sq.m.) Carpet Area', '1,346 sq.ft. (125 sq.m.) Carpet Area', '1,377 sq.ft. (128 sq.m.) Built-up Area', '1,530 sq.ft. (142 sq.m.) Built-up Area', '906 sq.ft. (84 sq.m.) Built-up Area', '1,000 sq.ft. (93 sq.m.) Super built-up Area', '560 sq.ft. (52 sq.m.) Carpet Area', '1,075 sq.ft. (100 sq.m.) Built-up Area', '520 sq.ft. (48 sq.m.) Carpet Area', '1,065 sq.ft. (99 sq.m.) Super built-up Area', '680 sq.ft. (63 sq.m.) Carpet Area', '3,033 sq.ft. (282 sq.m.) Plot Area', '912 sq.ft. (85 sq.m.) Built-up Area', '2,000 sq.ft. (186 sq.m.) Plot Area', '520 sq.ft. (48 sq.m.) Super built-up Area', '668 sq.ft. (62 sq.m.) Carpet Area', '770 sq.ft. (72 sq.m.) Carpet Area', '951 sq.ft. (88 sq.m.) Super built-up Area', '1,500 sq.ft. (139 sq.m.) Plot Area', '20,000 sq.ft. (1858 sq.m.) Plot Area', '1,140 sq.ft. (106 sq.m.) Carpet Area', '20,000 sq.ft. (1858 sq.m.) Plot Area', '750 sq.ft. (70 sq.m.) Carpet Area', '623 sq.ft. (58 sq.m.) Carpet Area', '670 sq.ft. (62 sq.m.) Built-up Area', '930 sq.ft. (86 sq.m.) Carpet Area', '450 sq.ft. (42 sq.m.) Carpet Area', '1,257 sq.ft. (117 sq.m.) Carpet Area', '785 sq.ft. (73 sq.m.) Super built-up Area', '1,085 sq.ft. (101 sq.m.) Built-up Area', '704 sq.ft. (65 sq.m.) Carpet Area', '6,000 sq.ft. (557 sq.m.) Plot Area', '4,317 sq.ft. (401 sq.m.) Plot Area', '773 sq.ft. (72 sq.m.) Built-up Area', '1,750 sq.ft. (163 sq.m.) Carpet Area', '1,018 sq.ft. (95 sq.m.) Super built-up Area', '1,997 sq.ft. (186 sq.m.) Plot Area', '53 sq.ft. (5 sq.m.) Plot Area', '642 sq.ft. (60 sq.m.) Super built-up Area', '3,138 sq.ft. (292 sq.m.) Plot Area', '550 sq.ft. (51 sq.m.) Carpet Area', '685 sq.ft. (64 sq.m.) Built-up Area', '4,200 sq.ft. (390 sq.m.) Built-up Area', '1,000 sq.ft. (93 sq.m.) Super built-up Area', '1,200 sq.ft. (111 sq.m.) Super built-up Area', '945 sq.ft. (88 sq.m.) Built-up Area', '2,933 sq.ft. (272 sq.m.) Plot Area', '1,250 sq.ft. (116 sq.m.) Built-up Area', '1,063 sq.ft. (99 sq.m.) Built-up Area', '1,400 sq.ft. (130 sq.m.) Super built-up Area', '824 sq.ft. (77 sq.m.) Super built-up Area', '865 sq.ft. (80 sq.m.) Built-up Area', '869 sq.ft. (81 sq.m.) Super built-up Area', '924 sq.ft. (86 sq.m.) Carpet Area', '952 sq.ft. (88 sq.m.) Carpet Area', '1,089 sq.ft. (101 sq.m.) Super built-up Area', '1,050 sq.ft. (98 sq.m.) Carpet Area', '918 sq.ft. (85 sq.m.) Carpet Area', '985 sq.ft. (92 sq.m.) Super built-up Area', '1,500 sq.ft. (139 sq.m.) Carpet Area', '1,400 sq.ft. (130 sq.m.) Super built-up Area', '748 sq.ft. (69 sq.m.) Built-up Area', '921 sq.ft. (86 sq.m.) Carpet Area', '650 sq.ft. (60 sq.m.) Carpet Area', '640 sq.ft. (59 sq.m.) Built-up Area', '3,400 sq.ft. (316 sq.m.) Plot Area', '700 sq.ft. (65 sq.m.) Carpet Area', '480 sq.ft. (45 sq.m.) Carpet Area', '993 sq.ft. (92 sq.m.) Built-up Area', '600 sq.ft. (56 sq.m.) Carpet Area', '945 sq.ft. (88 sq.m.) Carpet Area', '584 sq.ft. (54 sq.m.) Built-up Area', '620 sq.ft. (58 sq.m.) Carpet Area', '620 sq.ft. (58 sq.m.) Carpet Area', '3,100 sq.ft. (288 sq.m.) Plot Area', '538 sq.ft. (50 sq.m.) Carpet Area', '3,100 sq.ft. (288 sq.m.) Plot Area', '1,030 sq.ft. (96 sq.m.) Carpet Area', '665 sq.ft. (62 sq.m.) Carpet Area', '588 sq.ft. (55 sq.m.) Carpet Area', '845 sq.ft. (79 sq.m.) Built-up Area', '965 sq.ft. (90 sq.m.) Built-up Area', '852 sq.ft. (79 sq.m.) Built-up Area', '987 sq.ft. (92 sq.m.) Super built-up Area', '2,053 sq.ft. (191 sq.m.) Built-up Area', '1,000 sq.ft. (93 sq.m.) Plot Area', '1,566 sq.ft. (145 sq.m.) Built-up Area', '728 sq.ft. (68 sq.m.) Super built-up Area', '1,200 sq.ft. (111 sq.m.) Plot Area', '500 sq.ft. (46 sq.m.) Super built-up Area', '480 sq.ft. (45 sq.m.) Carpet Area', '287 sq.ft. (27 sq.m.) Carpet Area', '4,747 sq.ft. (441 sq.m.) Carpet Area', '1,320 sq.ft. (123 sq.m.) Carpet Area', '570 sq.ft. (53 sq.m.) Built-up Area', '970 sq.ft. (90 sq.m.) Carpet Area', '954 sq.ft. (89 sq.m.) Carpet Area', '360 sq.ft. (33 sq.m.) Carpet Area', '1,015 sq.ft. (94 sq.m.) Carpet Area']

In [28]:
characters_to_remove = ["sq.ft."," sq.m.) Built-up Area",","]

#regular expression pattern to match and remove special characters and characters
pattern = "[{}]".format("".join(characters_to_remove))

#list to store modified strings
total = []

for string in sqft:
    modified_string = re.sub(pattern, "", string)
    total.append(modified_string)

print(total)

['491(46C', '3000(279Po', '691(64C', '2600(242-', '1083(101Sb-', '14500(1347Po', '1016(94-', '1100(102C', '689(64Sb-', '681(63C', '1180(110-', '489(45C', '2650(246Po', '3000(279Po', '1043(97Sb-', '654(61Sb-', '950(88Sb-', '576(54C', '1108(103-', '767(71Sb-', '1245(116C', '785(73C', '900(84C', '1200(111-', '752(70-', '1858(173-', '903(84C', '595(55C', '975(91Sb-', '745(69C', '809(75C', '1700(158Po', '771(72C', '1088(101C', '1350(125C', '410(38C', '65340(6070Po', '1356(126Sb-', '400(37C', '745(69C', '2150(200-', '34847(3237Po', '1345(125-', '2200(204C', '1050(98Sb-', '1850(172Po', '700(65Sb-', '920(85-', '370(34C', '799(74-', '3766(350Po', '2070(192Sb-', '843(78C', '10000(929Po', '1190(111-', '1418(132C', '689(64-', '2177(202Po', '1700(158-', '1682(156Sb-', '703(65C', '1050(98-', '757(70C', '580(54-', '432(40Sb-', '975(91C', '600(56-', '2500(232-', '1000(93Po', '1098(102Sb-', '1200(111-', '1010(94Sb-', '877(81C', '620(58-', '650(60-', '3900(362C', '1150(107C', '1500(139-', '697(65C', '510(47Sb-', '868(81-', '900(84Sb-', '535(50C', '1050(98Sb-', '710(66Sb-', '1500(139Po', '1225(114-', '3760(349Po', '655(61-', '900(84Po', '948(88-', '824(77Sb-', '1353(126C', '678(63-', '963(89Sb-', '800(74-', '678(63Sb-', '540(50-', '577(54C', '659(61-', '545(51Sb-', '1020(95Sb-', '700(65-', '930(86Sb-', '698(65Sb-', '970(90Sb-', '830(77Sb-', '933(87C', '1346(125C', '1377(128-', '1530(142-', '906(84-', '1000(93Sb-', '560(52C', '1075(100-', '520(48C', '1065(99Sb-', '680(63C', '3033(282Po', '912(85-', '2000(186Po', '520(48Sb-', '668(62C', '770(72C', '951(88Sb-', '1500(139Po', '20000(1858Po', '1140(106C', '20000(1858Po', '750(70C', '623(58C', '670(62-', '930(86C', '450(42C', '1257(117C', '785(73Sb-', '1085(101-', '704(65C', '6000(557Po', '4317(401Po', '773(72-', '1750(163C', '1018(95Sb-', '1997(186Po', '53(5Po', '642(60Sb-', '3138(292Po', '550(51C', '685(64-', '4200(390-', '1000(93Sb-', '1200(111Sb-', '945(88-', '2933(272Po', '1250(116-', '1063(99-', '1400(130Sb-', '824(77Sb-', '865(80-', '869(81Sb-', '924(86C', '952(88C', '1089(101Sb-', '1050(98C', '918(85C', '985(92Sb-', '1500(139C', '1400(130Sb-', '748(69-', '921(86C', '650(60C', '640(59-', '3400(316Po', '700(65C', '480(45C', '993(92-', '600(56C', '945(88C', '584(54-', '620(58C', '620(58C', '3100(288Po', '538(50C', '3100(288Po', '1030(96C', '665(62C', '588(55C', '845(79-', '965(90-', '852(79-', '987(92Sb-', '2053(191-', '1000(93Po', '1566(145-', '728(68Sb-', '1200(111Po', '500(46Sb-', '480(45C', '287(27C', '4747(441C', '1320(123C', '570(53-', '970(90C', '954(89C', '360(33C', '1015(94C']

In [29]:
pattern = "\(.*$"

#list to store modified strings
total_sqft = []

for string in total:
    modified_string = re.sub(pattern, "", string)
    total_sqft.append(modified_string)

print(total_sqft)

['491', '3000', '691', '2600', '1083', '14500', '1016', '1100', '689', '681', '1180', '489', '2650', '3000', '1043', '654', '950', '576', '1108', '767', '1245', '785', '900', '1200', '752', '1858', '903', '595', '975', '745', '809', '1700', '771', '1088', '1350', '410', '65340', '1356', '400', '745', '2150', '34847', '1345', '2200', '1050', '1850', '700', '920', '370', '799', '3766', '2070', '843', '10000', '1190', '1418', '689', '2177', '1700', '1682', '703', '1050', '757', '580', '432', '975', '600', '2500', '1000', '1098', '1200', '1010', '877', '620', '650', '3900', '1150', '1500', '697', '510', '868', '900', '535', '1050', '710', '1500', '1225', '3760', '655', '900', '948', '824', '1353', '678', '963', '800', '678', '540', '577', '659', '545', '1020', '700', '930', '698', '970', '830', '933', '1346', '1377', '1530', '906', '1000', '560', '1075', '520', '1065', '680', '3033', '912', '2000', '520', '668', '770', '951', '1500', '20000', '1140', '20000', '750', '623', '670', '930', '450', '1257', '785', '1085', '704', '6000', '4317', '773', '1750', '1018', '1997', '53', '642', '3138', '550', '685', '4200', '1000', '1200', '945', '2933', '1250', '1063', '1400', '824', '865', '869', '924', '952', '1089', '1050', '918', '985', '1500', '1400', '748', '921', '650', '640', '3400', '700', '480', '993', '600', '945', '584', '620', '620', '3100', '538', '3100', '1030', '665', '588', '845', '965', '852', '987', '2053', '1000', '1566', '728', '1200', '500', '480', '287', '4747', '1320', '570', '970', '954', '360', '1015']

In [30]:
Total_SqFt = [int(x) for x in total_sqft]

print(Total_SqFt)

[491, 3000, 691, 2600, 1083, 14500, 1016, 1100, 689, 681, 1180, 489, 2650, 3000, 1043, 654, 950, 576, 1108, 767, 1245, 785, 900, 1200, 752, 1858, 903, 595, 975, 745, 809, 1700, 771, 1088, 1350, 410, 65340, 1356, 400, 745, 2150, 34847, 1345, 2200, 1050, 1850, 700, 920, 370, 799, 3766, 2070, 843, 10000, 1190, 1418, 689, 2177, 1700, 1682, 703, 1050, 757, 580, 432, 975, 600, 2500, 1000, 1098, 1200, 1010, 877, 620, 650, 3900, 1150, 1500, 697, 510, 868, 900, 535, 1050, 710, 1500, 1225, 3760, 655, 900, 948, 824, 1353, 678, 963, 800, 678, 540, 577, 659, 545, 1020, 700, 930, 698, 970, 830, 933, 1346, 1377, 1530, 906, 1000, 560, 1075, 520, 1065, 680, 3033, 912, 2000, 520, 668, 770, 951, 1500, 20000, 1140, 20000, 750, 623, 670, 930, 450, 1257, 785, 1085, 704, 6000, 4317, 773, 1750, 1018, 1997, 53, 642, 3138, 550, 685, 4200, 1000, 1200, 945, 2933, 1250, 1063, 1400, 824, 865, 869, 924, 952, 1089, 1050, 918, 985, 1500, 1400, 748, 921, 650, 640, 3400, 700, 480, 993, 600, 945, 584, 620, 620, 3100, 538, 3100, 1030, 665, 588, 845, 965, 852, 987, 2053, 1000, 1566, 728, 1200, 500, 480, 287, 4747, 1320, 570, 970, 954, 360, 1015]

# Total price

In [31]:
total_price = df['price'].tolist()

print(total_price)

['₹ 45 L₹ 9,164/sq.ft.', '₹ 1 Cr₹ 3,333/sq.ft.', '₹ 70 L₹ 10,130/sq.ft.', '₹ 4.3 Cr₹ 16,538/sq.ft.', '₹ 93 L₹ 8,587/sq.ft.', '₹ 75 L₹ 517/sq.ft.', '₹ 63 L₹ 6,200/sq.ft.', '₹ 1.99 Cr₹ 18,090/sq.ft.', '₹ 56 L₹ 8,127/sq.ft.', '₹ 35 L₹ 5,139/sq.ft.', '₹ 99 L₹ 8,389/sq.ft.', '₹ 40 L₹ 8,179/sq.ft.', '₹ 1.5 Cr₹ 5,660/sq.ft.', '₹ 5.5 Cr₹ 18,333/sq.ft.', '₹ 82 L₹ 7,861/sq.ft.', '₹ 39 L₹ 5,963/sq.ft.', '₹ 53 L₹ 5,578/sq.ft.', '₹ 60 L₹ 10,416/sq.ft.', '₹ 88 L₹ 7,942/sq.ft.', '₹ 40 L₹ 5,215/sq.ft.', '₹ 70 L₹ 5,622/sq.ft.', '₹ 90 L₹ 11,464/sq.ft.', '₹ 1.65 Cr₹ 18,333/sq.ft.', '₹ 62 L₹ 5,166/sq.ft.', '₹ 75 L₹ 9,973/sq.ft.', '₹ 1.4 Cr₹ 7,534/sq.ft.', '₹ 75 L₹ 8,305/sq.ft.', '₹ 50 L₹ 8,403/sq.ft.', '₹ 44 L₹ 4,717/sq.ft.', '₹ 61 L₹ 8,187/sq.ft.', '₹ 1.05 Cr₹ 12,978/sq.ft.', '₹ 1.3 Cr₹ 7,647/sq.ft.', '₹ 45 L₹ 5,836/sq.ft.', '₹ 98 L₹ 9,007/sq.ft.', '₹ 1 Cr₹ 7,407/sq.ft.', '₹ 23 L₹ 5,609/sq.ft.', '₹ 1.17 Cr₹ 179/sq.ft.', '₹ 92 L₹ 7,005/sq.ft.', '₹ 43 L₹ 10,750/sq.ft.', '₹ 63 L₹ 8,456/sq.ft.', '₹ 75 L₹ 3,488/sq.ft.', '₹ 2.4 Cr₹ 689/sq.ft.', '₹ 1.3 Cr₹ 9,665/sq.ft.', '₹ 4 Cr₹ 18,181/sq.ft.', '₹ 1.05 Cr₹ 10,000/sq.ft.', '₹ 1.6 Cr₹ 8,648/sq.ft.', '₹ 38 L₹ 5,429/sq.ft.', '₹ 49.8 L₹ 5,413/sq.ft.', '₹ 26 L₹ 7,027/sq.ft.', '₹ 50 L₹ 6,257/sq.ft.', '₹ 70 L₹ 1,858/sq.ft.', '₹ 1.6 Cr₹ 7,729/sq.ft.', '₹ 98 L₹ 11,411/sq.ft.', '₹ 55 L₹ 550/sq.ft.', '₹ 96 L₹ 8,067/sq.ft.', '₹ 89 L₹ 6,276/sq.ft.', '₹ 52 L₹ 7,547/sq.ft.', '₹ 65 L₹ 2,984/sq.ft.', '₹ 90 L₹ 7,500/sq.ft.', '₹ 1.45 Cr₹ 8,620/sq.ft.', '₹ 47 L₹ 6,685/sq.ft.', '₹ 80 L₹ 7,619/sq.ft.', '₹ 93 L₹ 12,285/sq.ft.', '₹ 35 L₹ 6,034/sq.ft.', '₹ 16.5 L₹ 3,935/sq.ft.', '₹ 51 L₹ 5,230/sq.ft.', '₹ 28.9 L₹ 6,509/sq.ft.', '₹ 2.8 Cr₹ 11,200/sq.ft.', '₹ 10 L₹ 1,000/sq.ft.', '₹ 70 L₹ 6,830/sq.ft.', '₹ 1.5 Cr₹ 12,500/sq.ft.', '₹ 45 L₹ 6,000/sq.ft.', '₹ 52 L₹ 5,929/sq.ft.', '₹ 30 L₹ 4,838/sq.ft.', '₹ 30 L₹ 4,615/sq.ft.', '₹ 1.4 Cr₹ 3,589/sq.ft.', '₹ 1.05 Cr₹ 9,130/sq.ft.', '₹ 68 L₹ 4,533/sq.ft.', '₹ 75 L₹ 10,755/sq.ft.', '₹ 44 L₹ 8,627/sq.ft.', '₹ 54.7 L₹ 6,302/sq.ft.', '₹ 28 L₹ 3,111/sq.ft.', '₹ 36 L₹ 6,728/sq.ft.', '₹ 69 L₹ 9,985/sq.ft.', '₹ 43 L₹ 6,056/sq.ft.', '₹ 1.2 Cr₹ 8,000/sq.ft.', '₹ 80 L₹ 6,530/sq.ft.', '₹ 4.2 Cr₹ 11,170/sq.ft.', '₹ 46 L₹ 7,022/sq.ft.', '₹ 10 L₹ 1,111/sq.ft.', '₹ 40 L₹ 4,219/sq.ft.', '₹ 82 L₹ 9,941/sq.ft.', '₹ 95 L₹ 5,912/sq.ft.', '₹ 48 L₹ 7,079/sq.ft.', '₹ 50 L₹ 5,192/sq.ft.', '₹ 55 L₹ 6,875/sq.ft.', '₹ 74 L₹ 10,914/sq.ft.', '₹ 42.5 L₹ 7,870/sq.ft.', '₹ 49 L₹ 8,493/sq.ft.', '₹ 37 L₹ 5,614/sq.ft.', '₹ 30 L₹ 5,504/sq.ft.', '₹ 60 L₹ 8,253/sq.ft.', '₹ 55 L₹ 7,857/sq.ft.', '₹ 42 L₹ 4,516/sq.ft.', '₹ 70 L₹ 10,021/sq.ft.', '₹ 52 L₹ 7,027/sq.ft.', '₹ 78 L₹ 12,264/sq.ft.', '₹ 69 L₹ 7,395/sq.ft.', '₹ 1.2 Cr₹ 8,915/sq.ft.', '₹ 75 L₹ 5,447/sq.ft.', '₹ 85 L₹ 5,555/sq.ft.', '₹ 79.39 L₹ 8,983/sq.ft.', '₹ 79 L₹ 7,900/sq.ft.', '₹ 44 L₹ 7,857/sq.ft.', '₹ 74 L₹ 6,883/sq.ft.', '₹ 41 L₹ 7,884/sq.ft.', '₹ 70 L₹ 6,572/sq.ft.', '₹ 28 L₹ 4,117/sq.ft.', '₹ 2.95 Cr₹ 7,108/sq.ft.', '₹ 67 L₹ 9,911/sq.ft.', '₹ 1.7 Cr₹ 8,500/sq.ft.', '₹ 31 L₹ 5,961/sq.ft.', '₹ 60 L₹ 8,982/sq.ft.', '₹ 39.5 L₹ 5,194/sq.ft.', '₹ 82 L₹ 8,622/sq.ft.', '₹ 1 Cr₹ 6,666/sq.ft.', '₹ 4 Cr₹ 2,000/sq.ft.', '₹ 93 L₹ 8,157/sq.ft.', '₹ 50 L₹ 227/sq.ft.', '₹ 53 L₹ 7,066/sq.ft.', '₹ 60 L₹ 9,630/sq.ft.', '₹ 65 L₹ 9,701/sq.ft.', '₹ 1.08 Cr₹ 11,612/sq.ft.', '₹ 25 L₹ 5,555/sq.ft.', '₹ 80 L₹ 6,364/sq.ft.', '₹ 45 L₹ 5,732/sq.ft.', '₹ 58.5 L₹ 5,391/sq.ft.', '₹ 82.5 L₹ 11,718/sq.ft.', '₹ 60 L₹ 1,000/sq.ft.', '₹ 78 L₹ 1,806/sq.ft.', '₹ 36 L₹ 4,657/sq.ft.', '₹ 2 Cr₹ 11,428/sq.ft.', '₹ 55 L₹ 5,893/sq.ft.', '₹ 95 L₹ 4,757/sq.ft.', '₹ 3.5 Cr₹ 660,377/sq.ft.', '₹ 34 L₹ 4,984/sq.ft.', '₹ 3.25 Cr₹ 8,605/sq.ft.', '₹ 35 L₹ 7,272/sq.ft.', '₹ 30 L₹ 4,379/sq.ft.', '₹ 4.75 Cr₹ 11,309/sq.ft.', '₹ 50 L₹ 5,000/sq.ft.', '₹ 80 L₹ 6,666/sq.ft.', '₹ 68 L₹ 7,195/sq.ft.', '₹ 4.5 Cr₹ 15,342/sq.ft.', '₹ 90 L₹ 7,200/sq.ft.', '₹ 65 L₹ 6,114/sq.ft.', '₹ 1.49 Cr₹ 10,642/sq.ft.', '₹ 82 L₹ 9,941/sq.ft.', '₹ 71 L₹ 8,208/sq.ft.', '₹ 68 L₹ 7,825/sq.ft.', '₹ 70 L₹ 7,575/sq.ft.', '₹ 90 L₹ 9,453/sq.ft.', '₹ 60 L₹ 5,509/sq.ft.', '₹ 1.25 Cr₹ 11,904/sq.ft.', '₹ 66 L₹ 7,189/sq.ft.', '₹ 65 L₹ 6,598/sq.ft.', '₹ 1.75 Cr₹ 11,666/sq.ft.', '₹ 75 L₹ 5,357/sq.ft.', '₹ 50 L₹ 6,684/sq.ft.', '₹ 1.03 Cr₹ 11,183/sq.ft.', '₹ 43 L₹ 6,615/sq.ft.', '₹ 51 L₹ 7,812/sq.ft.', '₹ 3.5 Cr₹ 10,294/sq.ft.', '₹ 55 L₹ 7,857/sq.ft.', '₹ 30 L₹ 6,250/sq.ft.', '₹ 40 L₹ 4,028/sq.ft.', '₹ 30 L₹ 5,000/sq.ft.', '₹ 40.5 L₹ 4,285/sq.ft.', '₹ 37 L₹ 6,335/sq.ft.', '₹ 60 L₹ 9,677/sq.ft.', '₹ 60 L₹ 9,677/sq.ft.', '₹ 46 L₹ 1,322/sq.ft.', '₹ 22.5 L₹ 4,182/sq.ft.', '₹ 82 L₹ 2,400/sq.ft.', '₹ 30 L₹ 2,912/sq.ft.', '₹ 41 L₹ 6,165/sq.ft.', '₹ 46 L₹ 7,823/sq.ft.', '₹ 30 L₹ 3,550/sq.ft.', '₹ 54 L₹ 5,595/sq.ft.', '₹ 23 L₹ 2,699/sq.ft.', '₹ 60 L₹ 6,079/sq.ft.', '₹ 3.15 Cr₹ 15,343/sq.ft.', '₹ 6 L₹ 599/sq.ft.', '₹ 1.1 Cr₹ 7,024/sq.ft.', '₹ 42.52 L₹ 5,840/sq.ft.', '₹ 55 L₹ 4,583/sq.ft.', '₹ 30 L₹ 6,000/sq.ft.', '₹ 42 L₹ 8,750/sq.ft.', '₹ 32 L₹ 11,149/sq.ft.', '₹ 1.5 Cr₹ 3,159/sq.ft.', '₹ 1.2 Cr₹ 9,090/sq.ft.', '₹ 42 L₹ 7,368/sq.ft.', '₹ 1.1 Cr₹ 11,340/sq.ft.', '₹ 75 L₹ 7,861/sq.ft.', '₹ 12 L₹ 3,333/sq.ft.', '₹ 1.65 Cr₹ 16,247/sq.ft.']

In [32]:
for price in total_price:
    match = re.search(r'₹ (.*)', price)
    print(match.group(1))

45 L₹ 9,164/sq.ft.
1 Cr₹ 3,333/sq.ft.
70 L₹ 10,130/sq.ft.
4.3 Cr₹ 16,538/sq.ft.
93 L₹ 8,587/sq.ft.
75 L₹ 517/sq.ft.
63 L₹ 6,200/sq.ft.
1.99 Cr₹ 18,090/sq.ft.
56 L₹ 8,127/sq.ft.
35 L₹ 5,139/sq.ft.
99 L₹ 8,389/sq.ft.
40 L₹ 8,179/sq.ft.
1.5 Cr₹ 5,660/sq.ft.
5.5 Cr₹ 18,333/sq.ft.
82 L₹ 7,861/sq.ft.
39 L₹ 5,963/sq.ft.
53 L₹ 5,578/sq.ft.
60 L₹ 10,416/sq.ft.
88 L₹ 7,942/sq.ft.
40 L₹ 5,215/sq.ft.
70 L₹ 5,622/sq.ft.
90 L₹ 11,464/sq.ft.
1.65 Cr₹ 18,333/sq.ft.
62 L₹ 5,166/sq.ft.
75 L₹ 9,973/sq.ft.
1.4 Cr₹ 7,534/sq.ft.
75 L₹ 8,305/sq.ft.
50 L₹ 8,403/sq.ft.
44 L₹ 4,717/sq.ft.
61 L₹ 8,187/sq.ft.
1.05 Cr₹ 12,978/sq.ft.
1.3 Cr₹ 7,647/sq.ft.
45 L₹ 5,836/sq.ft.
98 L₹ 9,007/sq.ft.
1 Cr₹ 7,407/sq.ft.
23 L₹ 5,609/sq.ft.
1.17 Cr₹ 179/sq.ft.
92 L₹ 7,005/sq.ft.
43 L₹ 10,750/sq.ft.
63 L₹ 8,456/sq.ft.
75 L₹ 3,488/sq.ft.
2.4 Cr₹ 689/sq.ft.
1.3 Cr₹ 9,665/sq.ft.
4 Cr₹ 18,181/sq.ft.
1.05 Cr₹ 10,000/sq.ft.
1.6 Cr₹ 8,648/sq.ft.
38 L₹ 5,429/sq.ft.
49.8 L₹ 5,413/sq.ft.
26 L₹ 7,027/sq.ft.
50 L₹ 6,257/sq.ft.
70 L₹ 1,858/sq.ft.
1.6 Cr₹ 7,729/sq.ft.
98 L₹ 11,411/sq.ft.
55 L₹ 550/sq.ft.
96 L₹ 8,067/sq.ft.
89 L₹ 6,276/sq.ft.
52 L₹ 7,547/sq.ft.
65 L₹ 2,984/sq.ft.
90 L₹ 7,500/sq.ft.
1.45 Cr₹ 8,620/sq.ft.
47 L₹ 6,685/sq.ft.
80 L₹ 7,619/sq.ft.
93 L₹ 12,285/sq.ft.
35 L₹ 6,034/sq.ft.
16.5 L₹ 3,935/sq.ft.
51 L₹ 5,230/sq.ft.
28.9 L₹ 6,509/sq.ft.
2.8 Cr₹ 11,200/sq.ft.
10 L₹ 1,000/sq.ft.
70 L₹ 6,830/sq.ft.
1.5 Cr₹ 12,500/sq.ft.
45 L₹ 6,000/sq.ft.
52 L₹ 5,929/sq.ft.
30 L₹ 4,838/sq.ft.
30 L₹ 4,615/sq.ft.
1.4 Cr₹ 3,589/sq.ft.
1.05 Cr₹ 9,130/sq.ft.
68 L₹ 4,533/sq.ft.
75 L₹ 10,755/sq.ft.
44 L₹ 8,627/sq.ft.
54.7 L₹ 6,302/sq.ft.
28 L₹ 3,111/sq.ft.
36 L₹ 6,728/sq.ft.
69 L₹ 9,985/sq.ft.
43 L₹ 6,056/sq.ft.
1.2 Cr₹ 8,000/sq.ft.
80 L₹ 6,530/sq.ft.
4.2 Cr₹ 11,170/sq.ft.
46 L₹ 7,022/sq.ft.
10 L₹ 1,111/sq.ft.
40 L₹ 4,219/sq.ft.
82 L₹ 9,941/sq.ft.
95 L₹ 5,912/sq.ft.
48 L₹ 7,079/sq.ft.
50 L₹ 5,192/sq.ft.
55 L₹ 6,875/sq.ft.
74 L₹ 10,914/sq.ft.
42.5 L₹ 7,870/sq.ft.
49 L₹ 8,493/sq.ft.
37 L₹ 5,614/sq.ft.
30 L₹ 5,504/sq.ft.
60 L₹ 8,253/sq.ft.
55 L₹ 7,857/sq.ft.
42 L₹ 4,516/sq.ft.
70 L₹ 10,021/sq.ft.
52 L₹ 7,027/sq.ft.
78 L₹ 12,264/sq.ft.
69 L₹ 7,395/sq.ft.
1.2 Cr₹ 8,915/sq.ft.
75 L₹ 5,447/sq.ft.
85 L₹ 5,555/sq.ft.
79.39 L₹ 8,983/sq.ft.
79 L₹ 7,900/sq.ft.
44 L₹ 7,857/sq.ft.
74 L₹ 6,883/sq.ft.
41 L₹ 7,884/sq.ft.
70 L₹ 6,572/sq.ft.
28 L₹ 4,117/sq.ft.
2.95 Cr₹ 7,108/sq.ft.
67 L₹ 9,911/sq.ft.
1.7 Cr₹ 8,500/sq.ft.
31 L₹ 5,961/sq.ft.
60 L₹ 8,982/sq.ft.
39.5 L₹ 5,194/sq.ft.
82 L₹ 8,622/sq.ft.
1 Cr₹ 6,666/sq.ft.
4 Cr₹ 2,000/sq.ft.
93 L₹ 8,157/sq.ft.
50 L₹ 227/sq.ft.
53 L₹ 7,066/sq.ft.
60 L₹ 9,630/sq.ft.
65 L₹ 9,701/sq.ft.
1.08 Cr₹ 11,612/sq.ft.
25 L₹ 5,555/sq.ft.
80 L₹ 6,364/sq.ft.
45 L₹ 5,732/sq.ft.
58.5 L₹ 5,391/sq.ft.
82.5 L₹ 11,718/sq.ft.
60 L₹ 1,000/sq.ft.
78 L₹ 1,806/sq.ft.
36 L₹ 4,657/sq.ft.
2 Cr₹ 11,428/sq.ft.
55 L₹ 5,893/sq.ft.
95 L₹ 4,757/sq.ft.
3.5 Cr₹ 660,377/sq.ft.
34 L₹ 4,984/sq.ft.
3.25 Cr₹ 8,605/sq.ft.
35 L₹ 7,272/sq.ft.
30 L₹ 4,379/sq.ft.
4.75 Cr₹ 11,309/sq.ft.
50 L₹ 5,000/sq.ft.
80 L₹ 6,666/sq.ft.
68 L₹ 7,195/sq.ft.
4.5 Cr₹ 15,342/sq.ft.
90 L₹ 7,200/sq.ft.
65 L₹ 6,114/sq.ft.
1.49 Cr₹ 10,642/sq.ft.
82 L₹ 9,941/sq.ft.
71 L₹ 8,208/sq.ft.
68 L₹ 7,825/sq.ft.
70 L₹ 7,575/sq.ft.
90 L₹ 9,453/sq.ft.
60 L₹ 5,509/sq.ft.
1.25 Cr₹ 11,904/sq.ft.
66 L₹ 7,189/sq.ft.
65 L₹ 6,598/sq.ft.
1.75 Cr₹ 11,666/sq.ft.
75 L₹ 5,357/sq.ft.
50 L₹ 6,684/sq.ft.
1.03 Cr₹ 11,183/sq.ft.
43 L₹ 6,615/sq.ft.
51 L₹ 7,812/sq.ft.
3.5 Cr₹ 10,294/sq.ft.
55 L₹ 7,857/sq.ft.
30 L₹ 6,250/sq.ft.
40 L₹ 4,028/sq.ft.
30 L₹ 5,000/sq.ft.
40.5 L₹ 4,285/sq.ft.
37 L₹ 6,335/sq.ft.
60 L₹ 9,677/sq.ft.
60 L₹ 9,677/sq.ft.
46 L₹ 1,322/sq.ft.
22.5 L₹ 4,182/sq.ft.
82 L₹ 2,400/sq.ft.
30 L₹ 2,912/sq.ft.
41 L₹ 6,165/sq.ft.
46 L₹ 7,823/sq.ft.
30 L₹ 3,550/sq.ft.
54 L₹ 5,595/sq.ft.
23 L₹ 2,699/sq.ft.
60 L₹ 6,079/sq.ft.
3.15 Cr₹ 15,343/sq.ft.
6 L₹ 599/sq.ft.
1.1 Cr₹ 7,024/sq.ft.
42.52 L₹ 5,840/sq.ft.
55 L₹ 4,583/sq.ft.
30 L₹ 6,000/sq.ft.
42 L₹ 8,750/sq.ft.
32 L₹ 11,149/sq.ft.
1.5 Cr₹ 3,159/sq.ft.
1.2 Cr₹ 9,090/sq.ft.
42 L₹ 7,368/sq.ft.
1.1 Cr₹ 11,340/sq.ft.
75 L₹ 7,861/sq.ft.
12 L₹ 3,333/sq.ft.
1.65 Cr₹ 16,247/sq.ft.

In [33]:
for price in total_price:
    matches = re.findall(r'₹\s*\d+[.,]?\d*', price)
    print(matches)

['₹ 45', '₹ 9,164']
['₹ 1', '₹ 3,333']
['₹ 70', '₹ 10,130']
['₹ 4.3', '₹ 16,538']
['₹ 93', '₹ 8,587']
['₹ 75', '₹ 517']
['₹ 63', '₹ 6,200']
['₹ 1.99', '₹ 18,090']
['₹ 56', '₹ 8,127']
['₹ 35', '₹ 5,139']
['₹ 99', '₹ 8,389']
['₹ 40', '₹ 8,179']
['₹ 1.5', '₹ 5,660']
['₹ 5.5', '₹ 18,333']
['₹ 82', '₹ 7,861']
['₹ 39', '₹ 5,963']
['₹ 53', '₹ 5,578']
['₹ 60', '₹ 10,416']
['₹ 88', '₹ 7,942']
['₹ 40', '₹ 5,215']
['₹ 70', '₹ 5,622']
['₹ 90', '₹ 11,464']
['₹ 1.65', '₹ 18,333']
['₹ 62', '₹ 5,166']
['₹ 75', '₹ 9,973']
['₹ 1.4', '₹ 7,534']
['₹ 75', '₹ 8,305']
['₹ 50', '₹ 8,403']
['₹ 44', '₹ 4,717']
['₹ 61', '₹ 8,187']
['₹ 1.05', '₹ 12,978']
['₹ 1.3', '₹ 7,647']
['₹ 45', '₹ 5,836']
['₹ 98', '₹ 9,007']
['₹ 1', '₹ 7,407']
['₹ 23', '₹ 5,609']
['₹ 1.17', '₹ 179']
['₹ 92', '₹ 7,005']
['₹ 43', '₹ 10,750']
['₹ 63', '₹ 8,456']
['₹ 75', '₹ 3,488']
['₹ 2.4', '₹ 689']
['₹ 1.3', '₹ 9,665']
['₹ 4', '₹ 18,181']
['₹ 1.05', '₹ 10,000']
['₹ 1.6', '₹ 8,648']
['₹ 38', '₹ 5,429']
['₹ 49.8', '₹ 5,413']
['₹ 26', '₹ 7,027']
['₹ 50', '₹ 6,257']
['₹ 70', '₹ 1,858']
['₹ 1.6', '₹ 7,729']
['₹ 98', '₹ 11,411']
['₹ 55', '₹ 550']
['₹ 96', '₹ 8,067']
['₹ 89', '₹ 6,276']
['₹ 52', '₹ 7,547']
['₹ 65', '₹ 2,984']
['₹ 90', '₹ 7,500']
['₹ 1.45', '₹ 8,620']
['₹ 47', '₹ 6,685']
['₹ 80', '₹ 7,619']
['₹ 93', '₹ 12,285']
['₹ 35', '₹ 6,034']
['₹ 16.5', '₹ 3,935']
['₹ 51', '₹ 5,230']
['₹ 28.9', '₹ 6,509']
['₹ 2.8', '₹ 11,200']
['₹ 10', '₹ 1,000']
['₹ 70', '₹ 6,830']
['₹ 1.5', '₹ 12,500']
['₹ 45', '₹ 6,000']
['₹ 52', '₹ 5,929']
['₹ 30', '₹ 4,838']
['₹ 30', '₹ 4,615']
['₹ 1.4', '₹ 3,589']
['₹ 1.05', '₹ 9,130']
['₹ 68', '₹ 4,533']
['₹ 75', '₹ 10,755']
['₹ 44', '₹ 8,627']
['₹ 54.7', '₹ 6,302']
['₹ 28', '₹ 3,111']
['₹ 36', '₹ 6,728']
['₹ 69', '₹ 9,985']
['₹ 43', '₹ 6,056']
['₹ 1.2', '₹ 8,000']
['₹ 80', '₹ 6,530']
['₹ 4.2', '₹ 11,170']
['₹ 46', '₹ 7,022']
['₹ 10', '₹ 1,111']
['₹ 40', '₹ 4,219']
['₹ 82', '₹ 9,941']
['₹ 95', '₹ 5,912']
['₹ 48', '₹ 7,079']
['₹ 50', '₹ 5,192']
['₹ 55', '₹ 6,875']
['₹ 74', '₹ 10,914']
['₹ 42.5', '₹ 7,870']
['₹ 49', '₹ 8,493']
['₹ 37', '₹ 5,614']
['₹ 30', '₹ 5,504']
['₹ 60', '₹ 8,253']
['₹ 55', '₹ 7,857']
['₹ 42', '₹ 4,516']
['₹ 70', '₹ 10,021']
['₹ 52', '₹ 7,027']
['₹ 78', '₹ 12,264']
['₹ 69', '₹ 7,395']
['₹ 1.2', '₹ 8,915']
['₹ 75', '₹ 5,447']
['₹ 85', '₹ 5,555']
['₹ 79.39', '₹ 8,983']
['₹ 79', '₹ 7,900']
['₹ 44', '₹ 7,857']
['₹ 74', '₹ 6,883']
['₹ 41', '₹ 7,884']
['₹ 70', '₹ 6,572']
['₹ 28', '₹ 4,117']
['₹ 2.95', '₹ 7,108']
['₹ 67', '₹ 9,911']
['₹ 1.7', '₹ 8,500']
['₹ 31', '₹ 5,961']
['₹ 60', '₹ 8,982']
['₹ 39.5', '₹ 5,194']
['₹ 82', '₹ 8,622']
['₹ 1', '₹ 6,666']
['₹ 4', '₹ 2,000']
['₹ 93', '₹ 8,157']
['₹ 50', '₹ 227']
['₹ 53', '₹ 7,066']
['₹ 60', '₹ 9,630']
['₹ 65', '₹ 9,701']
['₹ 1.08', '₹ 11,612']
['₹ 25', '₹ 5,555']
['₹ 80', '₹ 6,364']
['₹ 45', '₹ 5,732']
['₹ 58.5', '₹ 5,391']
['₹ 82.5', '₹ 11,718']
['₹ 60', '₹ 1,000']
['₹ 78', '₹ 1,806']
['₹ 36', '₹ 4,657']
['₹ 2', '₹ 11,428']
['₹ 55', '₹ 5,893']
['₹ 95', '₹ 4,757']
['₹ 3.5', '₹ 660,377']
['₹ 34', '₹ 4,984']
['₹ 3.25', '₹ 8,605']
['₹ 35', '₹ 7,272']
['₹ 30', '₹ 4,379']
['₹ 4.75', '₹ 11,309']
['₹ 50', '₹ 5,000']
['₹ 80', '₹ 6,666']
['₹ 68', '₹ 7,195']
['₹ 4.5', '₹ 15,342']
['₹ 90', '₹ 7,200']
['₹ 65', '₹ 6,114']
['₹ 1.49', '₹ 10,642']
['₹ 82', '₹ 9,941']
['₹ 71', '₹ 8,208']
['₹ 68', '₹ 7,825']
['₹ 70', '₹ 7,575']
['₹ 90', '₹ 9,453']
['₹ 60', '₹ 5,509']
['₹ 1.25', '₹ 11,904']
['₹ 66', '₹ 7,189']
['₹ 65', '₹ 6,598']
['₹ 1.75', '₹ 11,666']
['₹ 75', '₹ 5,357']
['₹ 50', '₹ 6,684']
['₹ 1.03', '₹ 11,183']
['₹ 43', '₹ 6,615']
['₹ 51', '₹ 7,812']
['₹ 3.5', '₹ 10,294']
['₹ 55', '₹ 7,857']
['₹ 30', '₹ 6,250']
['₹ 40', '₹ 4,028']
['₹ 30', '₹ 5,000']
['₹ 40.5', '₹ 4,285']
['₹ 37', '₹ 6,335']
['₹ 60', '₹ 9,677']
['₹ 60', '₹ 9,677']
['₹ 46', '₹ 1,322']
['₹ 22.5', '₹ 4,182']
['₹ 82', '₹ 2,400']
['₹ 30', '₹ 2,912']
['₹ 41', '₹ 6,165']
['₹ 46', '₹ 7,823']
['₹ 30', '₹ 3,550']
['₹ 54', '₹ 5,595']
['₹ 23', '₹ 2,699']
['₹ 60', '₹ 6,079']
['₹ 3.15', '₹ 15,343']
['₹ 6', '₹ 599']
['₹ 1.1', '₹ 7,024']
['₹ 42.52', '₹ 5,840']
['₹ 55', '₹ 4,583']
['₹ 30', '₹ 6,000']
['₹ 42', '₹ 8,750']
['₹ 32', '₹ 11,149']
['₹ 1.5', '₹ 3,159']
['₹ 1.2', '₹ 9,090']
['₹ 42', '₹ 7,368']
['₹ 1.1', '₹ 11,340']
['₹ 75', '₹ 7,861']
['₹ 12', '₹ 3,333']
['₹ 1.65', '₹ 16,247']

In [34]:
matches = []

for price in total_price:
    matches.extend(re.findall(r'₹\s*\d+(?:[,.]\d+)*', price))

print(matches)

['₹ 45', '₹ 9,164', '₹ 1', '₹ 3,333', '₹ 70', '₹ 10,130', '₹ 4.3', '₹ 16,538', '₹ 93', '₹ 8,587', '₹ 75', '₹ 517', '₹ 63', '₹ 6,200', '₹ 1.99', '₹ 18,090', '₹ 56', '₹ 8,127', '₹ 35', '₹ 5,139', '₹ 99', '₹ 8,389', '₹ 40', '₹ 8,179', '₹ 1.5', '₹ 5,660', '₹ 5.5', '₹ 18,333', '₹ 82', '₹ 7,861', '₹ 39', '₹ 5,963', '₹ 53', '₹ 5,578', '₹ 60', '₹ 10,416', '₹ 88', '₹ 7,942', '₹ 40', '₹ 5,215', '₹ 70', '₹ 5,622', '₹ 90', '₹ 11,464', '₹ 1.65', '₹ 18,333', '₹ 62', '₹ 5,166', '₹ 75', '₹ 9,973', '₹ 1.4', '₹ 7,534', '₹ 75', '₹ 8,305', '₹ 50', '₹ 8,403', '₹ 44', '₹ 4,717', '₹ 61', '₹ 8,187', '₹ 1.05', '₹ 12,978', '₹ 1.3', '₹ 7,647', '₹ 45', '₹ 5,836', '₹ 98', '₹ 9,007', '₹ 1', '₹ 7,407', '₹ 23', '₹ 5,609', '₹ 1.17', '₹ 179', '₹ 92', '₹ 7,005', '₹ 43', '₹ 10,750', '₹ 63', '₹ 8,456', '₹ 75', '₹ 3,488', '₹ 2.4', '₹ 689', '₹ 1.3', '₹ 9,665', '₹ 4', '₹ 18,181', '₹ 1.05', '₹ 10,000', '₹ 1.6', '₹ 8,648', '₹ 38', '₹ 5,429', '₹ 49.8', '₹ 5,413', '₹ 26', '₹ 7,027', '₹ 50', '₹ 6,257', '₹ 70', '₹ 1,858', '₹ 1.6', '₹ 7,729', '₹ 98', '₹ 11,411', '₹ 55', '₹ 550', '₹ 96', '₹ 8,067', '₹ 89', '₹ 6,276', '₹ 52', '₹ 7,547', '₹ 65', '₹ 2,984', '₹ 90', '₹ 7,500', '₹ 1.45', '₹ 8,620', '₹ 47', '₹ 6,685', '₹ 80', '₹ 7,619', '₹ 93', '₹ 12,285', '₹ 35', '₹ 6,034', '₹ 16.5', '₹ 3,935', '₹ 51', '₹ 5,230', '₹ 28.9', '₹ 6,509', '₹ 2.8', '₹ 11,200', '₹ 10', '₹ 1,000', '₹ 70', '₹ 6,830', '₹ 1.5', '₹ 12,500', '₹ 45', '₹ 6,000', '₹ 52', '₹ 5,929', '₹ 30', '₹ 4,838', '₹ 30', '₹ 4,615', '₹ 1.4', '₹ 3,589', '₹ 1.05', '₹ 9,130', '₹ 68', '₹ 4,533', '₹ 75', '₹ 10,755', '₹ 44', '₹ 8,627', '₹ 54.7', '₹ 6,302', '₹ 28', '₹ 3,111', '₹ 36', '₹ 6,728', '₹ 69', '₹ 9,985', '₹ 43', '₹ 6,056', '₹ 1.2', '₹ 8,000', '₹ 80', '₹ 6,530', '₹ 4.2', '₹ 11,170', '₹ 46', '₹ 7,022', '₹ 10', '₹ 1,111', '₹ 40', '₹ 4,219', '₹ 82', '₹ 9,941', '₹ 95', '₹ 5,912', '₹ 48', '₹ 7,079', '₹ 50', '₹ 5,192', '₹ 55', '₹ 6,875', '₹ 74', '₹ 10,914', '₹ 42.5', '₹ 7,870', '₹ 49', '₹ 8,493', '₹ 37', '₹ 5,614', '₹ 30', '₹ 5,504', '₹ 60', '₹ 8,253', '₹ 55', '₹ 7,857', '₹ 42', '₹ 4,516', '₹ 70', '₹ 10,021', '₹ 52', '₹ 7,027', '₹ 78', '₹ 12,264', '₹ 69', '₹ 7,395', '₹ 1.2', '₹ 8,915', '₹ 75', '₹ 5,447', '₹ 85', '₹ 5,555', '₹ 79.39', '₹ 8,983', '₹ 79', '₹ 7,900', '₹ 44', '₹ 7,857', '₹ 74', '₹ 6,883', '₹ 41', '₹ 7,884', '₹ 70', '₹ 6,572', '₹ 28', '₹ 4,117', '₹ 2.95', '₹ 7,108', '₹ 67', '₹ 9,911', '₹ 1.7', '₹ 8,500', '₹ 31', '₹ 5,961', '₹ 60', '₹ 8,982', '₹ 39.5', '₹ 5,194', '₹ 82', '₹ 8,622', '₹ 1', '₹ 6,666', '₹ 4', '₹ 2,000', '₹ 93', '₹ 8,157', '₹ 50', '₹ 227', '₹ 53', '₹ 7,066', '₹ 60', '₹ 9,630', '₹ 65', '₹ 9,701', '₹ 1.08', '₹ 11,612', '₹ 25', '₹ 5,555', '₹ 80', '₹ 6,364', '₹ 45', '₹ 5,732', '₹ 58.5', '₹ 5,391', '₹ 82.5', '₹ 11,718', '₹ 60', '₹ 1,000', '₹ 78', '₹ 1,806', '₹ 36', '₹ 4,657', '₹ 2', '₹ 11,428', '₹ 55', '₹ 5,893', '₹ 95', '₹ 4,757', '₹ 3.5', '₹ 660,377', '₹ 34', '₹ 4,984', '₹ 3.25', '₹ 8,605', '₹ 35', '₹ 7,272', '₹ 30', '₹ 4,379', '₹ 4.75', '₹ 11,309', '₹ 50', '₹ 5,000', '₹ 80', '₹ 6,666', '₹ 68', '₹ 7,195', '₹ 4.5', '₹ 15,342', '₹ 90', '₹ 7,200', '₹ 65', '₹ 6,114', '₹ 1.49', '₹ 10,642', '₹ 82', '₹ 9,941', '₹ 71', '₹ 8,208', '₹ 68', '₹ 7,825', '₹ 70', '₹ 7,575', '₹ 90', '₹ 9,453', '₹ 60', '₹ 5,509', '₹ 1.25', '₹ 11,904', '₹ 66', '₹ 7,189', '₹ 65', '₹ 6,598', '₹ 1.75', '₹ 11,666', '₹ 75', '₹ 5,357', '₹ 50', '₹ 6,684', '₹ 1.03', '₹ 11,183', '₹ 43', '₹ 6,615', '₹ 51', '₹ 7,812', '₹ 3.5', '₹ 10,294', '₹ 55', '₹ 7,857', '₹ 30', '₹ 6,250', '₹ 40', '₹ 4,028', '₹ 30', '₹ 5,000', '₹ 40.5', '₹ 4,285', '₹ 37', '₹ 6,335', '₹ 60', '₹ 9,677', '₹ 60', '₹ 9,677', '₹ 46', '₹ 1,322', '₹ 22.5', '₹ 4,182', '₹ 82', '₹ 2,400', '₹ 30', '₹ 2,912', '₹ 41', '₹ 6,165', '₹ 46', '₹ 7,823', '₹ 30', '₹ 3,550', '₹ 54', '₹ 5,595', '₹ 23', '₹ 2,699', '₹ 60', '₹ 6,079', '₹ 3.15', '₹ 15,343', '₹ 6', '₹ 599', '₹ 1.1', '₹ 7,024', '₹ 42.52', '₹ 5,840', '₹ 55', '₹ 4,583', '₹ 30', '₹ 6,000', '₹ 42', '₹ 8,750', '₹ 32', '₹ 11,149', '₹ 1.5', '₹ 3,159', '₹ 1.2', '₹ 9,090', '₹ 42', '₹ 7,368', '₹ 1.1', '₹ 11,340', '₹ 75', '₹ 7,861', '₹ 12', '₹ 3,333', '₹ 1.65', '₹ 16,247']

In [35]:
new_matches = matches[0::2]
print(new_matches)

['₹ 45', '₹ 1', '₹ 70', '₹ 4.3', '₹ 93', '₹ 75', '₹ 63', '₹ 1.99', '₹ 56', '₹ 35', '₹ 99', '₹ 40', '₹ 1.5', '₹ 5.5', '₹ 82', '₹ 39', '₹ 53', '₹ 60', '₹ 88', '₹ 40', '₹ 70', '₹ 90', '₹ 1.65', '₹ 62', '₹ 75', '₹ 1.4', '₹ 75', '₹ 50', '₹ 44', '₹ 61', '₹ 1.05', '₹ 1.3', '₹ 45', '₹ 98', '₹ 1', '₹ 23', '₹ 1.17', '₹ 92', '₹ 43', '₹ 63', '₹ 75', '₹ 2.4', '₹ 1.3', '₹ 4', '₹ 1.05', '₹ 1.6', '₹ 38', '₹ 49.8', '₹ 26', '₹ 50', '₹ 70', '₹ 1.6', '₹ 98', '₹ 55', '₹ 96', '₹ 89', '₹ 52', '₹ 65', '₹ 90', '₹ 1.45', '₹ 47', '₹ 80', '₹ 93', '₹ 35', '₹ 16.5', '₹ 51', '₹ 28.9', '₹ 2.8', '₹ 10', '₹ 70', '₹ 1.5', '₹ 45', '₹ 52', '₹ 30', '₹ 30', '₹ 1.4', '₹ 1.05', '₹ 68', '₹ 75', '₹ 44', '₹ 54.7', '₹ 28', '₹ 36', '₹ 69', '₹ 43', '₹ 1.2', '₹ 80', '₹ 4.2', '₹ 46', '₹ 10', '₹ 40', '₹ 82', '₹ 95', '₹ 48', '₹ 50', '₹ 55', '₹ 74', '₹ 42.5', '₹ 49', '₹ 37', '₹ 30', '₹ 60', '₹ 55', '₹ 42', '₹ 70', '₹ 52', '₹ 78', '₹ 69', '₹ 1.2', '₹ 75', '₹ 85', '₹ 79.39', '₹ 79', '₹ 44', '₹ 74', '₹ 41', '₹ 70', '₹ 28', '₹ 2.95', '₹ 67', '₹ 1.7', '₹ 31', '₹ 60', '₹ 39.5', '₹ 82', '₹ 1', '₹ 4', '₹ 93', '₹ 50', '₹ 53', '₹ 60', '₹ 65', '₹ 1.08', '₹ 25', '₹ 80', '₹ 45', '₹ 58.5', '₹ 82.5', '₹ 60', '₹ 78', '₹ 36', '₹ 2', '₹ 55', '₹ 95', '₹ 3.5', '₹ 34', '₹ 3.25', '₹ 35', '₹ 30', '₹ 4.75', '₹ 50', '₹ 80', '₹ 68', '₹ 4.5', '₹ 90', '₹ 65', '₹ 1.49', '₹ 82', '₹ 71', '₹ 68', '₹ 70', '₹ 90', '₹ 60', '₹ 1.25', '₹ 66', '₹ 65', '₹ 1.75', '₹ 75', '₹ 50', '₹ 1.03', '₹ 43', '₹ 51', '₹ 3.5', '₹ 55', '₹ 30', '₹ 40', '₹ 30', '₹ 40.5', '₹ 37', '₹ 60', '₹ 60', '₹ 46', '₹ 22.5', '₹ 82', '₹ 30', '₹ 41', '₹ 46', '₹ 30', '₹ 54', '₹ 23', '₹ 60', '₹ 3.15', '₹ 6', '₹ 1.1', '₹ 42.52', '₹ 55', '₹ 30', '₹ 42', '₹ 32', '₹ 1.5', '₹ 1.2', '₹ 42', '₹ 1.1', '₹ 75', '₹ 12', '₹ 1.65']

In [36]:
new_matches = [str(x.replace("₹ ","")) if type(x) == str else x for x in new_matches]
print(new_matches)

['45', '1', '70', '4.3', '93', '75', '63', '1.99', '56', '35', '99', '40', '1.5', '5.5', '82', '39', '53', '60', '88', '40', '70', '90', '1.65', '62', '75', '1.4', '75', '50', '44', '61', '1.05', '1.3', '45', '98', '1', '23', '1.17', '92', '43', '63', '75', '2.4', '1.3', '4', '1.05', '1.6', '38', '49.8', '26', '50', '70', '1.6', '98', '55', '96', '89', '52', '65', '90', '1.45', '47', '80', '93', '35', '16.5', '51', '28.9', '2.8', '10', '70', '1.5', '45', '52', '30', '30', '1.4', '1.05', '68', '75', '44', '54.7', '28', '36', '69', '43', '1.2', '80', '4.2', '46', '10', '40', '82', '95', '48', '50', '55', '74', '42.5', '49', '37', '30', '60', '55', '42', '70', '52', '78', '69', '1.2', '75', '85', '79.39', '79', '44', '74', '41', '70', '28', '2.95', '67', '1.7', '31', '60', '39.5', '82', '1', '4', '93', '50', '53', '60', '65', '1.08', '25', '80', '45', '58.5', '82.5', '60', '78', '36', '2', '55', '95', '3.5', '34', '3.25', '35', '30', '4.75', '50', '80', '68', '4.5', '90', '65', '1.49', '82', '71', '68', '70', '90', '60', '1.25', '66', '65', '1.75', '75', '50', '1.03', '43', '51', '3.5', '55', '30', '40', '30', '40.5', '37', '60', '60', '46', '22.5', '82', '30', '41', '46', '30', '54', '23', '60', '3.15', '6', '1.1', '42.52', '55', '30', '42', '32', '1.5', '1.2', '42', '1.1', '75', '12', '1.65']

In [37]:
for i, val in enumerate(new_matches):
    if ',' in val:
        # keep as it is
        continue
    elif '.' in val:
        if val.index('.') == 1:
            new_matches[i] = float(val) * 10000000
        else:
            new_matches[i] = float(val) * 100000
    elif len(val) == 2:
        new_matches[i] = int(val) * 100000
    else:
        new_matches[i] = int(val) * 10000000

In [38]:
new_matches

[4500000,
 10000000,
 7000000,
 43000000.0,
 9300000,
 7500000,
 6300000,
 19900000.0,
 5600000,
 3500000,
 9900000,
 4000000,
 15000000.0,
 55000000.0,
 8200000,
 3900000,
 5300000,
 6000000,
 8800000,
 4000000,
 7000000,
 9000000,
 16500000.0,
 6200000,
 7500000,
 14000000.0,
 7500000,
 5000000,
 4400000,
 6100000,
 10500000.0,
 13000000.0,
 4500000,
 9800000,
 10000000,
 2300000,
 11700000.0,
 9200000,
 4300000,
 6300000,
 7500000,
 24000000.0,
 13000000.0,
 40000000,
 10500000.0,
 16000000.0,
 3800000,
 4980000.0,
 2600000,
 5000000,
 7000000,
 16000000.0,
 9800000,
 5500000,
 9600000,
 8900000,
 5200000,
 6500000,
 9000000,
 14500000.0,
 4700000,
 8000000,
 9300000,
 3500000,
 1650000.0,
 5100000,
 2890000.0,
 28000000.0,
 1000000,
 7000000,
 15000000.0,
 4500000,
 5200000,
 3000000,
 3000000,
 14000000.0,
 10500000.0,
 6800000,
 7500000,
 4400000,
 5470000.0,
 2800000,
 3600000,
 6900000,
 4300000,
 12000000.0,
 8000000,
 42000000.0,
 4600000,
 1000000,
 4000000,
 8200000,
 9500000,
 4800000,
 5000000,
 5500000,
 7400000,
 4250000.0,
 4900000,
 3700000,
 3000000,
 6000000,
 5500000,
 4200000,
 7000000,
 5200000,
 7800000,
 6900000,
 12000000.0,
 7500000,
 8500000,
 7939000.0,
 7900000,
 4400000,
 7400000,
 4100000,
 7000000,
 2800000,
 29500000.0,
 6700000,
 17000000.0,
 3100000,
 6000000,
 3950000.0,
 8200000,
 10000000,
 40000000,
 9300000,
 5000000,
 5300000,
 6000000,
 6500000,
 10800000.0,
 2500000,
 8000000,
 4500000,
 5850000.0,
 8250000.0,
 6000000,
 7800000,
 3600000,
 20000000,
 5500000,
 9500000,
 35000000.0,
 3400000,
 32500000.0,
 3500000,
 3000000,
 47500000.0,
 5000000,
 8000000,
 6800000,
 45000000.0,
 9000000,
 6500000,
 14900000.0,
 8200000,
 7100000,
 6800000,
 7000000,
 9000000,
 6000000,
 12500000.0,
 6600000,
 6500000,
 17500000.0,
 7500000,
 5000000,
 10300000.0,
 4300000,
 5100000,
 35000000.0,
 5500000,
 3000000,
 4000000,
 3000000,
 4050000.0,
 3700000,
 6000000,
 6000000,
 4600000,
 2250000.0,
 8200000,
 3000000,
 4100000,
 4600000,
 3000000,
 5400000,
 2300000,
 6000000,
 31500000.0,
 60000000,
 11000000.0,
 4252000.0,
 5500000,
 3000000,
 4200000,
 3200000,
 15000000.0,
 12000000.0,
 4200000,
 11000000.0,
 7500000,
 1200000,
 16500000.0]

In [39]:
len(new_matches)

206

In [40]:
for i, val in enumerate(new_matches):
    if isinstance(val, str):
        val = val.replace(',','') # remove the comma from the string
    new_matches[i] = int(val) # convert to integer

In [41]:
new_matches

[4500000,
 10000000,
 7000000,
 43000000,
 9300000,
 7500000,
 6300000,
 19900000,
 5600000,
 3500000,
 9900000,
 4000000,
 15000000,
 55000000,
 8200000,
 3900000,
 5300000,
 6000000,
 8800000,
 4000000,
 7000000,
 9000000,
 16500000,
 6200000,
 7500000,
 14000000,
 7500000,
 5000000,
 4400000,
 6100000,
 10500000,
 13000000,
 4500000,
 9800000,
 10000000,
 2300000,
 11700000,
 9200000,
 4300000,
 6300000,
 7500000,
 24000000,
 13000000,
 40000000,
 10500000,
 16000000,
 3800000,
 4980000,
 2600000,
 5000000,
 7000000,
 16000000,
 9800000,
 5500000,
 9600000,
 8900000,
 5200000,
 6500000,
 9000000,
 14500000,
 4700000,
 8000000,
 9300000,
 3500000,
 1650000,
 5100000,
 2890000,
 28000000,
 1000000,
 7000000,
 15000000,
 4500000,
 5200000,
 3000000,
 3000000,
 14000000,
 10500000,
 6800000,
 7500000,
 4400000,
 5470000,
 2800000,
 3600000,
 6900000,
 4300000,
 12000000,
 8000000,
 42000000,
 4600000,
 1000000,
 4000000,
 8200000,
 9500000,
 4800000,
 5000000,
 5500000,
 7400000,
 4250000,
 4900000,
 3700000,
 3000000,
 6000000,
 5500000,
 4200000,
 7000000,
 5200000,
 7800000,
 6900000,
 12000000,
 7500000,
 8500000,
 7939000,
 7900000,
 4400000,
 7400000,
 4100000,
 7000000,
 2800000,
 29500000,
 6700000,
 17000000,
 3100000,
 6000000,
 3950000,
 8200000,
 10000000,
 40000000,
 9300000,
 5000000,
 5300000,
 6000000,
 6500000,
 10800000,
 2500000,
 8000000,
 4500000,
 5850000,
 8250000,
 6000000,
 7800000,
 3600000,
 20000000,
 5500000,
 9500000,
 35000000,
 3400000,
 32500000,
 3500000,
 3000000,
 47500000,
 5000000,
 8000000,
 6800000,
 45000000,
 9000000,
 6500000,
 14900000,
 8200000,
 7100000,
 6800000,
 7000000,
 9000000,
 6000000,
 12500000,
 6600000,
 6500000,
 17500000,
 7500000,
 5000000,
 10300000,
 4300000,
 5100000,
 35000000,
 5500000,
 3000000,
 4000000,
 3000000,
 4050000,
 3700000,
 6000000,
 6000000,
 4600000,
 2250000,
 8200000,
 3000000,
 4100000,
 4600000,
 3000000,
 5400000,
 2300000,
 6000000,
 31500000,
 60000000,
 11000000,
 4252000,
 5500000,
 3000000,
 4200000,
 3200000,
 15000000,
 12000000,
 4200000,
 11000000,
 7500000,
 1200000,
 16500000]

# builtup area

In [42]:
builtup_area = df['builtup_area'].tolist()

print(builtup_area)

['(46 sq.m.) Carpet Area', '(279 sq.m.) Plot Area', '(64 sq.m.) Carpet Area', '(242 sq.m.) Built-up Area', '(101 sq.m.) Super built-up Area', '(1347 sq.m.) Plot Area', '(94 sq.m.) Built-up Area', '(102 sq.m.) Carpet Area', '(64 sq.m.) Super built-up Area', '(63 sq.m.) Carpet Area', '(110 sq.m.) Built-up Area', '(45 sq.m.) Carpet Area', '(246 sq.m.) Plot Area', '(279 sq.m.) Plot Area', '(97 sq.m.) Super built-up Area', '(61 sq.m.) Super built-up Area', '(88 sq.m.) Super built-up Area', '(54 sq.m.) Carpet Area', '(103 sq.m.) Built-up Area', '(71 sq.m.) Super built-up Area', '(116 sq.m.) Carpet Area', '(73 sq.m.) Carpet Area', '(84 sq.m.) Carpet Area', '(111 sq.m.) Built-up Area', '(70 sq.m.) Built-up Area', '(173 sq.m.) Built-up Area', '(84 sq.m.) Carpet Area', '(55 sq.m.) Carpet Area', '(91 sq.m.) Super built-up Area', '(69 sq.m.) Carpet Area', '(75 sq.m.) Carpet Area', '(158 sq.m.) Plot Area', '(72 sq.m.) Carpet Area', '(101 sq.m.) Carpet Area', '(125 sq.m.) Carpet Area', '(38 sq.m.) Carpet Area', '(6070 sq.m.) Plot Area', '(126 sq.m.) Super built-up Area', '(37 sq.m.) Carpet Area', '(69 sq.m.) Carpet Area', '(200 sq.m.) Built-up Area', '(3237 sq.m.) Plot Area', '(125 sq.m.) Built-up Area', '(204 sq.m.) Carpet Area', '(98 sq.m.) Super built-up Area', '(172 sq.m.) Plot Area', '(65 sq.m.) Super built-up Area', '(85 sq.m.) Built-up Area', '(34 sq.m.) Carpet Area', '(74 sq.m.) Built-up Area', '(350 sq.m.) Plot Area', '(192 sq.m.) Super built-up Area', '(78 sq.m.) Carpet Area', '(929 sq.m.) Plot Area', '(111 sq.m.) Built-up Area', '(132 sq.m.) Carpet Area', '(64 sq.m.) Built-up Area', '(202 sq.m.) Plot Area', '(158 sq.m.) Built-up Area', '(156 sq.m.) Super built-up Area', '(65 sq.m.) Carpet Area', '(98 sq.m.) Built-up Area', '(70 sq.m.) Carpet Area', '(54 sq.m.) Built-up Area', '(40 sq.m.) Super built-up Area', '(91 sq.m.) Carpet Area', '(56 sq.m.) Built-up Area', '(232 sq.m.) Built-up Area', '(93 sq.m.) Plot Area', '(102 sq.m.) Super built-up Area', '(111 sq.m.) Built-up Area', '(94 sq.m.) Super built-up Area', '(81 sq.m.) Carpet Area', '(58 sq.m.) Built-up Area', '(60 sq.m.) Built-up Area', '(362 sq.m.) Carpet Area', '(107 sq.m.) Carpet Area', '(139 sq.m.) Built-up Area', '(65 sq.m.) Carpet Area', '(47 sq.m.) Super built-up Area', '(81 sq.m.) Built-up Area', '(84 sq.m.) Super built-up Area', '(50 sq.m.) Carpet Area', '(98 sq.m.) Super built-up Area', '(66 sq.m.) Super built-up Area', '(139 sq.m.) Plot Area', '(114 sq.m.) Built-up Area', '(349 sq.m.) Plot Area', '(61 sq.m.) Built-up Area', '(84 sq.m.) Plot Area', '(88 sq.m.) Built-up Area', '(77 sq.m.) Super built-up Area', '(126 sq.m.) Carpet Area', '(63 sq.m.) Built-up Area', '(89 sq.m.) Super built-up Area', '(74 sq.m.) Built-up Area', '(63 sq.m.) Super built-up Area', '(50 sq.m.) Built-up Area', '(54 sq.m.) Carpet Area', '(61 sq.m.) Built-up Area', '(51 sq.m.) Super built-up Area', '(95 sq.m.) Super built-up Area', '(65 sq.m.) Built-up Area', '(86 sq.m.) Super built-up Area', '(65 sq.m.) Super built-up Area', '(90 sq.m.) Super built-up Area', '(77 sq.m.) Super built-up Area', '(87 sq.m.) Carpet Area', '(125 sq.m.) Carpet Area', '(128 sq.m.) Built-up Area', '(142 sq.m.) Built-up Area', '(84 sq.m.) Built-up Area', '(93 sq.m.) Super built-up Area', '(52 sq.m.) Carpet Area', '(100 sq.m.) Built-up Area', '(48 sq.m.) Carpet Area', '(99 sq.m.) Super built-up Area', '(63 sq.m.) Carpet Area', '(282 sq.m.) Plot Area', '(85 sq.m.) Built-up Area', '(186 sq.m.) Plot Area', '(48 sq.m.) Super built-up Area', '(62 sq.m.) Carpet Area', '(72 sq.m.) Carpet Area', '(88 sq.m.) Super built-up Area', '(139 sq.m.) Plot Area', '(1858 sq.m.) Plot Area', '(106 sq.m.) Carpet Area', '(1858 sq.m.) Plot Area', '(70 sq.m.) Carpet Area', '(58 sq.m.) Carpet Area', '(62 sq.m.) Built-up Area', '(86 sq.m.) Carpet Area', '(42 sq.m.) Carpet Area', '(117 sq.m.) Carpet Area', '(73 sq.m.) Super built-up Area', '(101 sq.m.) Built-up Area', '(65 sq.m.) Carpet Area', '(557 sq.m.) Plot Area', '(401 sq.m.) Plot Area', '(72 sq.m.) Built-up Area', '(163 sq.m.) Carpet Area', '(95 sq.m.) Super built-up Area', '(186 sq.m.) Plot Area', '(5 sq.m.) Plot Area', '(60 sq.m.) Super built-up Area', '(292 sq.m.) Plot Area', '(51 sq.m.) Carpet Area', '(64 sq.m.) Built-up Area', '(390 sq.m.) Built-up Area', '(93 sq.m.) Super built-up Area', '(111 sq.m.) Super built-up Area', '(88 sq.m.) Built-up Area', '(272 sq.m.) Plot Area', '(116 sq.m.) Built-up Area', '(99 sq.m.) Built-up Area', '(130 sq.m.) Super built-up Area', '(77 sq.m.) Super built-up Area', '(80 sq.m.) Built-up Area', '(81 sq.m.) Super built-up Area', '(86 sq.m.) Carpet Area', '(88 sq.m.) Carpet Area', '(101 sq.m.) Super built-up Area', '(98 sq.m.) Carpet Area', '(85 sq.m.) Carpet Area', '(92 sq.m.) Super built-up Area', '(139 sq.m.) Carpet Area', '(130 sq.m.) Super built-up Area', '(69 sq.m.) Built-up Area', '(86 sq.m.) Carpet Area', '(60 sq.m.) Carpet Area', '(59 sq.m.) Built-up Area', '(316 sq.m.) Plot Area', '(65 sq.m.) Carpet Area', '(45 sq.m.) Carpet Area', '(92 sq.m.) Built-up Area', '(56 sq.m.) Carpet Area', '(88 sq.m.) Carpet Area', '(54 sq.m.) Built-up Area', '(58 sq.m.) Carpet Area', '(58 sq.m.) Carpet Area', '(288 sq.m.) Plot Area', '(50 sq.m.) Carpet Area', '(288 sq.m.) Plot Area', '(96 sq.m.) Carpet Area', '(62 sq.m.) Carpet Area', '(55 sq.m.) Carpet Area', '(79 sq.m.) Built-up Area', '(90 sq.m.) Built-up Area', '(79 sq.m.) Built-up Area', '(92 sq.m.) Super built-up Area', '(191 sq.m.) Built-up Area', '(93 sq.m.) Plot Area', '(145 sq.m.) Built-up Area', '(68 sq.m.) Super built-up Area', '(111 sq.m.) Plot Area', '(46 sq.m.) Super built-up Area', '(45 sq.m.) Carpet Area', '(27 sq.m.) Carpet Area', '(441 sq.m.) Carpet Area', '(123 sq.m.) Carpet Area', '(53 sq.m.) Built-up Area', '(90 sq.m.) Carpet Area', '(89 sq.m.) Carpet Area', '(33 sq.m.) Carpet Area', '(94 sq.m.) Carpet Area']

In [43]:
characters_to_remove = ["("," sq.m.) ","Built-up Area","Super built-up Area","Carpet Area","Plot Area","-"]

#regular expression pattern to match and remove special characters and characters
pattern = "[{}]".format("".join(characters_to_remove))

#list to store modified strings
area_sqm = []

for string in builtup_area:
    modified_string = re.sub(pattern, "", string)
    area_sqm.append(modified_string)

print(area_sqm)

['46', '279', '64', '242', '101', '1347', '94', '102', '64', '63', '110', '45', '246', '279', '97', '61', '88', '54', '103', '71', '116', '73', '84', '111', '70', '173', '84', '55', '91', '69', '75', '158', '72', '101', '125', '38', '6070', '126', '37', '69', '200', '3237', '125', '204', '98', '172', '65', '85', '34', '74', '350', '192', '78', '929', '111', '132', '64', '202', '158', '156', '65', '98', '70', '54', '40', '91', '56', '232', '93', '102', '111', '94', '81', '58', '60', '362', '107', '139', '65', '47', '81', '84', '50', '98', '66', '139', '114', '349', '61', '84', '88', '77', '126', '63', '89', '74', '63', '50', '54', '61', '51', '95', '65', '86', '65', '90', '77', '87', '125', '128', '142', '84', '93', '52', '100', '48', '99', '63', '282', '85', '186', '48', '62', '72', '88', '139', '1858', '106', '1858', '70', '58', '62', '86', '42', '117', '73', '101', '65', '557', '401', '72', '163', '95', '186', '5', '60', '292', '51', '64', '390', '93', '111', '88', '272', '116', '99', '130', '77', '80', '81', '86', '88', '101', '98', '85', '92', '139', '130', '69', '86', '60', '59', '316', '65', '45', '92', '56', '88', '54', '58', '58', '288', '50', '288', '96', '62', '55', '79', '90', '79', '92', '191', '93', '145', '68', '111', '46', '45', '27', '441', '123', '53', '90', '89', '33', '94']

In [44]:
BuiltUp_Area_Sqm = [int(x) for x in area_sqm]

print(BuiltUp_Area_Sqm)

[46, 279, 64, 242, 101, 1347, 94, 102, 64, 63, 110, 45, 246, 279, 97, 61, 88, 54, 103, 71, 116, 73, 84, 111, 70, 173, 84, 55, 91, 69, 75, 158, 72, 101, 125, 38, 6070, 126, 37, 69, 200, 3237, 125, 204, 98, 172, 65, 85, 34, 74, 350, 192, 78, 929, 111, 132, 64, 202, 158, 156, 65, 98, 70, 54, 40, 91, 56, 232, 93, 102, 111, 94, 81, 58, 60, 362, 107, 139, 65, 47, 81, 84, 50, 98, 66, 139, 114, 349, 61, 84, 88, 77, 126, 63, 89, 74, 63, 50, 54, 61, 51, 95, 65, 86, 65, 90, 77, 87, 125, 128, 142, 84, 93, 52, 100, 48, 99, 63, 282, 85, 186, 48, 62, 72, 88, 139, 1858, 106, 1858, 70, 58, 62, 86, 42, 117, 73, 101, 65, 557, 401, 72, 163, 95, 186, 5, 60, 292, 51, 64, 390, 93, 111, 88, 272, 116, 99, 130, 77, 80, 81, 86, 88, 101, 98, 85, 92, 139, 130, 69, 86, 60, 59, 316, 65, 45, 92, 56, 88, 54, 58, 58, 288, 50, 288, 96, 62, 55, 79, 90, 79, 92, 191, 93, 145, 68, 111, 46, 45, 27, 441, 123, 53, 90, 89, 33, 94]

In [45]:
total_price=[i*j for i in Price_per_SqFt for j in BuiltUp_Area_Sqm]
total_price

[421544,
 2556756,
 586496,
 2217688,
 925564,
 12343908,
 861416,
 934728,
 586496,
 577332,
 1008040,
 412380,
 2254344,
 2556756,
 888908,
 559004,
 806432,
 494856,
 943892,
 650644,
 1063024,
 668972,
 769776,
 1017204,
 641480,
 1585372,
 769776,
 504020,
 833924,
 632316,
 687300,
 1447912,
 659808,
 925564,
 1145500,
 348232,
 55625480,
 1154664,
 339068,
 632316,
 1832800,
 29663868,
 1145500,
 1869456,
 898072,
 1576208,
 595660,
 778940,
 311576,
 678136,
 3207400,
 1759488,
 714792,
 8513356,
 1017204,
 1209648,
 586496,
 1851128,
 1447912,
 1429584,
 595660,
 898072,
 641480,
 494856,
 366560,
 833924,
 513184,
 2126048,
 852252,
 934728,
 1017204,
 861416,
 742284,
 531512,
 549840,
 3317368,
 980548,
 1273796,
 595660,
 430708,
 742284,
 769776,
 458200,
 898072,
 604824,
 1273796,
 1044696,
 3198236,
 559004,
 769776,
 806432,
 705628,
 1154664,
 577332,
 815596,
 678136,
 577332,
 458200,
 494856,
 559004,
 467364,
 870580,
 595660,
 788104,
 595660,
 824760,
 705628,
 797268,
 1145500,
 1172992,
 1301288,
 769776,
 852252,
 476528,
 916400,
 439872,
 907236,
 577332,
 2584248,
 778940,
 1704504,
 439872,
 568168,
 659808,
 806432,
 1273796,
 17026712,
 971384,
 17026712,
 641480,
 531512,
 568168,
 788104,
 384888,
 1072188,
 668972,
 925564,
 595660,
 5104348,
 3674764,
 659808,
 1493732,
 870580,
 1704504,
 45820,
 549840,
 2675888,
 467364,
 586496,
 3573960,
 852252,
 1017204,
 806432,
 2492608,
 1063024,
 907236,
 1191320,
 705628,
 733120,
 742284,
 788104,
 806432,
 925564,
 898072,
 778940,
 843088,
 1273796,
 1191320,
 632316,
 788104,
 549840,
 540676,
 2895824,
 595660,
 412380,
 843088,
 513184,
 806432,
 494856,
 531512,
 531512,
 2639232,
 458200,
 2639232,
 879744,
 568168,
 504020,
 723956,
 824760,
 723956,
 843088,
 1750324,
 852252,
 1328780,
 623152,
 1017204,
 421544,
 412380,
 247428,
 4041324,
 1127172,
 485692,
 824760,
 815596,
 302412,
 861416,
 153318,
 929907,
 213312,
 806586,
 336633,
 4489551,
 313302,
 339966,
 213312,
 209979,
 366630,
 149985,
 819918,
 929907,
 323301,
 203313,
 293304,
 179982,
 343299,
 236643,
 386628,
 243309,
 279972,
 369963,
 233310,
 576609,
 279972,
 183315,
 303303,
 229977,
 249975,
 526614,
 239976,
 336633,
 416625,
 126654,
 20231310,
 419958,
 123321,
 229977,
 666600,
 10788921,
 416625,
 679932,
 326634,
 573276,
 216645,
 283305,
 113322,
 246642,
 1166550,
 639936,
 259974,
 3096357,
 369963,
 439956,
 213312,
 673266,
 526614,
 519948,
 216645,
 326634,
 233310,
 179982,
 133320,
 303303,
 186648,
 773256,
 309969,
 339966,
 369963,
 313302,
 269973,
 193314,
 199980,
 1206546,
 356631,
 463287,
 216645,
 156651,
 269973,
 279972,
 166650,
 326634,
 219978,
 463287,
 379962,
 1163217,
 203313,
 279972,
 293304,
 256641,
 419958,
 209979,
 296637,
 246642,
 209979,
 166650,
 179982,
 203313,
 169983,
 316635,
 216645,
 286638,
 216645,
 299970,
 256641,
 289971,
 416625,
 426624,
 473286,
 279972,
 309969,
 173316,
 333300,
 159984,
 329967,
 209979,
 939906,
 283305,
 619938,
 159984,
 206646,
 239976,
 293304,
 463287,
 6192714,
 353298,
 6192714,
 233310,
 193314,
 206646,
 286638,
 139986,
 389961,
 243309,
 336633,
 216645,
 1856481,
 1336533,
 239976,
 543279,
 316635,
 619938,
 16665,
 199980,
 973236,
 169983,
 213312,
 1299870,
 309969,
 369963,
 293304,
 906576,
 386628,
 329967,
 433290,
 256641,
 266640,
 269973,
 286638,
 293304,
 336633,
 326634,
 283305,
 306636,
 463287,
 433290,
 229977,
 286638,
 199980,
 196647,
 1053228,
 216645,
 149985,
 306636,
 186648,
 293304,
 179982,
 193314,
 193314,
 959904,
 166650,
 959904,
 319968,
 206646,
 183315,
 263307,
 299970,
 263307,
 306636,
 636603,
 309969,
 483285,
 226644,
 369963,
 153318,
 149985,
 89991,
 1469853,
 409959,
 176649,
 299970,
 296637,
 109989,
 313302,
 465980,
 2826270,
 648320,
 2451460,
 1023130,
 13645110,
 952220,
 1033260,
 648320,
 638190,
 1114300,
 455850,
 2491980,
 2826270,
 982610,
 617930,
 891440,
 547020,
 1043390,
 719230,
 1175080,
 739490,
 850920,
 1124430,
 709100,
 1752490,
 850920,
 557150,
 921830,
 698970,
 759750,
 1600540,
 729360,
 1023130,
 1266250,
 384940,
 61489100,
 1276380,
 374810,
 698970,
 2026000,
 32790810,
 1266250,
 2066520,
 992740,
 1742360,
 658450,
 861050,
 344420,
 749620,
 3545500,
 1944960,
 790140,
 9410770,
 1124430,
 1337160,
 648320,
 2046260,
 1600540,
 1580280,
 658450,
 992740,
 709100,
 547020,
 405200,
 921830,
 567280,
 2350160,
 942090,
 1033260,
 1124430,
 952220,
 820530,
 587540,
 607800,
 3667060,
 1083910,
 1408070,
 658450,
 476110,
 820530,
 850920,
 506500,
 992740,
 668580,
 1408070,
 1154820,
 3535370,
 617930,
 850920,
 891440,
 780010,
 1276380,
 638190,
 901570,
 749620,
 638190,
 506500,
 547020,
 617930,
 516630,
 962350,
 658450,
 871180,
 658450,
 911700,
 780010,
 881310,
 1266250,
 1296640,
 1438460,
 850920,
 942090,
 526760,
 1013000,
 486240,
 1002870,
 638190,
 2856660,
 861050,
 1884180,
 486240,
 628060,
 729360,
 891440,
 1408070,
 18821540,
 1073780,
 18821540,
 709100,
 587540,
 628060,
 871180,
 425460,
 1185210,
 739490,
 1023130,
 658450,
 5642410,
 4062130,
 729360,
 1651190,
 962350,
 1884180,
 50650,
 607800,
 2957960,
 516630,
 648320,
 3950700,
 942090,
 1124430,
 891440,
 2755360,
 1175080,
 1002870,
 1316900,
 780010,
 810400,
 820530,
 871180,
 891440,
 1023130,
 992740,
 861050,
 931960,
 1408070,
 1316900,
 698970,
 871180,
 607800,
 597670,
 3201080,
 658450,
 455850,
 931960,
 567280,
 891440,
 547020,
 587540,
 587540,
 2917440,
 506500,
 2917440,
 972480,
 628060,
 557150,
 800270,
 911700,
 800270,
 931960,
 1934830,
 942090,
 1468850,
 688840,
 1124430,
 465980,
 455850,
 273510,
 4467330,
 1245990,
 536890,
 911700,
 901570,
 334290,
 952220,
 760748,
 4614102,
 1058432,
 4002196,
 1670338,
 22276686,
 1554572,
 1686876,
 1058432,
 1041894,
 1819180,
 744210,
 4068348,
 4614102,
 1604186,
 1008818,
 1455344,
 893052,
 1703414,
 1174198,
 1918408,
 1207274,
 1389192,
 1835718,
 1157660,
 2861074,
 1389192,
 909590,
 1504958,
 1141122,
 1240350,
 2613004,
 1190736,
 1670338,
 2067250,
 628444,
 100385660,
 2083788,
 611906,
 1141122,
 3307600,
 53533506,
 2067250,
 3373752,
 1620724,
 2844536,
 1074970,
 1405730,
 562292,
 1223812,
 5788300,
 3175296,
 1289964,
 15363802,
 1835718,
 2183016,
 1058432,
 3340676,
 2613004,
 2579928,
 1074970,
 1620724,
 1157660,
 893052,
 661520,
 1504958,
 926128,
 3836816,
 1538034,
 1686876,
 1835718,
 1554572,
 1339578,
 959204,
 992280,
 5986756,
 1769566,
 2298782,
 1074970,
 777286,
 1339578,
 1389192,
 826900,
 1620724,
 1091508,
 2298782,
 1885332,
 5771762,
 1008818,
 1389192,
 1455344,
 1273426,
 2083788,
 1041894,
 1471882,
 1223812,
 1041894,
 826900,
 893052,
 1008818,
 843438,
 1571110,
 1074970,
 1422268,
 1074970,
 1488420,
 1273426,
 1438806,
 2067250,
 2116864,
 2348396,
 1389192,
 1538034,
 859976,
 1653800,
 793824,
 1637262,
 1041894,
 4663716,
 1405730,
 3076068,
 793824,
 1025356,
 1190736,
 1455344,
 2298782,
 30727604,
 1753028,
 30727604,
 1157660,
 959204,
 1025356,
 1422268,
 694596,
 1934946,
 1207274,
 1670338,
 1074970,
 9211666,
 6631738,
 1190736,
 2695694,
 1571110,
 3076068,
 82690,
 992280,
 4829096,
 843438,
 1058432,
 6449820,
 1538034,
 1835718,
 1455344,
 4498336,
 1918408,
 1637262,
 2149940,
 1273426,
 1323040,
 1339578,
 1422268,
 1455344,
 1670338,
 1620724,
 1405730,
 1521496,
 2298782,
 2149940,
 1141122,
 1422268,
 992280,
 975742,
 5226008,
 1074970,
 744210,
 1521496,
 926128,
 1455344,
 893052,
 959204,
 959204,
 4762944,
 826900,
 4762944,
 1587648,
 1025356,
 909590,
 1306502,
 1488420,
 1306502,
 1521496,
 3158758,
 1538034,
 2398010,
 1124584,
 1835718,
 760748,
 744210,
 446526,
 7293258,
 2034174,
 876514,
 1488420,
 1471882,
 545754,
 1554572,
 395002,
 2395773,
 549568,
 2078054,
 867287,
 11566689,
 807178,
 875874,
 549568,
 540981,
 944570,
 386415,
 2112402,
 2395773,
 832939,
 523807,
 755656,
 463698,
 884461,
 609677,
 996092,
 626851,
 721308,
 953157,
 601090,
 1485551,
 721308,
 472285,
 781417,
 592503,
 644025,
 1356746,
 618264,
 867287,
 1073375,
 326306,
 52123090,
 1081962,
 317719,
 592503,
 1717400,
 27796119,
 1073375,
 1751748,
 841526,
 1476964,
 558155,
 729895,
 291958,
 635438,
 3005450,
 1648704,
 669786,
 7977323,
 953157,
 1133484,
 549568,
 1734574,
 1356746,
 1339572,
 558155,
 841526,
 601090,
 463698,
 343480,
 781417,
 480872,
 1992184,
 798591,
 875874,
 953157,
 807178,
 695547,
 498046,
 515220,
 3108494,
 918809,
 1193593,
 558155,
 403589,
 695547,
 721308,
 429350,
 841526,
 566742,
 1193593,
 978918,
 2996863,
 523807,
 721308,
 755656,
 661199,
 1081962,
 540981,
 764243,
 635438,
 540981,
 429350,
 463698,
 523807,
 437937,
 815765,
 558155,
 738482,
 558155,
 772830,
 661199,
 747069,
 1073375,
 1099136,
 1219354,
 721308,
 798591,
 446524,
 858700,
 412176,
 850113,
 540981,
 2421534,
 729895,
 1597182,
 412176,
 532394,
 618264,
 755656,
 1193593,
 15954646,
 910222,
 15954646,
 601090,
 498046,
 532394,
 738482,
 360654,
 1004679,
 626851,
 867287,
 558155,
 4782959,
 3443387,
 618264,
 1399681,
 815765,
 1597182,
 42935,
 515220,
 2507404,
 437937,
 549568,
 3348930,
 798591,
 953157,
 755656,
 2335664,
 996092,
 850113,
 1116310,
 661199,
 686960,
 695547,
 738482,
 755656,
 867287,
 841526,
 729895,
 790004,
 1193593,
 1116310,
 592503,
 738482,
 515220,
 506633,
 2713492,
 558155,
 386415,
 790004,
 ...]

# bath

In [46]:
baths = df['bhk'].tolist()

print(baths)

['1 BHK1 Bath', nan, '2 BHK2 Baths', '4 BHK4 Baths', '2 BHK2 Baths', nan, '2 BHK2 Baths', '3 BHK3 Baths', '1 BHK1 Bath', '2 BHK2 Baths', '2 BHK2 Baths', '1 BHK2 Baths', nan, '5 BHK6 Baths', '2 BHK2 Baths', '1 BHK1 Bath', '2 BHK2 Baths', '2 BHK2 Baths', '2 BHK2 Baths', '2 BHK1 Bath', '2 BHK2 Baths', '2 BHK2 Baths', '2 BHK2 Baths', '2 BHK2 Baths', '1 BHK1 Bath', '3 BHK3 Baths', '2 BHK2 Baths', '1 BHK1 Bath', '2 BHK2 Baths', '2 BHK2 Baths', '2 BHK2 Baths', '3 BHK4 Baths', '2 BHK2 Baths', '2 BHK2 Baths', '3 BHK2 Baths', '1 BHK1 Bath', nan, '3 BHK3 Baths', '1 BHK1 Bath', '2 BHK2 Baths', '3 BHK4 Baths', '2 BHK2 Baths', '3 BHK3 Baths', '4 BHK4 Baths', '3 BHK2 Baths', '3 BHK3 Baths', '1 BHK1 Bath', '2 BHK2 Baths', '1 BHK1 Bath', '2 BHK2 Baths', nan, '3 BHK4 Baths', '2 BHK2 Baths', nan, '3 BHK3 Baths', '2 BHK2 Baths', '1 BHK1 Bath', nan, '4 BHK3 Baths', '3 BHK3 Baths', '2 BHK2 Baths', '2 BHK2 Baths', '2 BHK2 Baths', '1 BHK1 Bath', '1 BHK1 Bath', '2 BHK2 Baths', '1 BHK1 Bath', '3 BHK3 Baths', nan, '2 BHK2 Baths', '2 BHK2 Baths', '2 BHK2 Baths', '2 BHK2 Baths', '1 BHK1 Bath', '1 BHK1 Bath', '6 BHK6 Baths', '3 BHK2 Baths', '2 BHK2 Baths', '2 BHK2 Baths', '1 BHK1 Bath', '2 BHK2 Baths', '2 BHK2 Baths', '1 BHK1 Bath', '2 BHK2 Baths', '1 BHK1 Bath', '2 BHK2 Baths', '2 BHK2 Baths', '4 BHK4 Baths', '1 BHK1 Bath', nan, '2 BHK2 Baths', '2 BHK2 Baths', '3 BHK3 Baths', '1 BHK1 Bath', '2 BHK2 Baths', '2 BHK2 Baths', '3 BHK2 Baths', '1 BHK1 Bath', '2 BHK2 Baths', '1 BHK1 Bath', '1 BHK1 Bath', '2 BHK2 Baths', '1 BHK1 Bath', '3 BHK2 Baths', '2 BHK2 Baths', '2 BHK2 Baths', '2 BHK2 Baths', '2 BHK2 Baths', '3 BHK3 Baths', '2 BHK2 Baths', '3 BHK3 Baths', '2 BHK2 Baths', '2 BHK2 Baths', '1 BHK1 Bath', '2 BHK2 Baths', '1 BHK1 Bath', '2 BHK2 Baths', '2 BHK1 Bath', '7 BHK8 Baths', '2 BHK2 Baths', '4 BHK4 Baths', '1 BHK1 Bath', '2 BHK2 Baths', '2 BHK2 Baths', '2 BHK2 Baths', '2 BHK4 Baths', nan, '2 BHK2 Baths', nan, '2 BHK2 Baths', '2 BHK2 Baths', '2 BHK2 Baths', '2 BHK2 Baths', '2 BHK2 Baths', '3 BHK3 Baths', '2 BHK2 Baths', '2 BHK2 Baths', '2 BHK2 Baths', nan, nan, '2 BHK2 Baths', '3 BHK4 Baths', '2 BHK2 Baths', nan, '5 BHK5 Baths', '1 BHK1 Bath', '5 BHK5 Baths', '2 BHK1 Bath', '1 BHK1 Bath', '4 BHK6 Baths', '2 BHK2 Baths', '2 BHK2 Baths', '2 BHK2 Baths', '3 BHK3 Baths', '3 BHK3 Baths', '2 BHK2 Baths', '2 BHK2 Baths', '2 BHK2 Baths', '2 BHK2 Baths', '2 BHK2 Baths', '2 BHK2 Baths', '3 BHK3 Baths', '2 BHK2 Baths', '2 BHK2 Baths', '2 BHK2 Baths', '2 BHK2 Baths', '3 BHK3 Baths', '3 BHK3 Baths', '2 BHK1 Bath', '2 BHK2 Baths', '2 BHK2 Baths', '1 BHK2 Baths', '5 BHK4 Baths', '2 BHK2 Baths', '3 BHK1 Bath', '2 BHK2 Baths', '1 BHK1 Bath', '2 BHK2 Baths', '1 BHK1 Bath', '1 BHK1 Bath', '1 BHK1 Bath', nan, '2 BHK2 Baths', nan, '2 BHK2 Baths', '2 BHK1 Bath', '2 BHK2 Baths', '2 BHK2 Baths', '2 BHK2 Baths', '2 BHK2 Baths', '2 BHK2 Baths', '3 BHK4 Baths', nan, '3 BHK3 Baths', '1 BHK1 Bath', '3 BHK2 Baths', '1 BHK1 Bath', '1 BHK1 Bath', '1 BHK1 Bath', '6 BHK6 Baths', '2 BHK2 Baths', '1 BHK1 Bath', '2 BHK2 Baths', '2 BHK2 Baths', '2 BHK2 Baths', '3 BHK3 Baths']

In [47]:
Baths = [re.search(r'\d+', x).group() if x is not np.nan else x for x in baths]

print(Baths)

['1', nan, '2', '4', '2', nan, '2', '3', '1', '2', '2', '1', nan, '5', '2', '1', '2', '2', '2', '2', '2', '2', '2', '2', '1', '3', '2', '1', '2', '2', '2', '3', '2', '2', '3', '1', nan, '3', '1', '2', '3', '2', '3', '4', '3', '3', '1', '2', '1', '2', nan, '3', '2', nan, '3', '2', '1', nan, '4', '3', '2', '2', '2', '1', '1', '2', '1', '3', nan, '2', '2', '2', '2', '1', '1', '6', '3', '2', '2', '1', '2', '2', '1', '2', '1', '2', '2', '4', '1', nan, '2', '2', '3', '1', '2', '2', '3', '1', '2', '1', '1', '2', '1', '3', '2', '2', '2', '2', '3', '2', '3', '2', '2', '1', '2', '1', '2', '2', '7', '2', '4', '1', '2', '2', '2', '2', nan, '2', nan, '2', '2', '2', '2', '2', '3', '2', '2', '2', nan, nan, '2', '3', '2', nan, '5', '1', '5', '2', '1', '4', '2', '2', '2', '3', '3', '2', '2', '2', '2', '2', '2', '3', '2', '2', '2', '2', '3', '3', '2', '2', '2', '1', '5', '2', '3', '2', '1', '2', '1', '1', '1', nan, '2', nan, '2', '2', '2', '2', '2', '2', '2', '3', nan, '3', '1', '3', '1', '1', '1', '6', '2', '1', '2', '2', '2', '3']

In [48]:
for i in range(len(Baths)):
    try:
        if np.isnan(float(Baths[i])):
            Baths[i] = 0
    except:
        pass

print(Baths)

['1', 0, '2', '4', '2', 0, '2', '3', '1', '2', '2', '1', 0, '5', '2', '1', '2', '2', '2', '2', '2', '2', '2', '2', '1', '3', '2', '1', '2', '2', '2', '3', '2', '2', '3', '1', 0, '3', '1', '2', '3', '2', '3', '4', '3', '3', '1', '2', '1', '2', 0, '3', '2', 0, '3', '2', '1', 0, '4', '3', '2', '2', '2', '1', '1', '2', '1', '3', 0, '2', '2', '2', '2', '1', '1', '6', '3', '2', '2', '1', '2', '2', '1', '2', '1', '2', '2', '4', '1', 0, '2', '2', '3', '1', '2', '2', '3', '1', '2', '1', '1', '2', '1', '3', '2', '2', '2', '2', '3', '2', '3', '2', '2', '1', '2', '1', '2', '2', '7', '2', '4', '1', '2', '2', '2', '2', 0, '2', 0, '2', '2', '2', '2', '2', '3', '2', '2', '2', 0, 0, '2', '3', '2', 0, '5', '1', '5', '2', '1', '4', '2', '2', '2', '3', '3', '2', '2', '2', '2', '2', '2', '3', '2', '2', '2', '2', '3', '3', '2', '2', '2', '1', '5', '2', '3', '2', '1', '2', '1', '1', '1', 0, '2', 0, '2', '2', '2', '2', '2', '2', '2', '3', 0, '3', '1', '3', '1', '1', '1', '6', '2', '1', '2', '2', '2', '3']

In [49]:
for i in range(len(Baths)):
    try:
        Baths[i] = int(Baths[i])
    except:
        pass
print(Baths)

[1, 0, 2, 4, 2, 0, 2, 3, 1, 2, 2, 1, 0, 5, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 1, 3, 2, 1, 2, 2, 2, 3, 2, 2, 3, 1, 0, 3, 1, 2, 3, 2, 3, 4, 3, 3, 1, 2, 1, 2, 0, 3, 2, 0, 3, 2, 1, 0, 4, 3, 2, 2, 2, 1, 1, 2, 1, 3, 0, 2, 2, 2, 2, 1, 1, 6, 3, 2, 2, 1, 2, 2, 1, 2, 1, 2, 2, 4, 1, 0, 2, 2, 3, 1, 2, 2, 3, 1, 2, 1, 1, 2, 1, 3, 2, 2, 2, 2, 3, 2, 3, 2, 2, 1, 2, 1, 2, 2, 7, 2, 4, 1, 2, 2, 2, 2, 0, 2, 0, 2, 2, 2, 2, 2, 3, 2, 2, 2, 0, 0, 2, 3, 2, 0, 5, 1, 5, 2, 1, 4, 2, 2, 2, 3, 3, 2, 2, 2, 2, 2, 2, 3, 2, 2, 2, 2, 3, 3, 2, 2, 2, 1, 5, 2, 3, 2, 1, 2, 1, 1, 1, 0, 2, 0, 2, 2, 2, 2, 2, 2, 2, 3, 0, 3, 1, 3, 1, 1, 1, 6, 2, 1, 2, 2, 2, 3]

In [50]:
len(Baths)

206

In [51]:
print(len(bhk))
print(len(Total_SqFt))
print(len(BuiltUp_Area_Sqm))
print(len(Price_per_SqFt))
print(len(type_of_land))
print(len(loc))
print(len(new_matches))

206
206
206
206
206
206
206

In [52]:
df=pd.DataFrame({'BHK':bhk,'Baths':Baths,'Total_Area_SqFt':Total_SqFt,"Price_per_SqFt":Price_per_SqFt,"Type_of_Land":type_of_land,'Area':loc,'Price':new_matches})
df["Location"]='Pune'
df

,BHK,Baths,Total_Area_SqFt,Price_per_SqFt,Type_of_Land,Area,Price,Location
0,1,1,491,9164,Apartment,Laxmi Narayan Nagar,4500000,Pune
1,0,0,3000,3333,Residential land / Plot,Ambegaon Kh,10000000,Pune
2,2,2,691,10130,Apartment,Manjari Budruk,7000000,Pune
3,4,4,2600,16538,Apartment,Kondhwa,43000000,Pune
4,2,2,1083,8587,Apartment,Pimple Saudagar,9300000,Pune
...,...,...,...,...,...,...,...,...
201,1,1,570,7368,Apartment,Patil Nagar,4200000,Pune
202,2,2,970,11340,Apartment,Kaspate Vasti,11000000,Pune
203,2,2,954,7861,Apartment,Wadgaon Sheri,7500000,Pune
204,2,2,360,3333,Apartment,Koregaon Mul,1200000,Pune
205,3,3,1015,16247,Apartment,Baner Pashan Link Road,16500000,Pune

In [53]:
df.to_excel('Buy_Data.xlsx')