# selenium

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options
import time
from bs4 import BeautifulSoup

In [2]:
path = "C:/Users/imjma/chromedriver.exe"
url = "https://www.99acres.com/search/property/buy/pune?city=19&preference=S&area_unit=1&budget_min=0&res_com=R&isPreLeased=N"

In [3]:
location = []
price_per_sqft = []
total_sqft = []
built_area_sqm =[]
num_of_bhk = []
price = []

In [4]:
def scroll_down():

    y = 750
    
    while True:

        # Scroll down to the bottom.
        driver.execute_script("window.scrollTo(0, " + str(y) + ")")
        # to get the document
        x = driver.execute_script("return document.documentElement.scrollHeight")
        print(f"x = {x}")
        print(f"y = {y}")
        y += 750
        time.sleep(2)
        
        
       
        

        if y > x:
            html=driver.page_source
            soup = BeautifulSoup(html,'html.parser')
            data = soup.find_all('section')
           
            for i in data:
                
    
                location.append(i.find('h2', class_="srpTuple__tupleTitleOverflow"))
    
                price_per_sqft.append(i.find('div', id="srp_tuple_price_per_unit_area"))
    
                total_sqft.append(i.find('td', id="srp_tuple_primary_area"))

                built_area_sqm.append(i.find('div', id="srp_tuple_secondary_area"))

                num_of_bhk.append(i.find('td', id="srp_tuple_bedroom"))
    
                price.append(i.find('td', id="srp_tuple_price"))
    
    


            
            element = driver.find_element(By.CLASS_NAME, "Pagination__srpPagination")
            driver.execute_script("window.scrollTo(0, " + str(element.location['y'] - 300) + ")") 
            time.sleep(2)
            WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, "//a[@class='list_header_bold' and contains(., 'Next Page ')]"))).click()
            
            break

In [5]:
chrome_options = Options()
chrome_options.add_argument("--start-maximized")
driver = webdriver.Chrome(path, chrome_options=chrome_options)
driver.get(url)

for i in range(25):
    scroll_down()

C:\Users\imjma\AppData\Local\Temp\ipykernel_23488\3385472697.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(path, chrome_options=chrome_options)
C:\Users\imjma\AppData\Local\Temp\ipykernel_23488\3385472697.py:3: DeprecationWarning: use options instead of chrome_options
  driver = webdriver.Chrome(path, chrome_options=chrome_options)

x = 12208
y = 750
x = 15409
y = 1500
x = 23542
y = 2250
x = 23542
y = 3000
x = 23542
y = 3750
x = 23542
y = 4500
x = 23542
y = 5250
x = 23542
y = 6000
x = 23542
y = 6750
x = 23542
y = 7500
x = 23542
y = 8250
x = 23542
y = 9000
x = 23542
y = 9750
x = 23542
y = 10500
x = 23542
y = 11250
x = 23542
y = 12000
x = 34482
y = 12750
x = 30914
y = 13500
x = 31308
y = 14250
x = 31308
y = 15000
x = 31308
y = 15750
x = 31308
y = 16500
x = 31308
y = 17250
x = 31308
y = 18000
x = 31308
y = 18750
x = 31308
y = 19500
x = 31308
y = 20250
x = 31308
y = 21000
x = 31308
y = 21750
x = 31308
y = 22500
x = 39836
y = 23250
x = 42188
y = 24000
x = 42188
y = 24750
x = 42188
y = 25500
x = 42188
y = 26250
x = 42188
y = 27000
x = 42188
y = 27750
x = 42188
y = 28500
x = 42188
y = 29250
x = 42188
y = 30000
x = 42188
y = 30750
x = 42188
y = 31500
x = 42188
y = 32250
x = 42188
y = 33000
x = 42188
y = 33750
x = 42188
y = 34500
x = 53068
y = 35250
x = 53068
y = 36000
x = 53068
y = 36750
x = 53068
y = 37500
x = 53068
y = 38250
x = 53068
y = 39000
x = 53068
y = 39750
x = 53068
y = 40500
x = 53068
y = 41250
x = 53068
y = 42000
x = 53068
y = 42750
x = 53068
y = 43500
x = 53068
y = 44250
x = 61596
y = 45000
x = 63738
y = 45750
x = 63738
y = 46500
x = 63738
y = 47250
x = 63738
y = 48000
x = 63738
y = 48750
x = 63738
y = 49500
x = 63738
y = 50250
x = 63738
y = 51000
x = 63738
y = 51750
x = 63738
y = 52500
x = 63738
y = 53250
x = 63738
y = 54000
x = 63738
y = 54750
x = 63738
y = 55500
x = 63738
y = 56250
x = 63738
y = 57000
x = 63738
y = 57750
x = 59603
y = 58500
x = 64018
y = 59250
x = 64018
y = 60000
x = 64018
y = 60750
x = 64018
y = 61500
x = 64018
y = 62250
x = 64018
y = 63000
x = 64018
y = 63750
x = 19856
y = 750
x = 19856
y = 1500
x = 19856
y = 2250
x = 19856
y = 3000
x = 19856
y = 3750
x = 19856
y = 4500
x = 19856
y = 5250
x = 19856
y = 6000
x = 19856
y = 6750
x = 19856
y = 7500
x = 19856
y = 8250
x = 19856
y = 9000
x = 19856
y = 9750
x = 19856
y = 10500
x = 19856
y = 11250
x = 19856
y = 12000
x = 19856
y = 12750
x = 19856
y = 13500
x = 19856
y = 14250
x = 19856
y = 15000
x = 19856
y = 15750
x = 19856
y = 16500
x = 19856
y = 17250
x = 19856
y = 18000
x = 19856
y = 18750
x = 19856
y = 19500
x = 28384
y = 750
x = 19916
y = 1500
x = 19916
y = 2250
x = 19916
y = 3000
x = 19916
y = 3750
x = 19916
y = 4500
x = 19916
y = 5250
x = 19916
y = 6000
x = 19916
y = 6750
x = 19916
y = 7500
x = 19916
y = 8250
x = 19916
y = 9000
x = 19916
y = 9750
x = 19916
y = 10500
x = 19916
y = 11250
x = 19916
y = 12000
x = 19916
y = 12750
x = 19916
y = 13500
x = 19916
y = 14250
x = 19916
y = 15000
x = 19916
y = 15750
x = 19916
y = 16500
x = 19916
y = 17250
x = 19916
y = 18000
x = 19916
y = 18750
x = 19916
y = 19500
x = 28444
y = 750
x = 19886
y = 1500
x = 19886
y = 2250
x = 19886
y = 3000
x = 19886
y = 3750
x = 19886
y = 4500
x = 19886
y = 5250
x = 19886
y = 6000
x = 19886
y = 6750
x = 19886
y = 7500
x = 19886
y = 8250
x = 19886
y = 9000
x = 19886
y = 9750
x = 19886
y = 10500
x = 19886
y = 11250
x = 19886
y = 12000
x = 19886
y = 12750
x = 19886
y = 13500
x = 19886
y = 14250
x = 19886
y = 15000
x = 19886
y = 15750
x = 19886
y = 16500
x = 19886
y = 17250
x = 19886
y = 18000
x = 19886
y = 18750
x = 19886
y = 19500
x = 28414
y = 750
x = 19916
y = 1500
x = 19916
y = 2250
x = 19916
y = 3000
x = 19916
y = 3750
x = 19916
y = 4500
x = 19916
y = 5250
x = 19916
y = 6000
x = 19916
y = 6750
x = 19916
y = 7500
x = 19916
y = 8250
x = 19916
y = 9000
x = 19916
y = 9750
x = 19916
y = 10500
x = 19916
y = 11250
x = 19916
y = 12000
x = 19916
y = 12750
x = 19916
y = 13500
x = 19916
y = 14250
x = 19916
y = 15000
x = 19916
y = 15750
x = 19916
y = 16500
x = 19916
y = 17250
x = 19916
y = 18000
x = 19916
y = 18750
x = 19916
y = 19500
x = 28444
y = 750
x = 20006
y = 1500
x = 20006
y = 2250
x = 20006
y = 3000
x = 20006
y = 3750
x = 20006
y = 4500
x = 20006
y = 5250
x = 20006
y = 6000
x = 20006
y = 6750
x = 20006
y = 7500
x = 20006
y = 8250
x = 20006
y = 9000
x = 20006
y = 9750
x = 20006
y = 10500
x = 20006
y = 11250
x = 20006
y = 12000
x = 20006
y = 12750
x = 20006
y = 13500
x = 20006
y = 14250
x = 20006
y = 15000
x = 20006
y = 15750
x = 20006
y = 16500
x = 20006
y = 17250
x = 20006
y = 18000
x = 20006
y = 18750
x = 20006
y = 19500
x = 28534
y = 750
x = 19808
y = 1500
x = 19808
y = 2250
x = 19808
y = 3000
x = 19808
y = 3750
x = 19808
y = 4500
x = 19808
y = 5250
x = 19808
y = 6000
x = 19808
y = 6750
x = 19808
y = 7500
x = 19808
y = 8250
x = 19808
y = 9000
x = 19808
y = 9750
x = 19808
y = 10500
x = 19808
y = 11250
x = 19808
y = 12000
x = 19808
y = 12750
x = 19808
y = 13500
x = 19808
y = 14250
x = 19808
y = 15000
x = 19808
y = 15750
x = 19808
y = 16500
x = 19808
y = 17250
x = 19808
y = 18000
x = 19808
y = 18750
x = 19808
y = 19500
x = 28336
y = 750
x = 19912
y = 1500
x = 19912
y = 2250
x = 19912
y = 3000
x = 19912
y = 3750
x = 19912
y = 4500
x = 19912
y = 5250
x = 19912
y = 6000
x = 19912
y = 6750
x = 19912
y = 7500
x = 19912
y = 8250
x = 19912
y = 9000
x = 19912
y = 9750
x = 19912
y = 10500
x = 19912
y = 11250
x = 19912
y = 12000
x = 19912
y = 12750
x = 19912
y = 13500
x = 19912
y = 14250
x = 19912
y = 15000
x = 19912
y = 15750
x = 19912
y = 16500
x = 19912
y = 17250
x = 19912
y = 18000
x = 19912
y = 18750
x = 19912
y = 19500
x = 28440
y = 750
x = 19599
y = 1500
x = 19599
y = 2250
x = 19599
y = 3000
x = 19599
y = 3750
x = 19599
y = 4500
x = 19599
y = 5250
x = 19599
y = 6000
x = 19599
y = 6750
x = 19599
y = 7500
x = 19599
y = 8250
x = 19599
y = 9000
x = 19599
y = 9750
x = 19599
y = 10500
x = 19599
y = 11250
x = 19599
y = 12000
x = 19599
y = 12750
x = 19599
y = 13500
x = 19599
y = 14250
x = 19599
y = 15000
x = 19599
y = 15750
x = 19599
y = 16500
x = 19599
y = 17250
x = 19599
y = 18000
x = 19599
y = 18750
x = 19599
y = 19500
x = 28127
y = 750
x = 19592
y = 1500
x = 19592
y = 2250
x = 19592
y = 3000
x = 19592
y = 3750
x = 19592
y = 4500
x = 19592
y = 5250
x = 19592
y = 6000
x = 19592
y = 6750
x = 19592
y = 7500
x = 19592
y = 8250
x = 19592
y = 9000
x = 19592
y = 9750
x = 19592
y = 10500
x = 19592
y = 11250
x = 19592
y = 12000
x = 19592
y = 12750
x = 19592
y = 13500
x = 19592
y = 14250
x = 19592
y = 15000
x = 19592
y = 15750
x = 19592
y = 16500
x = 19592
y = 17250
x = 19592
y = 18000
x = 19592
y = 18750
x = 19592
y = 19500
x = 28120
y = 750
x = 19055
y = 1500
x = 19055
y = 2250
x = 19055
y = 3000
x = 19055
y = 3750
x = 19055
y = 4500
x = 19055
y = 5250
x = 19055
y = 6000
x = 19055
y = 6750
x = 19055
y = 7500
x = 19055
y = 8250
x = 19055
y = 9000
x = 19055
y = 9750
x = 19055
y = 10500
x = 19055
y = 11250
x = 19055
y = 12000
x = 19055
y = 12750
x = 19055
y = 13500
x = 19055
y = 14250
x = 19055
y = 15000
x = 19055
y = 15750
x = 19055
y = 16500
x = 19055
y = 17250
x = 19055
y = 18000
x = 19055
y = 18750
x = 27583
y = 750
x = 19302
y = 1500
x = 19302
y = 2250
x = 19302
y = 3000
x = 19302
y = 3750
x = 19302
y = 4500
x = 19302
y = 5250
x = 19302
y = 6000
x = 19302
y = 6750
x = 19302
y = 7500
x = 19302
y = 8250
x = 19302
y = 9000
x = 19302
y = 9750
x = 19302
y = 10500
x = 19302
y = 11250
x = 19302
y = 12000
x = 19302
y = 12750
x = 19302
y = 13500
x = 19302
y = 14250
x = 19302
y = 15000
x = 19302
y = 15750
x = 19302
y = 16500
x = 19302
y = 17250
x = 19302
y = 18000
x = 19302
y = 18750
x = 27830
y = 750
x = 18657
y = 1500
x = 18657
y = 2250
x = 18657
y = 3000
x = 18657
y = 3750
x = 18657
y = 4500
x = 18657
y = 5250
x = 18657
y = 6000
x = 18657
y = 6750
x = 18657
y = 7500
x = 18657
y = 8250
x = 18657
y = 9000
x = 18657
y = 9750
x = 18657
y = 10500
x = 18657
y = 11250
x = 18657
y = 12000
x = 18657
y = 12750
x = 18657
y = 13500
x = 18657
y = 14250
x = 18657
y = 15000
x = 18657
y = 15750
x = 18657
y = 16500
x = 18657
y = 17250
x = 18657
y = 18000
x = 27185
y = 750
x = 19459
y = 1500
x = 19459
y = 2250
x = 19459
y = 3000
x = 19459
y = 3750
x = 19459
y = 4500
x = 19459
y = 5250
x = 19459
y = 6000
x = 19459
y = 6750
x = 19459
y = 7500
x = 19459
y = 8250
x = 19459
y = 9000
x = 19459
y = 9750
x = 19459
y = 10500
x = 19459
y = 11250
x = 19459
y = 12000
x = 19459
y = 12750
x = 19459
y = 13500
x = 19459
y = 14250
x = 19459
y = 15000
x = 19459
y = 15750
x = 19459
y = 16500
x = 19459
y = 17250
x = 19459
y = 18000
x = 19459
y = 18750
x = 27987
y = 750
x = 19366
y = 1500

x = 19366
y = 2250
x = 19366
y = 3000
x = 19366
y = 3750
x = 19366
y = 4500
x = 19366
y = 5250
x = 19366
y = 6000
x = 19366
y = 6750
x = 19366
y = 7500
x = 19366
y = 8250
x = 19366
y = 9000
x = 19366
y = 9750
x = 19366
y = 10500
x = 19366
y = 11250
x = 19366
y = 12000
x = 19366
y = 12750
x = 19366
y = 13500
x = 19366
y = 14250
x = 19366
y = 15000
x = 19366
y = 15750
x = 19366
y = 16500
x = 19366
y = 17250
x = 19366
y = 18000
x = 19366
y = 18750
x = 27894
y = 750
x = 18968
y = 1500
x = 18968
y = 2250
x = 18968
y = 3000
x = 18968
y = 3750
x = 18968
y = 4500
x = 18968
y = 5250
x = 18968
y = 6000
x = 18968
y = 6750
x = 18968
y = 7500
x = 18968
y = 8250
x = 18968
y = 9000
x = 18968
y = 9750
x = 18968
y = 10500
x = 18968
y = 11250
x = 18968
y = 12000
x = 18968
y = 12750
x = 18968
y = 13500
x = 18968
y = 14250
x = 18968
y = 15000
x = 18968
y = 15750
x = 18968
y = 16500
x = 18968
y = 17250
x = 18968
y = 18000
x = 18968
y = 18750
x = 27496
y = 750
x = 19518
y = 1500
x = 19518
y = 2250
x = 19518
y = 3000
x = 19518
y = 3750
x = 19518
y = 4500
x = 19518
y = 5250
x = 19518
y = 6000
x = 19518
y = 6750
x = 19518
y = 7500
x = 19518
y = 8250
x = 19518
y = 9000
x = 19518
y = 9750
x = 19518
y = 10500
x = 19518
y = 11250
x = 19518
y = 12000
x = 19518
y = 12750
x = 19518
y = 13500
x = 19518
y = 14250
x = 19518
y = 15000
x = 19518
y = 15750
x = 19518
y = 16500
x = 19518
y = 17250
x = 19518
y = 18000
x = 19518
y = 18750
x = 19518
y = 19500
x = 28046
y = 750
x = 19000
y = 1500
x = 19000
y = 2250
x = 19000
y = 3000
x = 19000
y = 3750
x = 19000
y = 4500
x = 19000
y = 5250
x = 19000
y = 6000
x = 19000
y = 6750
x = 19000
y = 7500
x = 19000
y = 8250
x = 19000
y = 9000
x = 19000
y = 9750
x = 19000
y = 10500
x = 19000
y = 11250
x = 19000
y = 12000
x = 19000
y = 12750
x = 19000
y = 13500
x = 19000
y = 14250
x = 19000
y = 15000
x = 19000
y = 15750
x = 19000
y = 16500
x = 19000
y = 17250
x = 19000
y = 18000
x = 19000
y = 18750
x = 27528
y = 750
x = 19003
y = 1500
x = 19003
y = 2250
x = 19003
y = 3000
x = 19003
y = 3750
x = 19003
y = 4500
x = 19003
y = 5250
x = 19003
y = 6000
x = 19003
y = 6750
x = 19003
y = 7500
x = 19003
y = 8250
x = 19003
y = 9000
x = 19003
y = 9750
x = 19003
y = 10500
x = 19003
y = 11250
x = 19003
y = 12000
x = 19003
y = 12750
x = 19003
y = 13500
x = 19003
y = 14250
x = 19003
y = 15000
x = 19003
y = 15750
x = 19003
y = 16500
x = 19003
y = 17250
x = 19003
y = 18000
x = 19003
y = 18750
x = 27531
y = 750
x = 19774
y = 1500
x = 19774
y = 2250
x = 19774
y = 3000
x = 19774
y = 3750
x = 19774
y = 4500
x = 19774
y = 5250
x = 19774
y = 6000
x = 19774
y = 6750
x = 19774
y = 7500
x = 19774
y = 8250
x = 19774
y = 9000
x = 19774
y = 9750
x = 19774
y = 10500
x = 19774
y = 11250
x = 19774
y = 12000
x = 19774
y = 12750
x = 19774
y = 13500
x = 19774
y = 14250
x = 19774
y = 15000
x = 19774
y = 15750
x = 19774
y = 16500
x = 19774
y = 17250
x = 19774
y = 18000
x = 19774
y = 18750
x = 19774
y = 19500
x = 19464
y = 750
x = 19464
y = 1500
x = 19464
y = 2250
x = 19464
y = 3000
x = 19464
y = 3750
x = 19464
y = 4500
x = 19464
y = 5250
x = 19464
y = 6000
x = 19464
y = 6750
x = 19464
y = 7500
x = 19464
y = 8250
x = 19464
y = 9000
x = 19464
y = 9750
x = 19464
y = 10500
x = 19464
y = 11250
x = 19464
y = 12000
x = 19464
y = 12750
x = 19464
y = 13500
x = 19464
y = 14250
x = 19464
y = 15000
x = 19464
y = 15750
x = 19464
y = 16500
x = 19464
y = 17250
x = 19464
y = 18000
x = 19464
y = 18750
x = 27992
y = 750
x = 19307
y = 1500
x = 19307
y = 2250
x = 19307
y = 3000
x = 19307
y = 3750
x = 19307
y = 4500
x = 19307
y = 5250
x = 19307
y = 6000
x = 19307
y = 6750
x = 19307
y = 7500
x = 19307
y = 8250
x = 19307
y = 9000
x = 19307
y = 9750
x = 19307
y = 10500
x = 19307
y = 11250
x = 19307
y = 12000
x = 19307
y = 12750
x = 19307
y = 13500
x = 19307
y = 14250
x = 19307
y = 15000
x = 19307
y = 15750
x = 19307
y = 16500
x = 19307
y = 17250
x = 19307
y = 18000
x = 19307
y = 18750
x = 27835
y = 750
x = 18934
y = 1500
x = 18934
y = 2250
x = 18934
y = 3000
x = 18934
y = 3750
x = 18934
y = 4500
x = 18934
y = 5250
x = 18934
y = 6000
x = 18934
y = 6750
x = 18934
y = 7500
x = 18934
y = 8250
x = 18934
y = 9000
x = 18934
y = 9750
x = 18934
y = 10500
x = 18934
y = 11250
x = 18934
y = 12000
x = 18934
y = 12750
x = 18934
y = 13500
x = 18934
y = 14250
x = 18934
y = 15000
x = 18934
y = 15750
x = 18934
y = 16500
x = 18934
y = 17250
x = 18934
y = 18000
x = 18934
y = 18750
x = 27462
y = 750
x = 18705
y = 1500
x = 18705
y = 2250
x = 18705
y = 3000
x = 18705
y = 3750
x = 18705
y = 4500
x = 18705
y = 5250
x = 18705
y = 6000
x = 18705
y = 6750
x = 18705
y = 7500
x = 18705
y = 8250
x = 18705
y = 9000
x = 18705
y = 9750
x = 18705
y = 10500
x = 18705
y = 11250
x = 18705
y = 12000
x = 18705
y = 12750
x = 18705
y = 13500
x = 18705
y = 14250
x = 18705
y = 15000
x = 18705
y = 15750
x = 18705
y = 16500
x = 18705
y = 17250
x = 18705
y = 18000
x = 27233
y = 750
x = 19001
y = 1500
x = 19001
y = 2250
x = 19001
y = 3000
x = 19001
y = 3750
x = 19001
y = 4500
x = 19001
y = 5250
x = 19001
y = 6000
x = 19001
y = 6750
x = 19001
y = 7500
x = 19001
y = 8250
x = 19001
y = 9000
x = 19001
y = 9750
x = 19001
y = 10500
x = 19001
y = 11250
x = 19001
y = 12000
x = 19001
y = 12750
x = 19001
y = 13500
x = 19001
y = 14250
x = 19001
y = 15000
x = 19001
y = 15750
x = 19001
y = 16500
x = 19001
y = 17250
x = 19001
y = 18000
x = 19001
y = 18750

In [6]:
location

[None,
 None,
 None,
 None,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">1 BHK Apartment in Tathawade</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">3 BHK Apartment in Viman Nagar</h2>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">1 BHK Apartment in Laxmi Narayan Nagar</h2>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">Residential land / Plot in Ambegaon Kh</h2>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Manjari Budruk</h2>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">4 BHK Independent Builder Floor in Kondhwa</h2>,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Pimple Saudagar</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">Residential land / Plot in Bakori</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Dhanori</h2>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">3 BHK Apartment in Karve Road</h2>,
 None,
 None,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">1 BHK Apartment in Bavdhan</h2>,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Chakan</h2>,
 None,
 None,
 None,
 None,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Baner</h2>,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">1 BHK Apartment in Dhayari</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">Residential land / Plot in Chandni Chowk</h2>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">5 Bedroom House in Navi Peth</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Moshi</h2>,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">1 BHK Apartment in Undri</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Charholi</h2>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Mahalunge</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Hinjewadi Phase 1</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Kondhwa Budruk</h2>,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Lohegaon</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Baner Sus</h2>,
 None,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Kalyani Nagar</h2>,
 None,
 None,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Bhukum</h2>,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">1 BHK Apartment in Karve Nagar</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">3 BHK Apartment in Bhugaon</h2>,
 None,
 None,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Katraj</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">1 BHK Apartment in Pimple Gurav</h2>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Pisoli</h2>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Dhayari</h2>,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Hinjewadi Phase 1</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">3 Bedroom House in Dhayari</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Undri</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Kondhwa Budruk</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">3 BHK Apartment in Ghorpadi</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">1 BHK Apartment in Vidya Vihar Colony</h2>,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">Residential land / Plot in Talegaon Dhamdhere</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">3 BHK Apartment in Pashan Sus Road</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">1 BHK Apartment in Rahatani</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Dhayari Phata</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">3 Bedroom House in Pisoli</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">2 Bedroom Farm house in Bhor</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">3 BHK Apartment in Bavdhan</h2>,
 None,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">4 BHK Apartment in Burhani Colony</h2>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">3 BHK Apartment in Wanwadi</h2>,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">3 Bedroom House in Dhankawadi</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">1 BHK Apartment in Moshi</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Lohegaon</h2>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">1 BHK Apartment in Chakan</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Punawale</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">Residential land / Plot in Hinjewadi</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">3 BHK Apartment in Pune Mumbai Highway</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Balewadi</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">Residential land / Plot in Shikrapur</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">3 BHK Apartment in Akurdi</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Undri</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">1 BHK Apartment in Pimple Nilakh</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">Residential land / Plot in Kharadi</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">4 BHK Apartment in Wagholi</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">3 BHK Apartment in Hinjewadi Phase 2</h2>,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Wagholi</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Pimpri</h2>,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Pimple Nilakh</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">1 BHK Apartment in Moshi</h2>,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">1 BHK Apartment in Wadki</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Dhayari</h2>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">1 BHK Apartment in Wagholi</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">3 BHK Apartment in Kondhwa</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">Residential land / Plot in Bakori</h2>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in NIBM</h2>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Kalyani Nagar</h2>,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Pisoli</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Hadapsar</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">1 BHK Independent Builder Floor in Talegaon</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">1 BHK Apartment in Talegaon</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">6 BHK Apartment in Manjari Budruk</h2>,
 None,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">3 BHK Apartment in Akurdi</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Kondhwa</h2>,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Hinjewadi</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">1 BHK Apartment in Ambegaon Budruk</h2>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Chikhali</h2>,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Lohegaon</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">1 BHK Apartment in Balaji Nagar</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Manjari Budruk</h2>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">1 BHK Apartment in Dhanori</h2>,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">2 Bedroom House in Wakad</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Pimple Nilakh</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">4 Bedroom House in Balewadi Phata</h2>,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">1 BHK Apartment in Vishrantwadi</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">Residential land / Plot in Chakan</h2>,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Talegaon Dabhade</h2>,
 None,
 None,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Mamurdi</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">3 BHK Apartment in Undri</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">1 BHK Apartment in Shankar Kalat Nagar</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Uruli Devachi</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Baner Sus</h2>,
 None,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">3 BHK Apartment in Mamurdi</h2>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">1 BHK Apartment in Kondhwa</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Chikhali</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">1 BHK Apartment in Pisoli</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">1 BHK Apartment in Narhe</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Sus</h2>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">1 BHK Apartment in Pimple Saudagar</h2>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">3 BHK Apartment in Talegaon</h2>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Mamurdi</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Shivane</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Manjri</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Nigdi</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">3 BHK Apartment in Bhugaon</h2>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Mohamadwadi</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">3 BHK Apartment in Kad Nagar</h2>,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Baner</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Wakad</h2>,
 None,
 None,
 None,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">1 BHK Apartment in Mahalunge</h2>,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Pimple Saudagar</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">1 BHK Apartment in Punawale</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Mahalunge</h2>,
 None,
 None,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Talegaon Dabhade</h2>,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">7 Bedroom House in Kharadi</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in BT Kawade Road</h2>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">4 Bedroom House in Alandi Road</h2>,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">1 BHK Apartment in Narayan Nagar</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Kalewadi</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Pirangut</h2>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Baner</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">2 Bedroom House in Jadhav Nagar</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">Residential land / Plot in Donaje</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in NIBM</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">Residential land / Plot in Varasgaon</h2>,
 None,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Ambegaon Budruk</h2>,
 None,
 None,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Moshi</h2>,
 None,
 None,
 None,
 None,
 None,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Tathawade</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Hinjewadi</h2>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Talegaon</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">3 BHK Apartment in Undri</h2>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Swami Samartha Nagar</h2>,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 ...]

In [7]:
#print(soup)

In [8]:
print(len(location)) 
print(len(price_per_sqft))
print(len(total_sqft))
print(len(built_area_sqm))
print(len(num_of_bhk))
print(len(price))

1227
1227
1227
1227
1227
1227

In [9]:
print(type(location))

<class 'list'>

In [10]:
print(type(location[8]))

<class 'NoneType'>

# ###########################################

### removing none values :

In [11]:
#######################3 example:
l=[None,None,"a","b"]
l2=["c","d",None,"f"]

In [12]:
l3 = []
l4 = []
for i in range(len(l)):
    if l[i] != None and l2[i] != None:
        l3.append(l[i])
        l4.append(l2[i])
print(l3, l4)
        
        
#######################################

['b'] ['f']

In [13]:
print(location.count(None))
print(price_per_sqft.count(None))
print(total_sqft.count(None))
print(built_area_sqm.count(None))
print(num_of_bhk.count(None))
print(price.count(None))

1019
1021
1019
1019
1019
1019

In [14]:
x=range(len(location))
x

range(0, 1227)

In [15]:
location1 = []
price_per_sqft1 = []
total_sqft1 = []
built_area_sqm1 = []
num_of_bhk1 = []
price1 = []
for i in range(len(x)):
    if location[i] != None and price_per_sqft[i] != None and total_sqft[i] != None and built_area_sqm[i] != None and num_of_bhk[i] != None and price[i] != None:
        location1.append(location[i])
        price_per_sqft1.append(price_per_sqft[i])
        total_sqft1.append(total_sqft[i])
        built_area_sqm1.append(built_area_sqm[i])
        num_of_bhk1.append(num_of_bhk[i])
        price1.append(price[i])

In [16]:
location1[0:10]

[<h2 class="srpTuple__tupleTitleOverflow">1 BHK Apartment in Laxmi Narayan Nagar</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">Residential land / Plot in Ambegaon Kh</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Manjari Budruk</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">4 BHK Independent Builder Floor in Kondhwa</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Pimple Saudagar</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">Residential land / Plot in Bakori</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Dhanori</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">3 BHK Apartment in Karve Road</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">1 BHK Apartment in Bavdhan</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Chakan</h2>]

In [17]:
print(len(location1))
print(len(price_per_sqft1))
print(len(total_sqft1))
print(len(built_area_sqm1))
print(len(num_of_bhk1))
print(len(price1))

206
206
206
206
206
206

## extraction

In [18]:
location1[0:5]

[<h2 class="srpTuple__tupleTitleOverflow">1 BHK Apartment in Laxmi Narayan Nagar</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">Residential land / Plot in Ambegaon Kh</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Manjari Budruk</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">4 BHK Independent Builder Floor in Kondhwa</h2>,
 <h2 class="srpTuple__tupleTitleOverflow">2 BHK Apartment in Pimple Saudagar</h2>]

In [19]:
print(type(location1))
print(type(location1[0]))

<class 'list'>
<class 'bs4.element.Tag'>

In [20]:
####################
for i in location1:
    print(i.text)  # text is used to extract text from bs4.element.Tag
    
##################3

1 BHK Apartment in Laxmi Narayan Nagar
Residential land / Plot in Ambegaon Kh
2 BHK Apartment in Manjari Budruk
4 BHK Independent Builder Floor in Kondhwa
2 BHK Apartment in Pimple Saudagar
Residential land / Plot in Bakori
2 BHK Apartment in Dhanori
3 BHK Apartment in Karve Road
1 BHK Apartment in Bavdhan
2 BHK Apartment in Chakan
2 BHK Apartment in Baner
1 BHK Apartment in Dhayari
Residential land / Plot in Chandni Chowk
5 Bedroom House in Navi Peth
2 BHK Apartment in Moshi
1 BHK Apartment in Undri
2 BHK Apartment in Charholi
2 BHK Apartment in Mahalunge
2 BHK Apartment in Hinjewadi Phase 1
2 BHK Apartment in Kondhwa Budruk
2 BHK Apartment in Lohegaon
2 BHK Apartment in Baner Sus
2 BHK Apartment in Kalyani Nagar
2 BHK Apartment in Bhukum
1 BHK Apartment in Karve Nagar
3 BHK Apartment in Bhugaon
2 BHK Apartment in Katraj
1 BHK Apartment in Pimple Gurav
2 BHK Apartment in Pisoli
2 BHK Apartment in Dhayari
2 BHK Apartment in Hinjewadi Phase 1
3 Bedroom House in Dhayari
2 BHK Apartment in Undri
2 BHK Apartment in Kondhwa Budruk
3 BHK Apartment in Ghorpadi
1 BHK Apartment in Vidya Vihar Colony
Residential land / Plot in Talegaon Dhamdhere
3 BHK Apartment in Pashan Sus Road
1 BHK Apartment in Rahatani
2 BHK Apartment in Dhayari Phata
3 Bedroom House in Pisoli
2 Bedroom Farm house in Bhor
3 BHK Apartment in Bavdhan
4 BHK Apartment in Burhani Colony
3 BHK Apartment in Wanwadi
3 Bedroom House in Dhankawadi
1 BHK Apartment in Moshi
2 BHK Apartment in Lohegaon
1 BHK Apartment in Chakan
2 BHK Apartment in Punawale
Residential land / Plot in Hinjewadi
3 BHK Apartment in Pune Mumbai Highway
2 BHK Apartment in Balewadi
Residential land / Plot in Shikrapur
3 BHK Apartment in Akurdi
2 BHK Apartment in Undri
1 BHK Apartment in Pimple Nilakh
Residential land / Plot in Kharadi
4 BHK Apartment in Wagholi
3 BHK Apartment in Hinjewadi Phase 2
2 BHK Apartment in Wagholi
2 BHK Apartment in Pimpri
2 BHK Apartment in Pimple Nilakh
1 BHK Apartment in Moshi
1 BHK Apartment in Wadki
2 BHK Apartment in Dhayari
1 BHK Apartment in Wagholi
3 BHK Apartment in Kondhwa
Residential land / Plot in Bakori
2 BHK Apartment in NIBM
2 BHK Apartment in Kalyani Nagar
2 BHK Apartment in Pisoli
2 BHK Apartment in Hadapsar
1 BHK Independent Builder Floor in Talegaon
1 BHK Apartment in Talegaon
6 BHK Apartment in Manjari Budruk
3 BHK Apartment in Akurdi
2 BHK Apartment in Kondhwa
2 BHK Apartment in Hinjewadi
1 BHK Apartment in Ambegaon Budruk
2 BHK Apartment in Chikhali
2 BHK Apartment in Lohegaon
1 BHK Apartment in Balaji Nagar
2 BHK Apartment in Manjari Budruk
1 BHK Apartment in Dhanori
2 Bedroom House in Wakad
2 BHK Apartment in Pimple Nilakh
4 Bedroom House in Balewadi Phata
1 BHK Apartment in Vishrantwadi
Residential land / Plot in Chakan
2 BHK Apartment in Talegaon Dabhade
2 BHK Apartment in Mamurdi
3 BHK Apartment in Undri
1 BHK Apartment in Shankar Kalat Nagar
2 BHK Apartment in Uruli Devachi
2 BHK Apartment in Baner Sus
3 BHK Apartment in Mamurdi
1 BHK Apartment in Kondhwa
2 BHK Apartment in Chikhali
1 BHK Apartment in Pisoli
1 BHK Apartment in Narhe
2 BHK Apartment in Sus
1 BHK Apartment in Pimple Saudagar
3 BHK Apartment in Talegaon
2 BHK Apartment in Mamurdi
2 BHK Apartment in Shivane
2 BHK Apartment in Manjri
2 BHK Apartment in Nigdi
3 BHK Apartment in Bhugaon
2 BHK Apartment in Mohamadwadi
3 BHK Apartment in Kad Nagar
2 BHK Apartment in Baner
2 BHK Apartment in Wakad
1 BHK Apartment in Mahalunge
2 BHK Apartment in Pimple Saudagar
1 BHK Apartment in Punawale
2 BHK Apartment in Mahalunge
2 BHK Apartment in Talegaon Dabhade
7 Bedroom House in Kharadi
2 BHK Apartment in BT Kawade Road
4 Bedroom House in Alandi Road
1 BHK Apartment in Narayan Nagar
2 BHK Apartment in Kalewadi
2 BHK Apartment in Pirangut
2 BHK Apartment in Baner
2 Bedroom House in Jadhav Nagar
Residential land / Plot in Donaje
2 BHK Apartment in NIBM
Residential land / Plot in Varasgaon
2 BHK Apartment in Ambegaon Budruk
2 BHK Apartment in Moshi
2 BHK Apartment in Tathawade
2 BHK Apartment in Hinjewadi
2 BHK Apartment in Talegaon
3 BHK Apartment in Undri
2 BHK Apartment in Swami Samartha Nagar
2 BHK Apartment in Hadapsar
2 BHK Apartment in Keshav Nagar
Residential land / Plot in Ambegaon Kh
Residential land / Plot in Kanhe
2 BHK Apartment in Chakan
3 BHK Apartment in Sector 25 Pradhikaran
2 BHK Apartment in Dighi
Residential land / Plot in Wagholi
5 Bedroom Farm house in Malshej
1 BHK Apartment in Hadapsar
5 Bedroom House in Hadapsar
2 BHK Apartment in Talegaon
1 BHK Apartment in Chikhali
4 Bedroom House in Manjri
2 BHK Apartment in Loni Kalbhor
2 BHK Apartment in Hadapsar
2 BHK Apartment in Kharadi
3 Bedroom House in Uday Baug
3 BHK Apartment in Keshav Nagar
2 BHK Apartment in Wagholi
2 BHK Apartment in Kalyani Nagar
2 BHK Apartment in Mamurdi
2 BHK Apartment in Pimple Saudagar
2 BHK Apartment in Mahalunge
2 BHK Apartment in Bhugaon
3 BHK Apartment in Manjri
2 BHK Apartment in Mohamadwadi
2 BHK Apartment in Koregaon Park Annexe
2 BHK Apartment in Marunji
2 BHK Apartment in Kunj Colony
3 BHK Apartment in Warje
3 BHK Apartment in Moshi
2 BHK Apartment in Dhayari
2 BHK Apartment in Hinjewadi
2 BHK Apartment in Kiwale
1 BHK Apartment in Pimple Saudagar
5 Bedroom House in Shukravar Peth
2 BHK Apartment in Undri
3 BHK Apartment in Manjari road
2 BHK Apartment in Pirangut
1 BHK Apartment in Kutwal Colony
2 BHK Apartment in Bhairav Nagar
1 BHK Apartment in Rahatani
1 BHK Apartment in Morwadi
1 BHK Apartment in Morwadi
Residential land / Plot in Lonikand
2 BHK Apartment in Paud Gaon
Residential land / Plot in Talegaon Dabhade
2 BHK Apartment in Talawade
2 BHK Apartment in Sinhgad Road
2 BHK Apartment in Bhukum
2 BHK Apartment in Chakan
2 BHK Apartment in Kesnand
2 BHK Apartment in Chakan
2 BHK Apartment in Manjri
3 BHK Apartment in Sopan Baug
Residential land / Plot in Markal
3 BHK Apartment in Mohamadwadi
1 BHK Apartment in Keshav Nagar
3 Bedroom House in Talegaon Dabhade
1 BHK Apartment in Wanwadi
1 BHK Apartment in Keshav Nagar
Studio Apartments / 1 RK Flats in Morwadi
6 BHK Independent Builder Floor in Sukhsagar Nagar
2 BHK Apartment in Hinjewadi Phase 2
1 BHK Apartment in Patil Nagar
2 BHK Apartment in Kaspate Vasti
2 BHK Apartment in Wadgaon Sheri
2 BHK Apartment in Koregaon Mul
3 BHK Apartment in Baner Pashan Link Road

In [21]:
range(len(location1))

range(0, 206)

In [22]:
loc=[]
price_psqft = []
tot_sqft = []
built_sqft = []
numb_bhk = []
prices = []
for i in range(len(location1)):
    loc.append(location1[i].text)  
    price_psqft.append(price_per_sqft1[i].text)
    tot_sqft.append(total_sqft1[i].text)
    built_sqft.append(built_area_sqm1[i].text)
    numb_bhk.append(num_of_bhk1[i].text)
    prices.append(price1[i].text)

In [23]:
loc[0:5]

['1 BHK Apartment in Laxmi Narayan Nagar',
 'Residential land / Plot in Ambegaon Kh',
 '2 BHK Apartment in Manjari Budruk',
 '4 BHK Independent Builder Floor in Kondhwa',
 '2 BHK Apartment in Pimple Saudagar']

In [24]:
loc[0:5]
print(type(loc[0]))

<class 'str'>

In [25]:
import pandas as pd

In [26]:
df=pd.DataFrame({'location':loc,'price_per_sqft':price_psqft,"total_sqft":tot_sqft,"builtup_area":built_sqft,"bhk":numb_bhk,
               'price':prices})

In [27]:
df

,location,price_per_sqft,total_sqft,builtup_area,bhk,price
0,1 BHK Apartment in Laxmi Narayan Nagar,"9,164/sq.ft.",491 sq.ft. (46 sq.m.) Carpet Area,(46 sq.m.) Carpet Area,1 BHK1 Bath,"45 L 9,164/sq.ft."
1,Residential land / Plot in Ambegaon Kh,"3,333/sq.ft.","3,000 sq.ft. (279 sq.m.) Plot Area",(279 sq.m.) Plot Area,,"1 Cr 3,333/sq.ft."
2,2 BHK Apartment in Manjari Budruk,"10,130/sq.ft.",691 sq.ft. (64 sq.m.) Carpet Area,(64 sq.m.) Carpet Area,2 BHK2 Baths,"70 L 10,130/sq.ft."
3,4 BHK Independent Builder Floor in Kondhwa,"16,538/sq.ft.","2,600 sq.ft. (242 sq.m.) Built-up Area",(242 sq.m.) Built-up Area,4 BHK4 Baths,"4.3 Cr 16,538/sq.ft."
4,2 BHK Apartment in Pimple Saudagar,"8,587/sq.ft.","1,083 sq.ft. (101 sq.m.) Super built-up Area",(101 sq.m.) Super built-up Area,2 BHK2 Baths,"93 L 8,587/sq.ft."
...,...,...,...,...,...,...
201,1 BHK Apartment in Patil Nagar,"7,368/sq.ft.",570 sq.ft. (53 sq.m.) Built-up Area,(53 sq.m.) Built-up Area,1 BHK1 Bath,"42 L 7,368/sq.ft."
202,2 BHK Apartment in Kaspate Vasti,"11,340/sq.ft.",970 sq.ft. (90 sq.m.) Carpet Area,(90 sq.m.) Carpet Area,2 BHK2 Baths,"1.1 Cr 11,340/sq.ft."
203,2 BHK Apartment in Wadgaon Sheri,"7,861/sq.ft.",954 sq.ft. (89 sq.m.) Carpet Area,(89 sq.m.) Carpet Area,2 BHK2 Baths,"75 L 7,861/sq.ft."
204,2 BHK Apartment in Koregaon Mul,"3,333/sq.ft.",360 sq.ft. (33 sq.m.) Carpet Area,(33 sq.m.) Carpet Area,2 BHK2 Baths,"12 L 3,333/sq.ft."
205,3 BHK Apartment in Baner Pashan Link Road,"16,247/sq.ft.","1,015 sq.ft. (94 sq.m.) Carpet Area",(94 sq.m.) Carpet Area,3 BHK3 Baths,"1.65 Cr 16,247/sq.ft."

In [28]:
df.to_csv("house_data.csv")

In [29]:
house=pd.read_csv("house_data.csv",index_col=0)

In [30]:
house

,location,price_per_sqft,total_sqft,builtup_area,bhk,price
0,1 BHK Apartment in Laxmi Narayan Nagar,"9,164/sq.ft.",491 sq.ft. (46 sq.m.) Carpet Area,(46 sq.m.) Carpet Area,1 BHK1 Bath,"45 L 9,164/sq.ft."
1,Residential land / Plot in Ambegaon Kh,"3,333/sq.ft.","3,000 sq.ft. (279 sq.m.) Plot Area",(279 sq.m.) Plot Area,NaN,"1 Cr 3,333/sq.ft."
2,2 BHK Apartment in Manjari Budruk,"10,130/sq.ft.",691 sq.ft. (64 sq.m.) Carpet Area,(64 sq.m.) Carpet Area,2 BHK2 Baths,"70 L 10,130/sq.ft."
3,4 BHK Independent Builder Floor in Kondhwa,"16,538/sq.ft.","2,600 sq.ft. (242 sq.m.) Built-up Area",(242 sq.m.) Built-up Area,4 BHK4 Baths,"4.3 Cr 16,538/sq.ft."
4,2 BHK Apartment in Pimple Saudagar,"8,587/sq.ft.","1,083 sq.ft. (101 sq.m.) Super built-up Area",(101 sq.m.) Super built-up Area,2 BHK2 Baths,"93 L 8,587/sq.ft."
...,...,...,...,...,...,...
201,1 BHK Apartment in Patil Nagar,"7,368/sq.ft.",570 sq.ft. (53 sq.m.) Built-up Area,(53 sq.m.) Built-up Area,1 BHK1 Bath,"42 L 7,368/sq.ft."
202,2 BHK Apartment in Kaspate Vasti,"11,340/sq.ft.",970 sq.ft. (90 sq.m.) Carpet Area,(90 sq.m.) Carpet Area,2 BHK2 Baths,"1.1 Cr 11,340/sq.ft."
203,2 BHK Apartment in Wadgaon Sheri,"7,861/sq.ft.",954 sq.ft. (89 sq.m.) Carpet Area,(89 sq.m.) Carpet Area,2 BHK2 Baths,"75 L 7,861/sq.ft."
204,2 BHK Apartment in Koregaon Mul,"3,333/sq.ft.",360 sq.ft. (33 sq.m.) Carpet Area,(33 sq.m.) Carpet Area,2 BHK2 Baths,"12 L 3,333/sq.ft."
205,3 BHK Apartment in Baner Pashan Link Road,"16,247/sq.ft.","1,015 sq.ft. (94 sq.m.) Carpet Area",(94 sq.m.) Carpet Area,3 BHK3 Baths,"1.65 Cr 16,247/sq.ft."