In [1]:
import re
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('house_data.csv')
df

,Unnamed: 0,location,price_per_sqft,total_sqft,builtup_area,bhk,price
0,0,3 Bedroom House in Pari Chowk,"₹ 4,488/sq.ft.","2,250 sq.ft. (209 sq.m.) Built-up Area",(209 sq.m.) Built-up Area,3 BHK3 Baths,"₹ 1.01 Cr₹ 4,488/sq.ft."
1,1,3 BHK Apartment in Sector B Vasant Kunj,"₹ 12,592/sq.ft.","1,350 sq.ft. (125 sq.m.) Carpet Area",(125 sq.m.) Carpet Area,3 BHK2 Baths,"₹ 1.7 Cr₹ 12,592/sq.ft."
2,2,2 BHK Apartment in Sector 79 Gurgaon,"₹ 9,807/sq.ft.","1,193 sq.ft. (111 sq.m.) Carpet Area",(111 sq.m.) Carpet Area,2 BHK2 Baths,"₹ 1.17 Cr₹ 9,807/sq.ft."
3,3,4 BHK Independent Builder Floor in DLF Phase 1,"₹ 11,111/sq.ft.","2,700 sq.ft. (251 sq.m.) Carpet Area",(251 sq.m.) Carpet Area,4 BHK5 Baths,"₹ 3 Cr₹ 11,111/sq.ft."
4,4,4 BHK Independent Builder Floor in DLF Phase 1,"₹ 12,391/sq.ft.","4,842 sq.ft. (450 sq.m.) Carpet Area",(450 sq.m.) Carpet Area,4 BHK5 Baths,"₹ 6 Cr₹ 12,391/sq.ft."
...,...,...,...,...,...,...,...
186,186,3 BHK Independent Builder Floor in DLF Phase 1,"₹ 12,000/sq.ft.","2,000 sq.ft. (186 sq.m.) Carpet Area",(186 sq.m.) Carpet Area,3 BHK4 Baths,"₹ 2.4 Cr₹ 12,000/sq.ft."
187,187,4 BHK Independent Builder Floor in Sushant Lok...,"₹ 12,222/sq.ft.","2,700 sq.ft. (251 sq.m.) Built-up Area",(251 sq.m.) Built-up Area,4 BHK4 Baths,"₹ 3.3 Cr₹ 12,222/sq.ft."
188,188,2 BHK Apartment in Sector 16 Greater Noida,"₹ 5,414/sq.ft.","1,145 sq.ft. (106 sq.m.) Super built-up Area",(106 sq.m.) Super built-up Area,2 BHK2 Baths,"₹ 62 L₹ 5,414/sq.ft."
189,189,Residential land / Plot in DLF Phase 2,"₹ 33,398/sq.ft.","6,138 sq.ft. (570 sq.m.) Plot Area",(570 sq.m.) Plot Area,NaN,"₹ 20.5 Cr₹ 33,398/sq.ft."
190,190,Residential land / Plot in DLF Phase 2,"₹ 32,094/sq.ft.","2,259 sq.ft. (210 sq.m.) Plot Area",(210 sq.m.) Plot Area,NaN,"₹ 7.25 Cr₹ 32,094/sq.ft."

In [3]:
df = df.drop("Unnamed: 0",axis=1)

In [4]:
df.shape

(191, 6)

In [5]:
df.describe().T

,count,unique,top,freq
location,191,82,4 BHK Independent Builder Floor in DLF Phase 1,23
price_per_sqft,191,158,"₹ 11,111/sq.ft.",9
total_sqft,191,106,"2,700 sq.ft. (251 sq.m.) Carpet Area",16
builtup_area,191,104,(251 sq.m.) Carpet Area,16
bhk,161,19,4 BHK5 Baths,50
price,191,167,"₹ 3 Cr₹ 11,111/sq.ft.",6

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191 entries, 0 to 190
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   location        191 non-null    object
 1   price_per_sqft  191 non-null    object
 2   total_sqft      191 non-null    object
 3   builtup_area    191 non-null    object
 4   bhk             161 non-null    object
 5   price           191 non-null    object
dtypes: object(6)
memory usage: 9.1+ KB

In [7]:
df.isnull().sum()

location           0
price_per_sqft     0
total_sqft         0
builtup_area       0
bhk               30
price              0
dtype: int64

In [8]:
df.dtypes

location          object
price_per_sqft    object
total_sqft        object
builtup_area      object
bhk               object
price             object
dtype: object

In [9]:
df

,location,price_per_sqft,total_sqft,builtup_area,bhk,price
0,3 Bedroom House in Pari Chowk,"₹ 4,488/sq.ft.","2,250 sq.ft. (209 sq.m.) Built-up Area",(209 sq.m.) Built-up Area,3 BHK3 Baths,"₹ 1.01 Cr₹ 4,488/sq.ft."
1,3 BHK Apartment in Sector B Vasant Kunj,"₹ 12,592/sq.ft.","1,350 sq.ft. (125 sq.m.) Carpet Area",(125 sq.m.) Carpet Area,3 BHK2 Baths,"₹ 1.7 Cr₹ 12,592/sq.ft."
2,2 BHK Apartment in Sector 79 Gurgaon,"₹ 9,807/sq.ft.","1,193 sq.ft. (111 sq.m.) Carpet Area",(111 sq.m.) Carpet Area,2 BHK2 Baths,"₹ 1.17 Cr₹ 9,807/sq.ft."
3,4 BHK Independent Builder Floor in DLF Phase 1,"₹ 11,111/sq.ft.","2,700 sq.ft. (251 sq.m.) Carpet Area",(251 sq.m.) Carpet Area,4 BHK5 Baths,"₹ 3 Cr₹ 11,111/sq.ft."
4,4 BHK Independent Builder Floor in DLF Phase 1,"₹ 12,391/sq.ft.","4,842 sq.ft. (450 sq.m.) Carpet Area",(450 sq.m.) Carpet Area,4 BHK5 Baths,"₹ 6 Cr₹ 12,391/sq.ft."
...,...,...,...,...,...,...
186,3 BHK Independent Builder Floor in DLF Phase 1,"₹ 12,000/sq.ft.","2,000 sq.ft. (186 sq.m.) Carpet Area",(186 sq.m.) Carpet Area,3 BHK4 Baths,"₹ 2.4 Cr₹ 12,000/sq.ft."
187,4 BHK Independent Builder Floor in Sushant Lok...,"₹ 12,222/sq.ft.","2,700 sq.ft. (251 sq.m.) Built-up Area",(251 sq.m.) Built-up Area,4 BHK4 Baths,"₹ 3.3 Cr₹ 12,222/sq.ft."
188,2 BHK Apartment in Sector 16 Greater Noida,"₹ 5,414/sq.ft.","1,145 sq.ft. (106 sq.m.) Super built-up Area",(106 sq.m.) Super built-up Area,2 BHK2 Baths,"₹ 62 L₹ 5,414/sq.ft."
189,Residential land / Plot in DLF Phase 2,"₹ 33,398/sq.ft.","6,138 sq.ft. (570 sq.m.) Plot Area",(570 sq.m.) Plot Area,NaN,"₹ 20.5 Cr₹ 33,398/sq.ft."
190,Residential land / Plot in DLF Phase 2,"₹ 32,094/sq.ft.","2,259 sq.ft. (210 sq.m.) Plot Area",(210 sq.m.) Plot Area,NaN,"₹ 7.25 Cr₹ 32,094/sq.ft."

In [10]:
location = df['location'].tolist()

print(location)

['3 Bedroom House in Pari Chowk', '3 BHK Apartment in Sector B Vasant Kunj', '2 BHK Apartment in Sector 79 Gurgaon', '4 BHK Independent Builder Floor in DLF Phase 1', '4 BHK Independent Builder Floor in DLF Phase 1', '4 BHK Independent Builder Floor in DLF Phase 1', '4 BHK Independent Builder Floor in DLF Phase 1', '4 BHK Independent Builder Floor in DLF Phase 1', '4 BHK Independent Builder Floor in DLF Phase 1', '4 BHK Independent Builder Floor in DLF Phase 1', '4 BHK Independent Builder Floor in DLF Phase 1', '4 BHK Independent Builder Floor in DLF Phase 1', '4 BHK Independent Builder Floor in DLF Phase 1', '4 BHK Independent Builder Floor in DLF Phase 1', '4 BHK Independent Builder Floor in DLF Phase 1', '4 BHK Independent Builder Floor in DLF Phase 1', '4 BHK Independent Builder Floor in DLF Phase 1', '4 BHK Independent Builder Floor in DLF Phase 1', '4 BHK Independent Builder Floor in DLF Phase 1', '4 BHK Independent Builder Floor in DLF Phase 1', '4 BHK Independent Builder Floor in DLF Phase 1', '4 BHK Independent Builder Floor in DLF Phase 2', '4 BHK Independent Builder Floor in DLF Phase 2', '4 BHK Independent Builder Floor in DLF Phase 2', '4 BHK Independent Builder Floor in DLF Phase 2', '4 BHK Independent Builder Floor in DLF Phase 2', '4 BHK Independent Builder Floor in DLF Phase 2', '4 BHK Independent Builder Floor in DLF Phase 2', '4 BHK Independent Builder Floor in DLF Phase 2', '3 BHK Independent Builder Floor in DLF Phase 2', '3 BHK Independent Builder Floor in DLF Phase 1', '4 BHK Independent Builder Floor in DLF Phase 2', '3 BHK Independent Builder Floor in DLF Phase 1', '3 BHK Independent Builder Floor in DLF Phase 2', '3 BHK Independent Builder Floor in DLF Phase 2', '4 BHK Independent Builder Floor in DLF Phase 2', '4 BHK Independent Builder Floor in DLF Phase 2', '4 BHK Independent Builder Floor in DLF Phase 2', '4 BHK Independent Builder Floor in DLF Phase 2', '4 BHK Independent Builder Floor in DLF Phase 2', '4 BHK Independent Builder Floor in Sushant Lok Phase 1', '3 BHK Independent Builder Floor in Sushant Lok Phase 1', '4 BHK Independent Builder Floor in Sushant Lok Phase 1', '4 BHK Independent Builder Floor in DLF Phase 2', '3 BHK Independent Builder Floor in Sushant Lok Phase 1', '4 BHK Independent Builder Floor in Sushant Lok Phase 1', '4 BHK Independent Builder Floor in Sushant Lok Phase 1', '4 BHK Independent Builder Floor in Sushant Lok Phase 1', '3 BHK Independent Builder Floor in Sushant Lok Phase 1', '4 BHK Independent Builder Floor in Sushant Lok Phase 1', '3 BHK Independent Builder Floor in Sushant Lok Phase 1', '4 BHK Independent Builder Floor in DLF Phase 1', '3 BHK Independent Builder Floor in Sushant Lok Phase 1', '4 BHK Independent Builder Floor in DLF Phase 1', 'Residential land / Plot in DLF Phase 1', '4 BHK Independent Builder Floor in Sushant Lok Phase 1', '4 BHK Independent Builder Floor in DLF Phase 1', '4 BHK Independent Builder Floor in DLF Phase 1', '4 BHK Independent Builder Floor in DLF Phase 2', '3 BHK Independent Builder Floor in DLF Phase 1', '3 BHK Independent Builder Floor in Sushant Lok Phase 1', '3 BHK Independent Builder Floor in DLF Phase 2', '3 BHK Independent Builder Floor in Sushant Lok Phase 1', '4 BHK Independent Builder Floor in DLF Phase 2', '3 BHK Independent Builder Floor in DLF Phase 2', '4 BHK Independent Builder Floor in Sushant Lok Phase 1', '3 BHK Independent Builder Floor in DLF Phase 2', '3 BHK Independent Builder Floor in DLF Phase 2', '3 BHK Independent Builder Floor in DLF Phase 2', '3 BHK Independent Builder Floor in DLF Phase 1', 'Residential land / Plot in Sector 18 Yamuna Expressway', 'Residential land / Plot in Sector 18 Yamuna Expressway', '4 BHK Independent Builder Floor in DLF Phase 1', '3 BHK Independent Builder Floor in Sushant Lok Phase 1', '4 BHK Independent Builder Floor in Sushant Lok Phase 1', '4 BHK Independent Builder Floor in Sushant Lok Phase 1', '12 Bedroom House in Greater Kailash 2', 'Residential land / Plot in A Block Sushant Lok Phase 1', '7 Bedroom House in Swaran Nagri', '3 BHK Apartment in Sector 102 Gurgaon', 'Residential land / Plot in DLF Phase 3', '4 BHK Independent Builder Floor in Neeti Bagh', '5 BHK Independent Builder Floor in DLF Phase 2', '3 BHK Independent Builder Floor in DLF Phase 2', 'Residential land / Plot in Sector 18 Yamuna Expressway', 'Residential land / Plot in Sector 18 Yamuna Expressway', 'Residential land / Plot in Sector 20 Yamuna Expressway', '4 BHK Independent Builder Floor in DLF Phase 4', '4 BHK Independent Builder Floor in DLF Phase 2', '3 BHK Independent Builder Floor in Sushant Lok Phase 1', '4 BHK Independent Builder Floor in DLF Phase 4', '3 BHK Independent Builder Floor in DLF Phase 1', '3 BHK Independent Builder Floor in Sushant Lok Phase 1', '4 BHK Independent Builder Floor in Sushant Lok Phase 1', '4 BHK Independent Builder Floor in DLF Phase 2', '3 BHK Apartment in Sector 102 Gurgaon', '6 Bedroom Farm house in Pataudi Road', 'Residential land / Plot in Sector 20 Yamuna Expressway', '4 BHK Apartment in Sector 108 Noida', '4 BHK Independent Builder Floor in Sushant Lok Phase 1', '3 BHK Independent Builder Floor in Sushant Lok Phase 1', 'Residential land / Plot in Sector 20 Yamuna Expressway', '7 Bedroom House in DaryaGanj', '4 BHK Apartment in Paschim Vihar', 'Residential land / Plot in Ashok Vihar Phase 1', '3 BHK Independent Builder Floor in Shalimar Bagh', '4 BHK Independent Builder Floor in A Block Sushant Lok Phase 1', '2 BHK Apartment in Okhla Phase 1', '9 Bedroom House in Derawal Nagar', 'Residential land / Plot in Sector 54 Gurgaon', '4 BHK Independent Builder Floor in Sector 92 Gurgaon', '3 BHK Independent Builder Floor in DLF Phase 2', '4 BHK Independent Builder Floor in DLF Phase 2', '3 BHK Independent Builder Floor in DLF Phase 1', '3 BHK Independent Builder Floor in DLF Phase 1', 'Residential land / Plot in Sector 77 Faridabad', '3 BHK Apartment in Sarita Vihar', '3 BHK Apartment in Okhla', '3 BHK Independent Builder Floor in Pitampura', '4 BHK Independent Builder Floor in Rajouri garden', '6 Bedroom House in Anand vihar colony', '3 BHK Apartment in Mehrauli', '4 BHK Apartment in Sector 4 Dwarka', '3 BHK Apartment in Sector 99 Gurgaon', '4 BHK Independent Builder Floor in Sector 28 Gurgaon', '3 BHK Independent Builder Floor in Sector 63A Gurgaon', 'Residential land / Plot in DLF Phase 2', '4 BHK Independent Builder Floor in CR Park', '2 Bedroom House in Sector 17 Gurgaon', '4 BHK Apartment in Greater Noida West', '4 BHK Independent Builder Floor in Preet Vihar', '2 BHK Apartment in Sector 137 Noida', '3 BHK Apartment in Sector 37D Gurgaon', 'Residential land / Plot in DLF Phase 1', 'Residential land / Plot in DLF Phase 1', 'Residential land / Plot in DLF Phase 1', '3 BHK Apartment in Greater Noida West', '3 BHK Independent Builder Floor in Sushant Lok Phase 1', '4 BHK Apartment in Sector 150 Noida', 'Residential land / Plot in DLF Phase 2', '2 BHK Apartment in Paschim Vihar', '8 Bedroom House in DLF Phase 4', '2 Bedroom House in Lajpat Nagar 2', '3 BHK Independent Builder Floor in Rajouri garden', '3 BHK Apartment in Sector 84 Gurgaon', '4 BHK Independent Builder Floor in DLF Phase 4', '2 BHK Apartment in Sector 1 Greater Noida West', '3 BHK Apartment in Sector 134 Noida', 'Residential land / Plot in DLF Phase 1', 'Residential land / Plot in DLF Phase 1', 'Residential land / Plot in DLF Phase 2', 'Residential land / Plot in DLF Phase 2', 'Residential land / Plot in DLF Phase 2', 'Residential land / Plot in DLF Phase 2', '2 BHK Apartment in Sector 50 Noida', 'Studio Apartments / 1 RK Flats in Knowledge Park 3', '4 BHK Independent Builder Floor in Rajouri garden', '2 BHK Independent Builder Floor in Ankur Vihar', '2 BHK Apartment in Mukherjee Nagar', 'Residential land / Plot in DLF Phase 2', '2 BHK Independent Builder Floor in Safdarjung Enclave', '4 BHK Apartment in Sector 9A Gurgaon', '4 Bedroom House in Sushant Lok Phase 3', 'Residential land / Plot in Sector 49 Faridabad', '4 BHK Independent Builder Floor in DLF Phase 2', '3 BHK Independent Builder Floor in Shalimar Bagh', '4 BHK Independent Builder Floor in Mukherjee Nagar', '2 BHK Apartment in Sector 3 Vaishali', '2 BHK Independent Builder Floor in Ram Nagar Extension', '4 BHK Independent Builder Floor in Kailash Colony', '7 Bedroom House in Sector 55 Noida', '3 BHK Apartment in Indirapuram', 'Residential land / Plot in Sector 81 Faridabad', '2 BHK Apartment in Motia Khan', '4 BHK Independent Builder Floor in Sector 22 Rohini', '4 BHK Independent Builder Floor in DLF Phase 2', '3 BHK Independent Builder Floor in DLF Phase 2', '1 BHK Independent Builder Floor in Sector 23 Rohini', '3 BHK Apartment in Vaibhav Khand', '4 Bedroom House in Sector 27 Greater Noida', '2 BHK Apartment in Manesar', '3 BHK Apartment in Sector 128 Noida', '2 BHK Independent Builder Floor in Mahavir Enclave', '2 BHK Apartment in Sector 1 Greater Noida West', 'Residential land / Plot in DLF Phase 2', '4 BHK Independent Builder Floor in Sushant Lok Phase 1', '3 BHK Independent Builder Floor in DLF Phase 1', '4 BHK Independent Builder Floor in Sushant Lok Phase 1', '2 BHK Apartment in Sector 16 Greater Noida', 'Residential land / Plot in DLF Phase 2', 'Residential land / Plot in DLF Phase 2']

In [11]:
pattern = r"in\s(.*)"

#list to store matching strings
loc = []

for string in location:
    match = re.search(pattern, string, re.IGNORECASE)
    if match:
        loc.append(match.group(1))

print(loc)

['Pari Chowk', 'Sector B Vasant Kunj', 'Sector 79 Gurgaon', 'DLF Phase 1', 'DLF Phase 1', 'DLF Phase 1', 'DLF Phase 1', 'DLF Phase 1', 'DLF Phase 1', 'DLF Phase 1', 'DLF Phase 1', 'DLF Phase 1', 'DLF Phase 1', 'DLF Phase 1', 'DLF Phase 1', 'DLF Phase 1', 'DLF Phase 1', 'DLF Phase 1', 'DLF Phase 1', 'DLF Phase 1', 'DLF Phase 1', 'DLF Phase 2', 'DLF Phase 2', 'DLF Phase 2', 'DLF Phase 2', 'DLF Phase 2', 'DLF Phase 2', 'DLF Phase 2', 'DLF Phase 2', 'DLF Phase 2', 'DLF Phase 1', 'DLF Phase 2', 'DLF Phase 1', 'DLF Phase 2', 'DLF Phase 2', 'DLF Phase 2', 'DLF Phase 2', 'DLF Phase 2', 'DLF Phase 2', 'DLF Phase 2', 'Sushant Lok Phase 1', 'Sushant Lok Phase 1', 'Sushant Lok Phase 1', 'DLF Phase 2', 'Sushant Lok Phase 1', 'Sushant Lok Phase 1', 'Sushant Lok Phase 1', 'Sushant Lok Phase 1', 'Sushant Lok Phase 1', 'Sushant Lok Phase 1', 'Sushant Lok Phase 1', 'DLF Phase 1', 'Sushant Lok Phase 1', 'DLF Phase 1', 'DLF Phase 1', 'Sushant Lok Phase 1', 'DLF Phase 1', 'DLF Phase 1', 'DLF Phase 2', 'DLF Phase 1', 'Sushant Lok Phase 1', 'DLF Phase 2', 'Sushant Lok Phase 1', 'DLF Phase 2', 'DLF Phase 2', 'Sushant Lok Phase 1', 'DLF Phase 2', 'DLF Phase 2', 'DLF Phase 2', 'DLF Phase 1', 'Sector 18 Yamuna Expressway', 'Sector 18 Yamuna Expressway', 'DLF Phase 1', 'Sushant Lok Phase 1', 'Sushant Lok Phase 1', 'Sushant Lok Phase 1', 'Greater Kailash 2', 'A Block Sushant Lok Phase 1', 'Swaran Nagri', 'Sector 102 Gurgaon', 'DLF Phase 3', 'Neeti Bagh', 'DLF Phase 2', 'DLF Phase 2', 'Sector 18 Yamuna Expressway', 'Sector 18 Yamuna Expressway', 'Sector 20 Yamuna Expressway', 'DLF Phase 4', 'DLF Phase 2', 'Sushant Lok Phase 1', 'DLF Phase 4', 'DLF Phase 1', 'Sushant Lok Phase 1', 'Sushant Lok Phase 1', 'DLF Phase 2', 'Sector 102 Gurgaon', 'Pataudi Road', 'Sector 20 Yamuna Expressway', 'Sector 108 Noida', 'Sushant Lok Phase 1', 'Sushant Lok Phase 1', 'Sector 20 Yamuna Expressway', 'DaryaGanj', 'Paschim Vihar', 'Ashok Vihar Phase 1', 'Shalimar Bagh', 'A Block Sushant Lok Phase 1', 'Okhla Phase 1', 'Derawal Nagar', 'Sector 54 Gurgaon', 'Sector 92 Gurgaon', 'DLF Phase 2', 'DLF Phase 2', 'DLF Phase 1', 'DLF Phase 1', 'Sector 77 Faridabad', 'Sarita Vihar', 'Okhla', 'Pitampura', 'Rajouri garden', 'Anand vihar colony', 'Mehrauli', 'Sector 4 Dwarka', 'Sector 99 Gurgaon', 'Sector 28 Gurgaon', 'Sector 63A Gurgaon', 'DLF Phase 2', 'CR Park', 'Sector 17 Gurgaon', 'Greater Noida West', 'Preet Vihar', 'Sector 137 Noida', 'Sector 37D Gurgaon', 'DLF Phase 1', 'DLF Phase 1', 'DLF Phase 1', 'Greater Noida West', 'Sushant Lok Phase 1', 'Sector 150 Noida', 'DLF Phase 2', 'Paschim Vihar', 'DLF Phase 4', 'Lajpat Nagar 2', 'Rajouri garden', 'Sector 84 Gurgaon', 'DLF Phase 4', 'Sector 1 Greater Noida West', 'Sector 134 Noida', 'DLF Phase 1', 'DLF Phase 1', 'DLF Phase 2', 'DLF Phase 2', 'DLF Phase 2', 'DLF Phase 2', 'Sector 50 Noida', 'Knowledge Park 3', 'Rajouri garden', 'Ankur Vihar', 'Mukherjee Nagar', 'DLF Phase 2', 'Safdarjung Enclave', 'Sector 9A Gurgaon', 'Sushant Lok Phase 3', 'Sector 49 Faridabad', 'DLF Phase 2', 'Shalimar Bagh', 'Mukherjee Nagar', 'Sector 3 Vaishali', 'Ram Nagar Extension', 'Kailash Colony', 'Sector 55 Noida', 'Indirapuram', 'Sector 81 Faridabad', 'Motia Khan', 'Sector 22 Rohini', 'DLF Phase 2', 'DLF Phase 2', 'Sector 23 Rohini', 'Vaibhav Khand', 'Sector 27 Greater Noida', 'Manesar', 'Sector 128 Noida', 'Mahavir Enclave', 'Sector 1 Greater Noida West', 'DLF Phase 2', 'Sushant Lok Phase 1', 'DLF Phase 1', 'Sushant Lok Phase 1', 'Sector 16 Greater Noida', 'DLF Phase 2', 'DLF Phase 2']

In [12]:
len(loc)

191

In [13]:
pattern = r"(.*?)\sin"

#list to store modified strings
modified_strings = []

for string in location:
    match = re.search(pattern, string, re.IGNORECASE)
    if match:
        modified_strings.append(match.group(1))
    else:
        modified_strings.append(string)

print(modified_strings)

['3 Bedroom House', '3 BHK Apartment', '2 BHK Apartment', '4 BHK', '4 BHK', '4 BHK', '4 BHK', '4 BHK', '4 BHK', '4 BHK', '4 BHK', '4 BHK', '4 BHK', '4 BHK', '4 BHK', '4 BHK', '4 BHK', '4 BHK', '4 BHK', '4 BHK', '4 BHK', '4 BHK', '4 BHK', '4 BHK', '4 BHK', '4 BHK', '4 BHK', '4 BHK', '4 BHK', '3 BHK', '3 BHK', '4 BHK', '3 BHK', '3 BHK', '3 BHK', '4 BHK', '4 BHK', '4 BHK', '4 BHK', '4 BHK', '4 BHK', '3 BHK', '4 BHK', '4 BHK', '3 BHK', '4 BHK', '4 BHK', '4 BHK', '3 BHK', '4 BHK', '3 BHK', '4 BHK', '3 BHK', '4 BHK', 'Residential land / Plot', '4 BHK', '4 BHK', '4 BHK', '4 BHK', '3 BHK', '3 BHK', '3 BHK', '3 BHK', '4 BHK', '3 BHK', '4 BHK', '3 BHK', '3 BHK', '3 BHK', '3 BHK', 'Residential land / Plot', 'Residential land / Plot', '4 BHK', '3 BHK', '4 BHK', '4 BHK', '12 Bedroom House', 'Residential land / Plot', '7 Bedroom House', '3 BHK Apartment', 'Residential land / Plot', '4 BHK', '5 BHK', '3 BHK', 'Residential land / Plot', 'Residential land / Plot', 'Residential land / Plot', '4 BHK', '4 BHK', '3 BHK', '4 BHK', '3 BHK', '3 BHK', '4 BHK', '4 BHK', '3 BHK Apartment', '6 Bedroom Farm house', 'Residential land / Plot', '4 BHK Apartment', '4 BHK', '3 BHK', 'Residential land / Plot', '7 Bedroom House', '4 BHK Apartment', 'Residential land / Plot', '3 BHK', '4 BHK', '2 BHK Apartment', '9 Bedroom House', 'Residential land / Plot', '4 BHK', '3 BHK', '4 BHK', '3 BHK', '3 BHK', 'Residential land / Plot', '3 BHK Apartment', '3 BHK Apartment', '3 BHK', '4 BHK', '6 Bedroom House', '3 BHK Apartment', '4 BHK Apartment', '3 BHK Apartment', '4 BHK', '3 BHK', 'Residential land / Plot', '4 BHK', '2 Bedroom House', '4 BHK Apartment', '4 BHK', '2 BHK Apartment', '3 BHK Apartment', 'Residential land / Plot', 'Residential land / Plot', 'Residential land / Plot', '3 BHK Apartment', '3 BHK', '4 BHK Apartment', 'Residential land / Plot', '2 BHK Apartment', '8 Bedroom House', '2 Bedroom House', '3 BHK', '3 BHK Apartment', '4 BHK', '2 BHK Apartment', '3 BHK Apartment', 'Residential land / Plot', 'Residential land / Plot', 'Residential land / Plot', 'Residential land / Plot', 'Residential land / Plot', 'Residential land / Plot', '2 BHK Apartment', 'Studio Apartments / 1 RK Flats', '4 BHK', '2 BHK', '2 BHK Apartment', 'Residential land / Plot', '2 BHK', '4 BHK Apartment', '4 Bedroom House', 'Residential land / Plot', '4 BHK', '3 BHK', '4 BHK', '2 BHK Apartment', '2 BHK', '4 BHK', '7 Bedroom House', '3 BHK Apartment', 'Residential land / Plot', '2 BHK Apartment', '4 BHK', '4 BHK', '3 BHK', '1 BHK', '3 BHK Apartment', '4 Bedroom House', '2 BHK Apartment', '3 BHK Apartment', '2 BHK', '2 BHK Apartment', 'Residential land / Plot', '4 BHK', '3 BHK', '4 BHK', '2 BHK Apartment', 'Residential land / Plot', 'Residential land / Plot']

In [14]:
words_to_drop = ["BHK"]

#regular expression pattern to match and drop words
pattern = "|".join(words_to_drop)

#list to store modified strings
modified_strings1 = []

for string in modified_strings:
    modified_string = re.sub(pattern, "", string, flags=re.IGNORECASE)
    modified_strings1.append(modified_string)

print(modified_strings1)

['3 Bedroom House', '3  Apartment', '2  Apartment', '4 ', '4 ', '4 ', '4 ', '4 ', '4 ', '4 ', '4 ', '4 ', '4 ', '4 ', '4 ', '4 ', '4 ', '4 ', '4 ', '4 ', '4 ', '4 ', '4 ', '4 ', '4 ', '4 ', '4 ', '4 ', '4 ', '3 ', '3 ', '4 ', '3 ', '3 ', '3 ', '4 ', '4 ', '4 ', '4 ', '4 ', '4 ', '3 ', '4 ', '4 ', '3 ', '4 ', '4 ', '4 ', '3 ', '4 ', '3 ', '4 ', '3 ', '4 ', 'Residential land / Plot', '4 ', '4 ', '4 ', '4 ', '3 ', '3 ', '3 ', '3 ', '4 ', '3 ', '4 ', '3 ', '3 ', '3 ', '3 ', 'Residential land / Plot', 'Residential land / Plot', '4 ', '3 ', '4 ', '4 ', '12 Bedroom House', 'Residential land / Plot', '7 Bedroom House', '3  Apartment', 'Residential land / Plot', '4 ', '5 ', '3 ', 'Residential land / Plot', 'Residential land / Plot', 'Residential land / Plot', '4 ', '4 ', '3 ', '4 ', '3 ', '3 ', '4 ', '4 ', '3  Apartment', '6 Bedroom Farm house', 'Residential land / Plot', '4  Apartment', '4 ', '3 ', 'Residential land / Plot', '7 Bedroom House', '4  Apartment', 'Residential land / Plot', '3 ', '4 ', '2  Apartment', '9 Bedroom House', 'Residential land / Plot', '4 ', '3 ', '4 ', '3 ', '3 ', 'Residential land / Plot', '3  Apartment', '3  Apartment', '3 ', '4 ', '6 Bedroom House', '3  Apartment', '4  Apartment', '3  Apartment', '4 ', '3 ', 'Residential land / Plot', '4 ', '2 Bedroom House', '4  Apartment', '4 ', '2  Apartment', '3  Apartment', 'Residential land / Plot', 'Residential land / Plot', 'Residential land / Plot', '3  Apartment', '3 ', '4  Apartment', 'Residential land / Plot', '2  Apartment', '8 Bedroom House', '2 Bedroom House', '3 ', '3  Apartment', '4 ', '2  Apartment', '3  Apartment', 'Residential land / Plot', 'Residential land / Plot', 'Residential land / Plot', 'Residential land / Plot', 'Residential land / Plot', 'Residential land / Plot', '2  Apartment', 'Studio Apartments / 1 RK Flats', '4 ', '2 ', '2  Apartment', 'Residential land / Plot', '2 ', '4  Apartment', '4 Bedroom House', 'Residential land / Plot', '4 ', '3 ', '4 ', '2  Apartment', '2 ', '4 ', '7 Bedroom House', '3  Apartment', 'Residential land / Plot', '2  Apartment', '4 ', '4 ', '3 ', '1 ', '3  Apartment', '4 Bedroom House', '2  Apartment', '3  Apartment', '2 ', '2  Apartment', 'Residential land / Plot', '4 ', '3 ', '4 ', '2  Apartment', 'Residential land / Plot', 'Residential land / Plot']

In [15]:
pattern = "[0-9]+"

#list to store modified strings
modified_strings2 = []

for string in modified_strings1:
    modified_string = re.sub(pattern, "", string)
    modified_strings2.append(modified_string)

print(modified_strings2)

[' Bedroom House', '  Apartment', '  Apartment', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', 'Residential land / Plot', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', 'Residential land / Plot', 'Residential land / Plot', ' ', ' ', ' ', ' ', ' Bedroom House', 'Residential land / Plot', ' Bedroom House', '  Apartment', 'Residential land / Plot', ' ', ' ', ' ', 'Residential land / Plot', 'Residential land / Plot', 'Residential land / Plot', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', '  Apartment', ' Bedroom Farm house', 'Residential land / Plot', '  Apartment', ' ', ' ', 'Residential land / Plot', ' Bedroom House', '  Apartment', 'Residential land / Plot', ' ', ' ', '  Apartment', ' Bedroom House', 'Residential land / Plot', ' ', ' ', ' ', ' ', ' ', 'Residential land / Plot', '  Apartment', '  Apartment', ' ', ' ', ' Bedroom House', '  Apartment', '  Apartment', '  Apartment', ' ', ' ', 'Residential land / Plot', ' ', ' Bedroom House', '  Apartment', ' ', '  Apartment', '  Apartment', 'Residential land / Plot', 'Residential land / Plot', 'Residential land / Plot', '  Apartment', ' ', '  Apartment', 'Residential land / Plot', '  Apartment', ' Bedroom House', ' Bedroom House', ' ', '  Apartment', ' ', '  Apartment', '  Apartment', 'Residential land / Plot', 'Residential land / Plot', 'Residential land / Plot', 'Residential land / Plot', 'Residential land / Plot', 'Residential land / Plot', '  Apartment', 'Studio Apartments /  RK Flats', ' ', ' ', '  Apartment', 'Residential land / Plot', ' ', '  Apartment', ' Bedroom House', 'Residential land / Plot', ' ', ' ', ' ', '  Apartment', ' ', ' ', ' Bedroom House', '  Apartment', 'Residential land / Plot', '  Apartment', ' ', ' ', ' ', ' ', '  Apartment', ' Bedroom House', '  Apartment', '  Apartment', ' ', '  Apartment', 'Residential land / Plot', ' ', ' ', ' ', '  Apartment', 'Residential land / Plot', 'Residential land / Plot']

In [16]:
#regular expression pattern to match and remove space before starting word
pattern = "^\s"

#list to store modified strings
land = []

for string in modified_strings2:
    modified_string = re.sub(pattern, "", string)
    land.append(modified_string)

print(land)

['Bedroom House', ' Apartment', ' Apartment', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'Residential land / Plot', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'Residential land / Plot', 'Residential land / Plot', '', '', '', '', 'Bedroom House', 'Residential land / Plot', 'Bedroom House', ' Apartment', 'Residential land / Plot', '', '', '', 'Residential land / Plot', 'Residential land / Plot', 'Residential land / Plot', '', '', '', '', '', '', '', '', ' Apartment', 'Bedroom Farm house', 'Residential land / Plot', ' Apartment', '', '', 'Residential land / Plot', 'Bedroom House', ' Apartment', 'Residential land / Plot', '', '', ' Apartment', 'Bedroom House', 'Residential land / Plot', '', '', '', '', '', 'Residential land / Plot', ' Apartment', ' Apartment', '', '', 'Bedroom House', ' Apartment', ' Apartment', ' Apartment', '', '', 'Residential land / Plot', '', 'Bedroom House', ' Apartment', '', ' Apartment', ' Apartment', 'Residential land / Plot', 'Residential land / Plot', 'Residential land / Plot', ' Apartment', '', ' Apartment', 'Residential land / Plot', ' Apartment', 'Bedroom House', 'Bedroom House', '', ' Apartment', '', ' Apartment', ' Apartment', 'Residential land / Plot', 'Residential land / Plot', 'Residential land / Plot', 'Residential land / Plot', 'Residential land / Plot', 'Residential land / Plot', ' Apartment', 'Studio Apartments /  RK Flats', '', '', ' Apartment', 'Residential land / Plot', '', ' Apartment', 'Bedroom House', 'Residential land / Plot', '', '', '', ' Apartment', '', '', 'Bedroom House', ' Apartment', 'Residential land / Plot', ' Apartment', '', '', '', '', ' Apartment', 'Bedroom House', ' Apartment', ' Apartment', '', ' Apartment', 'Residential land / Plot', '', '', '', ' Apartment', 'Residential land / Plot', 'Residential land / Plot']

In [17]:
#regular expression pattern to match and remove space before starting word
pattern = "^\s"

#list to store modified strings
type_of_land = []

for string in land:
    modified_string = re.sub(pattern, "", string)
    type_of_land.append(modified_string)

print(type_of_land)

['Bedroom House', 'Apartment', 'Apartment', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'Residential land / Plot', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'Residential land / Plot', 'Residential land / Plot', '', '', '', '', 'Bedroom House', 'Residential land / Plot', 'Bedroom House', 'Apartment', 'Residential land / Plot', '', '', '', 'Residential land / Plot', 'Residential land / Plot', 'Residential land / Plot', '', '', '', '', '', '', '', '', 'Apartment', 'Bedroom Farm house', 'Residential land / Plot', 'Apartment', '', '', 'Residential land / Plot', 'Bedroom House', 'Apartment', 'Residential land / Plot', '', '', 'Apartment', 'Bedroom House', 'Residential land / Plot', '', '', '', '', '', 'Residential land / Plot', 'Apartment', 'Apartment', '', '', 'Bedroom House', 'Apartment', 'Apartment', 'Apartment', '', '', 'Residential land / Plot', '', 'Bedroom House', 'Apartment', '', 'Apartment', 'Apartment', 'Residential land / Plot', 'Residential land / Plot', 'Residential land / Plot', 'Apartment', '', 'Apartment', 'Residential land / Plot', 'Apartment', 'Bedroom House', 'Bedroom House', '', 'Apartment', '', 'Apartment', 'Apartment', 'Residential land / Plot', 'Residential land / Plot', 'Residential land / Plot', 'Residential land / Plot', 'Residential land / Plot', 'Residential land / Plot', 'Apartment', 'Studio Apartments /  RK Flats', '', '', 'Apartment', 'Residential land / Plot', '', 'Apartment', 'Bedroom House', 'Residential land / Plot', '', '', '', 'Apartment', '', '', 'Bedroom House', 'Apartment', 'Residential land / Plot', 'Apartment', '', '', '', '', 'Apartment', 'Bedroom House', 'Apartment', 'Apartment', '', 'Apartment', 'Residential land / Plot', '', '', '', 'Apartment', 'Residential land / Plot', 'Residential land / Plot']

In [18]:
from collections import Counter

# Count the occurrences of each string in the list
counts = Counter(type_of_land)

# Get the most common string
most_common = counts.most_common(1)[0][0]

# Replace empty strings with the most common string
type_of_land = [most_common if x=='' else x for x in type_of_land]

In [19]:
type_of_land = list(map(lambda x: 'Bedroom House' if x=='House' else x, type_of_land))

In [20]:
pattern = '\d+'
bhk = list(map(lambda x: re.search(pattern, x).group() if re.search(pattern, x) else None, location))
pattern = re.compile('\d+')
bhk = list(map(lambda x: pattern.search(x).group() if pattern.search(x) else None, location))
bhk

['3',
 '3',
 '2',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '3',
 '3',
 '4',
 '3',
 '3',
 '3',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '3',
 '4',
 '4',
 '3',
 '4',
 '4',
 '4',
 '3',
 '4',
 '3',
 '4',
 '3',
 '4',
 '1',
 '4',
 '4',
 '4',
 '4',
 '3',
 '3',
 '3',
 '3',
 '4',
 '3',
 '4',
 '3',
 '3',
 '3',
 '3',
 '18',
 '18',
 '4',
 '3',
 '4',
 '4',
 '12',
 '1',
 '7',
 '3',
 '3',
 '4',
 '5',
 '3',
 '18',
 '18',
 '20',
 '4',
 '4',
 '3',
 '4',
 '3',
 '3',
 '4',
 '4',
 '3',
 '6',
 '20',
 '4',
 '4',
 '3',
 '20',
 '7',
 '4',
 '1',
 '3',
 '4',
 '2',
 '9',
 '54',
 '4',
 '3',
 '4',
 '3',
 '3',
 '77',
 '3',
 '3',
 '3',
 '4',
 '6',
 '3',
 '4',
 '3',
 '4',
 '3',
 '2',
 '4',
 '2',
 '4',
 '4',
 '2',
 '3',
 '1',
 '1',
 '1',
 '3',
 '3',
 '4',
 '2',
 '2',
 '8',
 '2',
 '3',
 '3',
 '4',
 '2',
 '3',
 '1',
 '1',
 '2',
 '2',
 '2',
 '2',
 '2',
 '1',
 '4',
 '2',
 '2',
 '2',
 '2',
 '4',
 '4',
 '49',
 '4',
 '3',
 '4',
 '2',
 '2',
 '4',
 '7',
 '3',
 '81',
 '2',
 '4',
 '4',
 '3',
 '1',
 '3',
 '4',
 '2',
 '3',
 '2',
 '2',
 '2',
 '4',
 '3',
 '4',
 '2',
 '2',
 '2']

In [21]:
for i in range(len(bhk)):
    try:
        bhk[i] = int(bhk[i])
    except:
        pass
print(bhk)

[3, 3, 2, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 3, 3, 4, 3, 3, 3, 4, 4, 4, 4, 4, 4, 3, 4, 4, 3, 4, 4, 4, 3, 4, 3, 4, 3, 4, 1, 4, 4, 4, 4, 3, 3, 3, 3, 4, 3, 4, 3, 3, 3, 3, 18, 18, 4, 3, 4, 4, 12, 1, 7, 3, 3, 4, 5, 3, 18, 18, 20, 4, 4, 3, 4, 3, 3, 4, 4, 3, 6, 20, 4, 4, 3, 20, 7, 4, 1, 3, 4, 2, 9, 54, 4, 3, 4, 3, 3, 77, 3, 3, 3, 4, 6, 3, 4, 3, 4, 3, 2, 4, 2, 4, 4, 2, 3, 1, 1, 1, 3, 3, 4, 2, 2, 8, 2, 3, 3, 4, 2, 3, 1, 1, 2, 2, 2, 2, 2, 1, 4, 2, 2, 2, 2, 4, 4, 49, 4, 3, 4, 2, 2, 4, 7, 3, 81, 2, 4, 4, 3, 1, 3, 4, 2, 3, 2, 2, 2, 4, 3, 4, 2, 2, 2]

In [22]:
bhk = [0 if i is None else i for i in bhk]
print(bhk)

[3, 3, 2, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 3, 3, 4, 3, 3, 3, 4, 4, 4, 4, 4, 4, 3, 4, 4, 3, 4, 4, 4, 3, 4, 3, 4, 3, 4, 1, 4, 4, 4, 4, 3, 3, 3, 3, 4, 3, 4, 3, 3, 3, 3, 18, 18, 4, 3, 4, 4, 12, 1, 7, 3, 3, 4, 5, 3, 18, 18, 20, 4, 4, 3, 4, 3, 3, 4, 4, 3, 6, 20, 4, 4, 3, 20, 7, 4, 1, 3, 4, 2, 9, 54, 4, 3, 4, 3, 3, 77, 3, 3, 3, 4, 6, 3, 4, 3, 4, 3, 2, 4, 2, 4, 4, 2, 3, 1, 1, 1, 3, 3, 4, 2, 2, 8, 2, 3, 3, 4, 2, 3, 1, 1, 2, 2, 2, 2, 2, 1, 4, 2, 2, 2, 2, 4, 4, 49, 4, 3, 4, 2, 2, 4, 7, 3, 81, 2, 4, 4, 3, 1, 3, 4, 2, 3, 2, 2, 2, 4, 3, 4, 2, 2, 2]

In [23]:
len(bhk)

191

# price per sqft

In [24]:
price = df['price_per_sqft'].tolist()

print(price)

['₹ 4,488/sq.ft.', '₹ 12,592/sq.ft.', '₹ 9,807/sq.ft.', '₹ 11,111/sq.ft.', '₹ 12,391/sq.ft.', '₹ 9,960/sq.ft.', '₹ 12,000/sq.ft.', '₹ 11,111/sq.ft.', '₹ 11,049/sq.ft.', '₹ 10,845/sq.ft.', '₹ 11,066/sq.ft.', '₹ 11,111/sq.ft.', '₹ 11,481/sq.ft.', '₹ 12,769/sq.ft.', '₹ 11,620/sq.ft.', '₹ 13,117/sq.ft.', '₹ 11,148/sq.ft.', '₹ 10,740/sq.ft.', '₹ 11,398/sq.ft.', '₹ 10,513/sq.ft.', '₹ 11,555/sq.ft.', '₹ 10,843/sq.ft.', '₹ 9,960/sq.ft.', '₹ 10,624/sq.ft.', '₹ 10,845/sq.ft.', '₹ 10,666/sq.ft.', '₹ 11,620/sq.ft.', '₹ 13,071/sq.ft.', '₹ 11,111/sq.ft.', '₹ 10,500/sq.ft.', '₹ 10,250/sq.ft.', '₹ 11,885/sq.ft.', '₹ 11,944/sq.ft.', '₹ 11,111/sq.ft.', '₹ 12,222/sq.ft.', '₹ 9,950/sq.ft.', '₹ 14,444/sq.ft.', '₹ 9,673/sq.ft.', '₹ 12,173/sq.ft.', '₹ 11,148/sq.ft.', '₹ 11,363/sq.ft.', '₹ 9,750/sq.ft.', '₹ 9,259/sq.ft.', '₹ 11,518/sq.ft.', '₹ 10,250/sq.ft.', '₹ 10,000/sq.ft.', '₹ 12,037/sq.ft.', '₹ 11,111/sq.ft.', '₹ 11,369/sq.ft.', '₹ 10,185/sq.ft.', '₹ 12,396/sq.ft.', '₹ 11,470/sq.ft.', '₹ 11,369/sq.ft.', '₹ 10,364/sq.ft.', '₹ 26,848/sq.ft.', '₹ 11,111/sq.ft.', '₹ 9,950/sq.ft.', '₹ 10,641/sq.ft.', '₹ 11,111/sq.ft.', '₹ 14,337/sq.ft.', '₹ 10,077/sq.ft.', '₹ 10,250/sq.ft.', '₹ 10,336/sq.ft.', '₹ 12,963/sq.ft.', '₹ 11,000/sq.ft.', '₹ 9,642/sq.ft.', '₹ 11,628/sq.ft.', '₹ 9,750/sq.ft.', '₹ 12,500/sq.ft.', '₹ 11,836/sq.ft.', '₹ 3,128/sq.ft.', '₹ 3,252/sq.ft.', '₹ 10,918/sq.ft.', '₹ 9,900/sq.ft.', '₹ 9,185/sq.ft.', '₹ 10,555/sq.ft.', '₹ 81,481/sq.ft.', '₹ 36,731/sq.ft.', '₹ 6,538/sq.ft.', '₹ 7,750/sq.ft.', '₹ 26,007/sq.ft.', '₹ 36,749/sq.ft.', '₹ 28,709/sq.ft.', '₹ 11,000/sq.ft.', '₹ 40,000/sq.ft.', '₹ 3,654/sq.ft.', '₹ 3,995/sq.ft.', '₹ 10,937/sq.ft.', '₹ 11,607/sq.ft.', '₹ 9,950/sq.ft.', '₹ 10,802/sq.ft.', '₹ 11,500/sq.ft.', '₹ 10,216/sq.ft.', '₹ 9,259/sq.ft.', '₹ 11,470/sq.ft.', '₹ 6,667/sq.ft.', '₹ 6,610/sq.ft.', '₹ 3,174/sq.ft.', '₹ 9,643/sq.ft.', '₹ 10,556/sq.ft.', '₹ 9,945/sq.ft.', '₹ 36,500/sq.ft.', '₹ 51,530/sq.ft.', '₹ 7,222/sq.ft.', '₹ 50,000/sq.ft.', '₹ 23,226/sq.ft.', '₹ 12,250/sq.ft.', '₹ 34,602/sq.ft.', '₹ 51,370/sq.ft.', '₹ 38,889/sq.ft.', '₹ 12,435/sq.ft.', '₹ 10,000/sq.ft.', '₹ 11,398/sq.ft.', '₹ 11,000/sq.ft.', '₹ 10,500/sq.ft.', '₹ 5,860/sq.ft.', '₹ 12,195/sq.ft.', '₹ 21,794/sq.ft.', '₹ 29,321/sq.ft.', '₹ 17,478/sq.ft.', '₹ 54,674/sq.ft.', '₹ 4,272/sq.ft.', '₹ 11,363/sq.ft.', '₹ 8,200/sq.ft.', '₹ 15,000/sq.ft.', '₹ 23,570/sq.ft.', '₹ 25,005/sq.ft.', '₹ 19,531/sq.ft.', '₹ 14,583/sq.ft.', '₹ 4,901/sq.ft.', '₹ 20,454/sq.ft.', '₹ 7,623/sq.ft.', '₹ 7,564/sq.ft.', '₹ 27,667/sq.ft.', '₹ 37,037/sq.ft.', '₹ 28,267/sq.ft.', '₹ 4,571/sq.ft.', '₹ 8,500/sq.ft.', '₹ 8,750/sq.ft.', '₹ 27,708/sq.ft.', '₹ 17,866/sq.ft.', '₹ 28,891/sq.ft.', '₹ 17,333/sq.ft.', '₹ 13,888/sq.ft.', '₹ 6,666/sq.ft.', '₹ 8,796/sq.ft.', '₹ 4,381/sq.ft.', '₹ 8,932/sq.ft.', '₹ 29,880/sq.ft.', '₹ 29,167/sq.ft.', '₹ 28,267/sq.ft.', '₹ 29,880/sq.ft.', '₹ 29,022/sq.ft.', '₹ 31,481/sq.ft.', '₹ 6,666/sq.ft.', '₹ 11,842/sq.ft.', '₹ 5,990/sq.ft.', '₹ 4,167/sq.ft.', '₹ 12,583/sq.ft.', '₹ 34,213/sq.ft.', '₹ 26,296/sq.ft.', '₹ 4,528/sq.ft.', '₹ 24,972/sq.ft.', '₹ 8,875/sq.ft.', '₹ 16,666/sq.ft.', '₹ 17,222/sq.ft.', '₹ 15,476/sq.ft.', '₹ 6,000/sq.ft.', '₹ 15,625/sq.ft.', '₹ 18,166/sq.ft.', '₹ 16,483/sq.ft.', '₹ 8,000/sq.ft.', '₹ 11,111/sq.ft.', '₹ 16,109/sq.ft.', '₹ 4,504/sq.ft.', '₹ 10,000/sq.ft.', '₹ 10,850/sq.ft.', '₹ 7,142/sq.ft.', '₹ 5,769/sq.ft.', '₹ 21,481/sq.ft.', '₹ 5,856/sq.ft.', '₹ 7,512/sq.ft.', '₹ 4,645/sq.ft.', '₹ 4,577/sq.ft.', '₹ 33,333/sq.ft.', '₹ 10,185/sq.ft.', '₹ 12,000/sq.ft.', '₹ 12,222/sq.ft.', '₹ 5,414/sq.ft.', '₹ 33,398/sq.ft.', '₹ 32,094/sq.ft.']

In [25]:
characters_to_remove = ["₹ ","/sq.ft.",","]

#regular expression pattern to match and remove special characters and characters
pattern = "[{}]".format("".join(characters_to_remove))

#list to store modified strings
Price_per_sqft = []

for string in price:
    modified_string = re.sub(pattern, "", string)
    Price_per_sqft.append(modified_string)

print(Price_per_sqft)

['4488', '12592', '9807', '11111', '12391', '9960', '12000', '11111', '11049', '10845', '11066', '11111', '11481', '12769', '11620', '13117', '11148', '10740', '11398', '10513', '11555', '10843', '9960', '10624', '10845', '10666', '11620', '13071', '11111', '10500', '10250', '11885', '11944', '11111', '12222', '9950', '14444', '9673', '12173', '11148', '11363', '9750', '9259', '11518', '10250', '10000', '12037', '11111', '11369', '10185', '12396', '11470', '11369', '10364', '26848', '11111', '9950', '10641', '11111', '14337', '10077', '10250', '10336', '12963', '11000', '9642', '11628', '9750', '12500', '11836', '3128', '3252', '10918', '9900', '9185', '10555', '81481', '36731', '6538', '7750', '26007', '36749', '28709', '11000', '40000', '3654', '3995', '10937', '11607', '9950', '10802', '11500', '10216', '9259', '11470', '6667', '6610', '3174', '9643', '10556', '9945', '36500', '51530', '7222', '50000', '23226', '12250', '34602', '51370', '38889', '12435', '10000', '11398', '11000', '10500', '5860', '12195', '21794', '29321', '17478', '54674', '4272', '11363', '8200', '15000', '23570', '25005', '19531', '14583', '4901', '20454', '7623', '7564', '27667', '37037', '28267', '4571', '8500', '8750', '27708', '17866', '28891', '17333', '13888', '6666', '8796', '4381', '8932', '29880', '29167', '28267', '29880', '29022', '31481', '6666', '11842', '5990', '4167', '12583', '34213', '26296', '4528', '24972', '8875', '16666', '17222', '15476', '6000', '15625', '18166', '16483', '8000', '11111', '16109', '4504', '10000', '10850', '7142', '5769', '21481', '5856', '7512', '4645', '4577', '33333', '10185', '12000', '12222', '5414', '33398', '32094']

In [26]:
Price_per_SqFt = [int(x) for x in Price_per_sqft]

print(Price_per_SqFt)

[4488, 12592, 9807, 11111, 12391, 9960, 12000, 11111, 11049, 10845, 11066, 11111, 11481, 12769, 11620, 13117, 11148, 10740, 11398, 10513, 11555, 10843, 9960, 10624, 10845, 10666, 11620, 13071, 11111, 10500, 10250, 11885, 11944, 11111, 12222, 9950, 14444, 9673, 12173, 11148, 11363, 9750, 9259, 11518, 10250, 10000, 12037, 11111, 11369, 10185, 12396, 11470, 11369, 10364, 26848, 11111, 9950, 10641, 11111, 14337, 10077, 10250, 10336, 12963, 11000, 9642, 11628, 9750, 12500, 11836, 3128, 3252, 10918, 9900, 9185, 10555, 81481, 36731, 6538, 7750, 26007, 36749, 28709, 11000, 40000, 3654, 3995, 10937, 11607, 9950, 10802, 11500, 10216, 9259, 11470, 6667, 6610, 3174, 9643, 10556, 9945, 36500, 51530, 7222, 50000, 23226, 12250, 34602, 51370, 38889, 12435, 10000, 11398, 11000, 10500, 5860, 12195, 21794, 29321, 17478, 54674, 4272, 11363, 8200, 15000, 23570, 25005, 19531, 14583, 4901, 20454, 7623, 7564, 27667, 37037, 28267, 4571, 8500, 8750, 27708, 17866, 28891, 17333, 13888, 6666, 8796, 4381, 8932, 29880, 29167, 28267, 29880, 29022, 31481, 6666, 11842, 5990, 4167, 12583, 34213, 26296, 4528, 24972, 8875, 16666, 17222, 15476, 6000, 15625, 18166, 16483, 8000, 11111, 16109, 4504, 10000, 10850, 7142, 5769, 21481, 5856, 7512, 4645, 4577, 33333, 10185, 12000, 12222, 5414, 33398, 32094]

# total sqft

In [27]:
sqft = df['total_sqft'].tolist()

print(sqft)

['2,250 sq.ft. (209 sq.m.) Built-up Area', '1,350 sq.ft. (125 sq.m.) Carpet Area', '1,193 sq.ft. (111 sq.m.) Carpet Area', '2,700 sq.ft. (251 sq.m.) Carpet Area', '4,842 sq.ft. (450 sq.m.) Carpet Area', '4,518 sq.ft. (420 sq.m.) Carpet Area', '5,000 sq.ft. (465 sq.m.) Carpet Area', '2,700 sq.ft. (251 sq.m.) Carpet Area', '4,842 sq.ft. (450 sq.m.) Carpet Area', '4,518 sq.ft. (420 sq.m.) Carpet Area', '4,518 sq.ft. (420 sq.m.) Super built-up Area', '2,700 sq.ft. (251 sq.m.) Carpet Area', '2,700 sq.ft. (251 sq.m.) Super built-up Area', '4,542 sq.ft. (422 sq.m.) Carpet Area', '4,518 sq.ft. (420 sq.m.) Super built-up Area', '3,240 sq.ft. (301 sq.m.) Super built-up Area', '2,700 sq.ft. (251 sq.m.) Carpet Area', '2,700 sq.ft. (251 sq.m.) Carpet Area', '4,518 sq.ft. (420 sq.m.) Carpet Area', '4,518 sq.ft. (420 sq.m.) Carpet Area', '2,700 sq.ft. (251 sq.m.) Carpet Area', '4,565 sq.ft. (424 sq.m.) Carpet Area', '4,518 sq.ft. (420 sq.m.) Carpet Area', '4,518 sq.ft. (420 sq.m.) Carpet Area', '4,518 sq.ft. (420 sq.m.) Carpet Area', '4,500 sq.ft. (418 sq.m.) Carpet Area', '4,518 sq.ft. (420 sq.m.) Carpet Area', '4,590 sq.ft. (426 sq.m.) Carpet Area', '2,700 sq.ft. (251 sq.m.) Carpet Area', '2,000 sq.ft. (186 sq.m.) Carpet Area', '2,000 sq.ft. (186 sq.m.) Carpet Area', '3,618 sq.ft. (336 sq.m.) Super built-up Area', '1,800 sq.ft. (167 sq.m.) Carpet Area', '1,935 sq.ft. (180 sq.m.) Carpet Area', '2,250 sq.ft. (209 sq.m.) Carpet Area', '3,618 sq.ft. (336 sq.m.) Carpet Area', '2,700 sq.ft. (251 sq.m.) Super built-up Area', '3,618 sq.ft. (336 sq.m.) Carpet Area', '4,518 sq.ft. (420 sq.m.) Super built-up Area', '2,700 sq.ft. (251 sq.m.) Carpet Area', '2,200 sq.ft. (204 sq.m.) Super built-up Area', '2,000 sq.ft. (186 sq.m.) Carpet Area', '2,700 sq.ft. (251 sq.m.) Carpet Area', '2,700 sq.ft. (251 sq.m.) Carpet Area', '2,000 sq.ft. (186 sq.m.) Carpet Area', '2,700 sq.ft. (251 sq.m.) Carpet Area', '2,700 sq.ft. (251 sq.m.) Super built-up Area', '2,700 sq.ft. (251 sq.m.) Carpet Area', '1,935 sq.ft. (180 sq.m.) Built-up Area', '2,700 sq.ft. (251 sq.m.) Built-up Area', '1,936 sq.ft. (180 sq.m.) Carpet Area', '3,618 sq.ft. (336 sq.m.) Carpet Area', '1,935 sq.ft. (180 sq.m.) Super built-up Area', '3,618 sq.ft. (336 sq.m.) Carpet Area', '4,842 sq.ft. (450 sq.m.) Plot Area', '2,700 sq.ft. (251 sq.m.) Carpet Area', '3,618 sq.ft. (336 sq.m.) Carpet Area', '3,618 sq.ft. (336 sq.m.) Carpet Area', '3,600 sq.ft. (334 sq.m.) Super built-up Area', '1,674 sq.ft. (156 sq.m.) Carpet Area', '1,935 sq.ft. (180 sq.m.) Carpet Area', '2,000 sq.ft. (186 sq.m.) Carpet Area', '1,935 sq.ft. (180 sq.m.) Super built-up Area', '2,700 sq.ft. (251 sq.m.) Built-up Area', '2,000 sq.ft. (186 sq.m.) Super built-up Area', '2,800 sq.ft. (260 sq.m.) Super built-up Area', '1,935 sq.ft. (180 sq.m.) Built-up Area', '2,000 sq.ft. (186 sq.m.) Carpet Area', '1,800 sq.ft. (167 sq.m.) Carpet Area', '2,450 sq.ft. (228 sq.m.) Carpet Area', '3,229 sq.ft. (300 sq.m.) Plot Area', '3,229 sq.ft. (300 sq.m.) Plot Area', '3,618 sq.ft. (336 sq.m.) Carpet Area', '2,000 sq.ft. (186 sq.m.) Super built-up Area', '2,700 sq.ft. (251 sq.m.) Carpet Area', '2,700 sq.ft. (251 sq.m.) Carpet Area', '2,700 sq.ft. (251 sq.m.) Plot Area', '8,712 sq.ft. (809 sq.m.) Plot Area', '6,500 sq.ft. (604 sq.m.) Carpet Area', '2,000 sq.ft. (186 sq.m.) Super built-up Area', '4,518 sq.ft. (420 sq.m.) Plot Area', '4,626 sq.ft. (430 sq.m.) Carpet Area', '3,100 sq.ft. (288 sq.m.) Carpet Area', '2,000 sq.ft. (186 sq.m.) Carpet Area', '300 sq.ft. (28 sq.m.) Plot Area', '3,229 sq.ft. (300 sq.m.) Plot Area', '5,381 sq.ft. (500 sq.m.) Plot Area', '3,200 sq.ft. (297 sq.m.) Super built-up Area', '2,800 sq.ft. (260 sq.m.) Super built-up Area', '2,000 sq.ft. (186 sq.m.) Super built-up Area', '3,240 sq.ft. (301 sq.m.) Built-up Area', '2,000 sq.ft. (186 sq.m.) Carpet Area', '1,850 sq.ft. (172 sq.m.) Carpet Area', '2,700 sq.ft. (251 sq.m.) Super built-up Area', '3,618 sq.ft. (336 sq.m.) Carpet Area', '2,250 sq.ft. (209 sq.m.) Built-up Area', '2,269 sq.ft. (211 sq.m.) Plot Area', '3,229 sq.ft. (300 sq.m.) Plot Area', '4,874 sq.ft. (453 sq.m.) Super built-up Area', '2,700 sq.ft. (251 sq.m.) Carpet Area', '1,850 sq.ft. (172 sq.m.) Carpet Area', '500 sq.ft. (46 sq.m.) Plot Area', '1,242 sq.ft. (115 sq.m.) Plot Area', '1,800 sq.ft. (167 sq.m.) Carpet Area', '2,700 sq.ft. (251 sq.m.) Plot Area', '1,356 sq.ft. (126 sq.m.) Built-up Area', '4,000 sq.ft. (372 sq.m.) Super built-up Area', '2,230 sq.ft. (207 sq.m.) Super built-up Area', '2,628 sq.ft. (244 sq.m.) Plot Area', '4,518 sq.ft. (420 sq.m.) Plot Area', '2,885 sq.ft. (268 sq.m.) Super built-up Area', '1,850 sq.ft. (172 sq.m.) Carpet Area', '4,518 sq.ft. (420 sq.m.) Carpet Area', '2,000 sq.ft. (186 sq.m.) Carpet Area', '2,000 sq.ft. (186 sq.m.) Carpet Area', '4,693 sq.ft. (436 sq.m.) Plot Area', '1,845 sq.ft. (171 sq.m.) Super built-up Area', '2,753 sq.ft. (256 sq.m.) Super built-up Area', '1,620 sq.ft. (151 sq.m.) Carpet Area', '4,005 sq.ft. (372 sq.m.) Super built-up Area', '1,134 sq.ft. (105 sq.m.) Plot Area', '1,100 sq.ft. (102 sq.m.) Built-up Area', '2,200 sq.ft. (204 sq.m.) Carpet Area', '2,780 sq.ft. (258 sq.m.) Super built-up Area', '3,000 sq.ft. (279 sq.m.) Carpet Area', '1,225 sq.ft. (114 sq.m.) Built-up Area', '9,198 sq.ft. (855 sq.m.) Plot Area', '3,200 sq.ft. (297 sq.m.) Super built-up Area', '1,440 sq.ft. (134 sq.m.) Plot Area', '3,060 sq.ft. (284 sq.m.) Built-up Area', '2,200 sq.ft. (204 sq.m.) Carpet Area', '1,115 sq.ft. (104 sq.m.) Super built-up Area', '1,811 sq.ft. (168 sq.m.) Super built-up Area', '4,518 sq.ft. (420 sq.m.) Plot Area', '4,185 sq.ft. (389 sq.m.) Plot Area', '9,198 sq.ft. (855 sq.m.) Plot Area', '1,400 sq.ft. (130 sq.m.) Carpet Area', '2,000 sq.ft. (186 sq.m.) Carpet Area', '3,200 sq.ft. (297 sq.m.) Super built-up Area', '3,609 sq.ft. (335 sq.m.) Plot Area', '699 sq.ft. (65 sq.m.) Carpet Area', '4,702 sq.ft. (437 sq.m.) Plot Area', '360 sq.ft. (33 sq.m.) Plot Area', '1,800 sq.ft. (167 sq.m.) Carpet Area', '2,250 sq.ft. (209 sq.m.) Built-up Area', '3,240 sq.ft. (301 sq.m.) Carpet Area', '1,027 sq.ft. (95 sq.m.) Built-up Area', '918 sq.ft. (85 sq.m.) Carpet Area', '4,518 sq.ft. (420 sq.m.) Plot Area', '1,800 sq.ft. (167 sq.m.) Plot Area', '9,198 sq.ft. (855 sq.m.) Plot Area', '4,518 sq.ft. (420 sq.m.) Plot Area', '3,618 sq.ft. (336 sq.m.) Plot Area', '2,700 sq.ft. (251 sq.m.) Plot Area', '900 sq.ft. (84 sq.m.) Super built-up Area', '380 sq.ft. (35 sq.m.) Carpet Area', '9,600 sq.ft. (892 sq.m.) Super built-up Area', '599 sq.ft. (56 sq.m.) Super built-up Area', '1,351 sq.ft. (126 sq.m.) Super built-up Area', '6,138 sq.ft. (570 sq.m.) Plot Area', '1,350 sq.ft. (125 sq.m.) Carpet Area', '2,650 sq.ft. (246 sq.m.) Carpet Area', '1,782 sq.ft. (166 sq.m.) Plot Area', '2,817 sq.ft. (262 sq.m.) Plot Area', '2,100 sq.ft. (195 sq.m.) Carpet Area', '900 sq.ft. (84 sq.m.) Carpet Area', '2,100 sq.ft. (195 sq.m.) Built-up Area', '1,350 sq.ft. (125 sq.m.) Super built-up Area', '1,600 sq.ft. (149 sq.m.) Super built-up Area', '3,000 sq.ft. (279 sq.m.) Carpet Area', '3,336 sq.ft. (310 sq.m.) Plot Area', '1,978 sq.ft. (184 sq.m.) Built-up Area', '1,350 sq.ft. (125 sq.m.) Plot Area', '807 sq.ft. (75 sq.m.) Built-up Area', '1,221 sq.ft. (113 sq.m.) Carpet Area', '3,200 sq.ft. (297 sq.m.) Super built-up Area', '2,000 sq.ft. (186 sq.m.) Super built-up Area', '350 sq.ft. (33 sq.m.) Carpet Area', '1,560 sq.ft. (145 sq.m.) Super built-up Area', '1,350 sq.ft. (125 sq.m.) Plot Area', '1,622 sq.ft. (151 sq.m.) Super built-up Area', '1,930 sq.ft. (179 sq.m.) Super built-up Area', '861 sq.ft. (80 sq.m.) Built-up Area', '1,005 sq.ft. (93 sq.m.) Super built-up Area', '4,518 sq.ft. (420 sq.m.) Plot Area', '2,700 sq.ft. (251 sq.m.) Super built-up Area', '2,000 sq.ft. (186 sq.m.) Carpet Area', '2,700 sq.ft. (251 sq.m.) Built-up Area', '1,145 sq.ft. (106 sq.m.) Super built-up Area', '6,138 sq.ft. (570 sq.m.) Plot Area', '2,259 sq.ft. (210 sq.m.) Plot Area']

In [28]:
characters_to_remove = ["sq.ft."," sq.m.) Built-up Area",","]

#regular expression pattern to match and remove special characters and characters
pattern = "[{}]".format("".join(characters_to_remove))

#list to store modified strings
total = []

for string in sqft:
    modified_string = re.sub(pattern, "", string)
    total.append(modified_string)

print(total)

['2250(209-', '1350(125C', '1193(111C', '2700(251C', '4842(450C', '4518(420C', '5000(465C', '2700(251C', '4842(450C', '4518(420C', '4518(420Sb-', '2700(251C', '2700(251Sb-', '4542(422C', '4518(420Sb-', '3240(301Sb-', '2700(251C', '2700(251C', '4518(420C', '4518(420C', '2700(251C', '4565(424C', '4518(420C', '4518(420C', '4518(420C', '4500(418C', '4518(420C', '4590(426C', '2700(251C', '2000(186C', '2000(186C', '3618(336Sb-', '1800(167C', '1935(180C', '2250(209C', '3618(336C', '2700(251Sb-', '3618(336C', '4518(420Sb-', '2700(251C', '2200(204Sb-', '2000(186C', '2700(251C', '2700(251C', '2000(186C', '2700(251C', '2700(251Sb-', '2700(251C', '1935(180-', '2700(251-', '1936(180C', '3618(336C', '1935(180Sb-', '3618(336C', '4842(450Po', '2700(251C', '3618(336C', '3618(336C', '3600(334Sb-', '1674(156C', '1935(180C', '2000(186C', '1935(180Sb-', '2700(251-', '2000(186Sb-', '2800(260Sb-', '1935(180-', '2000(186C', '1800(167C', '2450(228C', '3229(300Po', '3229(300Po', '3618(336C', '2000(186Sb-', '2700(251C', '2700(251C', '2700(251Po', '8712(809Po', '6500(604C', '2000(186Sb-', '4518(420Po', '4626(430C', '3100(288C', '2000(186C', '300(28Po', '3229(300Po', '5381(500Po', '3200(297Sb-', '2800(260Sb-', '2000(186Sb-', '3240(301-', '2000(186C', '1850(172C', '2700(251Sb-', '3618(336C', '2250(209-', '2269(211Po', '3229(300Po', '4874(453Sb-', '2700(251C', '1850(172C', '500(46Po', '1242(115Po', '1800(167C', '2700(251Po', '1356(126-', '4000(372Sb-', '2230(207Sb-', '2628(244Po', '4518(420Po', '2885(268Sb-', '1850(172C', '4518(420C', '2000(186C', '2000(186C', '4693(436Po', '1845(171Sb-', '2753(256Sb-', '1620(151C', '4005(372Sb-', '1134(105Po', '1100(102-', '2200(204C', '2780(258Sb-', '3000(279C', '1225(114-', '9198(855Po', '3200(297Sb-', '1440(134Po', '3060(284-', '2200(204C', '1115(104Sb-', '1811(168Sb-', '4518(420Po', '4185(389Po', '9198(855Po', '1400(130C', '2000(186C', '3200(297Sb-', '3609(335Po', '699(65C', '4702(437Po', '360(33Po', '1800(167C', '2250(209-', '3240(301C', '1027(95-', '918(85C', '4518(420Po', '1800(167Po', '9198(855Po', '4518(420Po', '3618(336Po', '2700(251Po', '900(84Sb-', '380(35C', '9600(892Sb-', '599(56Sb-', '1351(126Sb-', '6138(570Po', '1350(125C', '2650(246C', '1782(166Po', '2817(262Po', '2100(195C', '900(84C', '2100(195-', '1350(125Sb-', '1600(149Sb-', '3000(279C', '3336(310Po', '1978(184-', '1350(125Po', '807(75-', '1221(113C', '3200(297Sb-', '2000(186Sb-', '350(33C', '1560(145Sb-', '1350(125Po', '1622(151Sb-', '1930(179Sb-', '861(80-', '1005(93Sb-', '4518(420Po', '2700(251Sb-', '2000(186C', '2700(251-', '1145(106Sb-', '6138(570Po', '2259(210Po']

In [29]:
pattern = "\(.*$"

#list to store modified strings
total_sqft = []

for string in total:
    modified_string = re.sub(pattern, "", string)
    total_sqft.append(modified_string)

print(total_sqft)

['2250', '1350', '1193', '2700', '4842', '4518', '5000', '2700', '4842', '4518', '4518', '2700', '2700', '4542', '4518', '3240', '2700', '2700', '4518', '4518', '2700', '4565', '4518', '4518', '4518', '4500', '4518', '4590', '2700', '2000', '2000', '3618', '1800', '1935', '2250', '3618', '2700', '3618', '4518', '2700', '2200', '2000', '2700', '2700', '2000', '2700', '2700', '2700', '1935', '2700', '1936', '3618', '1935', '3618', '4842', '2700', '3618', '3618', '3600', '1674', '1935', '2000', '1935', '2700', '2000', '2800', '1935', '2000', '1800', '2450', '3229', '3229', '3618', '2000', '2700', '2700', '2700', '8712', '6500', '2000', '4518', '4626', '3100', '2000', '300', '3229', '5381', '3200', '2800', '2000', '3240', '2000', '1850', '2700', '3618', '2250', '2269', '3229', '4874', '2700', '1850', '500', '1242', '1800', '2700', '1356', '4000', '2230', '2628', '4518', '2885', '1850', '4518', '2000', '2000', '4693', '1845', '2753', '1620', '4005', '1134', '1100', '2200', '2780', '3000', '1225', '9198', '3200', '1440', '3060', '2200', '1115', '1811', '4518', '4185', '9198', '1400', '2000', '3200', '3609', '699', '4702', '360', '1800', '2250', '3240', '1027', '918', '4518', '1800', '9198', '4518', '3618', '2700', '900', '380', '9600', '599', '1351', '6138', '1350', '2650', '1782', '2817', '2100', '900', '2100', '1350', '1600', '3000', '3336', '1978', '1350', '807', '1221', '3200', '2000', '350', '1560', '1350', '1622', '1930', '861', '1005', '4518', '2700', '2000', '2700', '1145', '6138', '2259']

In [30]:
Total_SqFt = [int(x) for x in total_sqft]

print(Total_SqFt)

[2250, 1350, 1193, 2700, 4842, 4518, 5000, 2700, 4842, 4518, 4518, 2700, 2700, 4542, 4518, 3240, 2700, 2700, 4518, 4518, 2700, 4565, 4518, 4518, 4518, 4500, 4518, 4590, 2700, 2000, 2000, 3618, 1800, 1935, 2250, 3618, 2700, 3618, 4518, 2700, 2200, 2000, 2700, 2700, 2000, 2700, 2700, 2700, 1935, 2700, 1936, 3618, 1935, 3618, 4842, 2700, 3618, 3618, 3600, 1674, 1935, 2000, 1935, 2700, 2000, 2800, 1935, 2000, 1800, 2450, 3229, 3229, 3618, 2000, 2700, 2700, 2700, 8712, 6500, 2000, 4518, 4626, 3100, 2000, 300, 3229, 5381, 3200, 2800, 2000, 3240, 2000, 1850, 2700, 3618, 2250, 2269, 3229, 4874, 2700, 1850, 500, 1242, 1800, 2700, 1356, 4000, 2230, 2628, 4518, 2885, 1850, 4518, 2000, 2000, 4693, 1845, 2753, 1620, 4005, 1134, 1100, 2200, 2780, 3000, 1225, 9198, 3200, 1440, 3060, 2200, 1115, 1811, 4518, 4185, 9198, 1400, 2000, 3200, 3609, 699, 4702, 360, 1800, 2250, 3240, 1027, 918, 4518, 1800, 9198, 4518, 3618, 2700, 900, 380, 9600, 599, 1351, 6138, 1350, 2650, 1782, 2817, 2100, 900, 2100, 1350, 1600, 3000, 3336, 1978, 1350, 807, 1221, 3200, 2000, 350, 1560, 1350, 1622, 1930, 861, 1005, 4518, 2700, 2000, 2700, 1145, 6138, 2259]

# Total price

In [31]:
total_price = df['price'].tolist()

print(total_price)

['₹ 1.01 Cr₹ 4,488/sq.ft.', '₹ 1.7 Cr₹ 12,592/sq.ft.', '₹ 1.17 Cr₹ 9,807/sq.ft.', '₹ 3 Cr₹ 11,111/sq.ft.', '₹ 6 Cr₹ 12,391/sq.ft.', '₹ 4.5 Cr₹ 9,960/sq.ft.', '₹ 6 Cr₹ 12,000/sq.ft.', '₹ 3 Cr₹ 11,111/sq.ft.', '₹ 5.35 Cr₹ 11,049/sq.ft.', '₹ 4.9 Cr₹ 10,845/sq.ft.', '₹ 5 Cr₹ 11,066/sq.ft.', '₹ 3 Cr₹ 11,111/sq.ft.', '₹ 3.1 Cr₹ 11,481/sq.ft.', '₹ 5.8 Cr₹ 12,769/sq.ft.', '₹ 5.25 Cr₹ 11,620/sq.ft.', '₹ 4.25 Cr₹ 13,117/sq.ft.', '₹ 3.01 Cr₹ 11,148/sq.ft.', '₹ 2.9 Cr₹ 10,740/sq.ft.', '₹ 5.15 Cr₹ 11,398/sq.ft.', '₹ 4.75 Cr₹ 10,513/sq.ft.', '₹ 3.12 Cr₹ 11,555/sq.ft.', '₹ 4.95 Cr₹ 10,843/sq.ft.', '₹ 4.5 Cr₹ 9,960/sq.ft.', '₹ 4.8 Cr₹ 10,624/sq.ft.', '₹ 4.9 Cr₹ 10,845/sq.ft.', '₹ 4.8 Cr₹ 10,666/sq.ft.', '₹ 5.25 Cr₹ 11,620/sq.ft.', '₹ 6 Cr₹ 13,071/sq.ft.', '₹ 3 Cr₹ 11,111/sq.ft.', '₹ 2.1 Cr₹ 10,500/sq.ft.', '₹ 2.05 Cr₹ 10,250/sq.ft.', '₹ 4.3 Cr₹ 11,885/sq.ft.', '₹ 2.15 Cr₹ 11,944/sq.ft.', '₹ 2.15 Cr₹ 11,111/sq.ft.', '₹ 2.75 Cr₹ 12,222/sq.ft.', '₹ 3.6 Cr₹ 9,950/sq.ft.', '₹ 3.9 Cr₹ 14,444/sq.ft.', '₹ 3.5 Cr₹ 9,673/sq.ft.', '₹ 5.5 Cr₹ 12,173/sq.ft.', '₹ 3.01 Cr₹ 11,148/sq.ft.', '₹ 2.5 Cr₹ 11,363/sq.ft.', '₹ 1.95 Cr₹ 9,750/sq.ft.', '₹ 2.5 Cr₹ 9,259/sq.ft.', '₹ 3.11 Cr₹ 11,518/sq.ft.', '₹ 2.05 Cr₹ 10,250/sq.ft.', '₹ 2.7 Cr₹ 10,000/sq.ft.', '₹ 3.25 Cr₹ 12,037/sq.ft.', '₹ 3 Cr₹ 11,111/sq.ft.', '₹ 2.2 Cr₹ 11,369/sq.ft.', '₹ 2.75 Cr₹ 10,185/sq.ft.', '₹ 2.4 Cr₹ 12,396/sq.ft.', '₹ 4.15 Cr₹ 11,470/sq.ft.', '₹ 2.2 Cr₹ 11,369/sq.ft.', '₹ 3.75 Cr₹ 10,364/sq.ft.', '₹ 13 Cr₹ 26,848/sq.ft.', '₹ 3 Cr₹ 11,111/sq.ft.', '₹ 3.6 Cr₹ 9,950/sq.ft.', '₹ 3.85 Cr₹ 10,641/sq.ft.', '₹ 4 Cr₹ 11,111/sq.ft.', '₹ 2.4 Cr₹ 14,337/sq.ft.', '₹ 1.95 Cr₹ 10,077/sq.ft.', '₹ 2.05 Cr₹ 10,250/sq.ft.', '₹ 2 Cr₹ 10,336/sq.ft.', '₹ 3.5 Cr₹ 12,963/sq.ft.', '₹ 2.2 Cr₹ 11,000/sq.ft.', '₹ 2.7 Cr₹ 9,642/sq.ft.', '₹ 2.25 Cr₹ 11,628/sq.ft.', '₹ 1.95 Cr₹ 9,750/sq.ft.', '₹ 2.25 Cr₹ 12,500/sq.ft.', '₹ 2.9 Cr₹ 11,836/sq.ft.', '₹ 1.01 Cr₹ 3,128/sq.ft.', '₹ 1.05 Cr₹ 3,252/sq.ft.', '₹ 3.95 Cr₹ 10,918/sq.ft.', '₹ 1.98 Cr₹ 9,900/sq.ft.', '₹ 2.48 Cr₹ 9,185/sq.ft.', '₹ 2.85 Cr₹ 10,555/sq.ft.', '₹ 22 Cr₹ 81,481/sq.ft.', '₹ 32 Cr₹ 36,731/sq.ft.', '₹ 4.25 Cr₹ 6,538/sq.ft.', '₹ 1.55 Cr₹ 7,750/sq.ft.', '₹ 11.75 Cr₹ 26,007/sq.ft.', '₹ 17 Cr₹ 36,749/sq.ft.', '₹ 8.9 Cr₹ 28,709/sq.ft.', '₹ 2.2 Cr₹ 11,000/sq.ft.', '₹ 1.2 Cr₹ 40,000/sq.ft.', '₹ 1.18 Cr₹ 3,654/sq.ft.', '₹ 2.15 Cr₹ 3,995/sq.ft.', '₹ 3.5 Cr₹ 10,937/sq.ft.', '₹ 3.25 Cr₹ 11,607/sq.ft.', '₹ 1.99 Cr₹ 9,950/sq.ft.', '₹ 3.5 Cr₹ 10,802/sq.ft.', '₹ 2.3 Cr₹ 11,500/sq.ft.', '₹ 1.89 Cr₹ 10,216/sq.ft.', '₹ 2.5 Cr₹ 9,259/sq.ft.', '₹ 4.15 Cr₹ 11,470/sq.ft.', '₹ 1.55 Cr₹ 6,667/sq.ft.', '₹ 1.5 Cr₹ 6,610/sq.ft.', '₹ 1.02 Cr₹ 3,174/sq.ft.', '₹ 4.7 Cr₹ 9,643/sq.ft.', '₹ 2.85 Cr₹ 10,556/sq.ft.', '₹ 1.84 Cr₹ 9,945/sq.ft.', '₹ 1.83 Cr₹ 36,500/sq.ft.', '₹ 6.4 Cr₹ 51,530/sq.ft.', '₹ 1.3 Cr₹ 7,222/sq.ft.', '₹ 13.5 Cr₹ 50,000/sq.ft.', '₹ 3.15 Cr₹ 23,226/sq.ft.', '₹ 4.9 Cr₹ 12,250/sq.ft.', '₹ 5 Cr₹ 34,602/sq.ft.', '₹ 13.5 Cr₹ 51,370/sq.ft.', '₹ 17.57 Cr₹ 38,889/sq.ft.', '₹ 2.4 Cr₹ 12,435/sq.ft.', '₹ 1.85 Cr₹ 10,000/sq.ft.', '₹ 5.15 Cr₹ 11,398/sq.ft.', '₹ 2.2 Cr₹ 11,000/sq.ft.', '₹ 2.1 Cr₹ 10,500/sq.ft.', '₹ 2.75 Cr₹ 5,860/sq.ft.', '₹ 2.25 Cr₹ 12,195/sq.ft.', '₹ 6 Cr₹ 21,794/sq.ft.', '₹ 4.75 Cr₹ 29,321/sq.ft.', '₹ 6.75 Cr₹ 17,478/sq.ft.', '₹ 6.2 Cr₹ 54,674/sq.ft.', '₹ 47 L₹ 4,272/sq.ft.', '₹ 2.5 Cr₹ 11,363/sq.ft.', '₹ 2.28 Cr₹ 8,200/sq.ft.', '₹ 4.5 Cr₹ 15,000/sq.ft.', '₹ 2.39 Cr₹ 23,570/sq.ft.', '₹ 23 Cr₹ 25,005/sq.ft.', '₹ 6.15 Cr₹ 19,531/sq.ft.', '₹ 2.1 Cr₹ 14,583/sq.ft.', '₹ 1.5 Cr₹ 4,901/sq.ft.', '₹ 4.5 Cr₹ 20,454/sq.ft.', '₹ 85 L₹ 7,623/sq.ft.', '₹ 1.37 Cr₹ 7,564/sq.ft.', '₹ 12.5 Cr₹ 27,667/sq.ft.', '₹ 15.5 Cr₹ 37,037/sq.ft.', '₹ 26 Cr₹ 28,267/sq.ft.', '₹ 64 L₹ 4,571/sq.ft.', '₹ 1.7 Cr₹ 8,500/sq.ft.', '₹ 2.8 Cr₹ 8,750/sq.ft.', '₹ 10 Cr₹ 27,708/sq.ft.', '₹ 1.25 Cr₹ 17,866/sq.ft.', '₹ 13.59 Cr₹ 28,891/sq.ft.', '₹ 1.3 Cr₹ 17,333/sq.ft.', '₹ 2.5 Cr₹ 13,888/sq.ft.', '₹ 1.5 Cr₹ 6,666/sq.ft.', '₹ 2.85 Cr₹ 8,796/sq.ft.', '₹ 45 L₹ 4,381/sq.ft.', '₹ 82 L₹ 8,932/sq.ft.', '₹ 13.5 Cr₹ 29,880/sq.ft.', '₹ 5.25 Cr₹ 29,167/sq.ft.', '₹ 26 Cr₹ 28,267/sq.ft.', '₹ 13.5 Cr₹ 29,880/sq.ft.', '₹ 10.5 Cr₹ 29,022/sq.ft.', '₹ 8.5 Cr₹ 31,481/sq.ft.', '₹ 60 L₹ 6,666/sq.ft.', '₹ 45 L₹ 11,842/sq.ft.', '₹ 5.75 Cr₹ 5,990/sq.ft.', '₹ 25 L₹ 4,167/sq.ft.', '₹ 1.7 Cr₹ 12,583/sq.ft.', '₹ 21 Cr₹ 34,213/sq.ft.', '₹ 3.55 Cr₹ 26,296/sq.ft.', '₹ 1.2 Cr₹ 4,528/sq.ft.', '₹ 4.45 Cr₹ 24,972/sq.ft.', '₹ 2.5 Cr₹ 8,875/sq.ft.', '₹ 3.5 Cr₹ 16,666/sq.ft.', '₹ 1.55 Cr₹ 17,222/sq.ft.', '₹ 3.25 Cr₹ 15,476/sq.ft.', '₹ 81 L₹ 6,000/sq.ft.', '₹ 2.5 Cr₹ 15,625/sq.ft.', '₹ 5.45 Cr₹ 18,166/sq.ft.', '₹ 5.5 Cr₹ 16,483/sq.ft.', '₹ 1.58 Cr₹ 8,000/sq.ft.', '₹ 1.4 Cr₹ 11,111/sq.ft.', '₹ 1.3 Cr₹ 16,109/sq.ft.', '₹ 55 L₹ 4,504/sq.ft.', '₹ 3.2 Cr₹ 10,000/sq.ft.', '₹ 2.17 Cr₹ 10,850/sq.ft.', '₹ 25 L₹ 7,142/sq.ft.', '₹ 90 L₹ 5,769/sq.ft.', '₹ 2.9 Cr₹ 21,481/sq.ft.', '₹ 95 L₹ 5,856/sq.ft.', '₹ 1.45 Cr₹ 7,512/sq.ft.', '₹ 35 L₹ 4,645/sq.ft.', '₹ 46 L₹ 4,577/sq.ft.', '₹ 15.06 Cr₹ 33,333/sq.ft.', '₹ 2.75 Cr₹ 10,185/sq.ft.', '₹ 2.4 Cr₹ 12,000/sq.ft.', '₹ 3.3 Cr₹ 12,222/sq.ft.', '₹ 62 L₹ 5,414/sq.ft.', '₹ 20.5 Cr₹ 33,398/sq.ft.', '₹ 7.25 Cr₹ 32,094/sq.ft.']

In [32]:
for price in total_price:
    match = re.search(r'₹ (.*)', price)
    print(match.group(1))

1.01 Cr₹ 4,488/sq.ft.
1.7 Cr₹ 12,592/sq.ft.
1.17 Cr₹ 9,807/sq.ft.
3 Cr₹ 11,111/sq.ft.
6 Cr₹ 12,391/sq.ft.
4.5 Cr₹ 9,960/sq.ft.
6 Cr₹ 12,000/sq.ft.
3 Cr₹ 11,111/sq.ft.
5.35 Cr₹ 11,049/sq.ft.
4.9 Cr₹ 10,845/sq.ft.
5 Cr₹ 11,066/sq.ft.
3 Cr₹ 11,111/sq.ft.
3.1 Cr₹ 11,481/sq.ft.
5.8 Cr₹ 12,769/sq.ft.
5.25 Cr₹ 11,620/sq.ft.
4.25 Cr₹ 13,117/sq.ft.
3.01 Cr₹ 11,148/sq.ft.
2.9 Cr₹ 10,740/sq.ft.
5.15 Cr₹ 11,398/sq.ft.
4.75 Cr₹ 10,513/sq.ft.
3.12 Cr₹ 11,555/sq.ft.
4.95 Cr₹ 10,843/sq.ft.
4.5 Cr₹ 9,960/sq.ft.
4.8 Cr₹ 10,624/sq.ft.
4.9 Cr₹ 10,845/sq.ft.
4.8 Cr₹ 10,666/sq.ft.
5.25 Cr₹ 11,620/sq.ft.
6 Cr₹ 13,071/sq.ft.
3 Cr₹ 11,111/sq.ft.
2.1 Cr₹ 10,500/sq.ft.
2.05 Cr₹ 10,250/sq.ft.
4.3 Cr₹ 11,885/sq.ft.
2.15 Cr₹ 11,944/sq.ft.
2.15 Cr₹ 11,111/sq.ft.
2.75 Cr₹ 12,222/sq.ft.
3.6 Cr₹ 9,950/sq.ft.
3.9 Cr₹ 14,444/sq.ft.
3.5 Cr₹ 9,673/sq.ft.
5.5 Cr₹ 12,173/sq.ft.
3.01 Cr₹ 11,148/sq.ft.
2.5 Cr₹ 11,363/sq.ft.
1.95 Cr₹ 9,750/sq.ft.
2.5 Cr₹ 9,259/sq.ft.
3.11 Cr₹ 11,518/sq.ft.
2.05 Cr₹ 10,250/sq.ft.
2.7 Cr₹ 10,000/sq.ft.
3.25 Cr₹ 12,037/sq.ft.
3 Cr₹ 11,111/sq.ft.
2.2 Cr₹ 11,369/sq.ft.
2.75 Cr₹ 10,185/sq.ft.
2.4 Cr₹ 12,396/sq.ft.
4.15 Cr₹ 11,470/sq.ft.
2.2 Cr₹ 11,369/sq.ft.
3.75 Cr₹ 10,364/sq.ft.
13 Cr₹ 26,848/sq.ft.
3 Cr₹ 11,111/sq.ft.
3.6 Cr₹ 9,950/sq.ft.
3.85 Cr₹ 10,641/sq.ft.
4 Cr₹ 11,111/sq.ft.
2.4 Cr₹ 14,337/sq.ft.
1.95 Cr₹ 10,077/sq.ft.
2.05 Cr₹ 10,250/sq.ft.
2 Cr₹ 10,336/sq.ft.
3.5 Cr₹ 12,963/sq.ft.
2.2 Cr₹ 11,000/sq.ft.
2.7 Cr₹ 9,642/sq.ft.
2.25 Cr₹ 11,628/sq.ft.
1.95 Cr₹ 9,750/sq.ft.
2.25 Cr₹ 12,500/sq.ft.
2.9 Cr₹ 11,836/sq.ft.
1.01 Cr₹ 3,128/sq.ft.
1.05 Cr₹ 3,252/sq.ft.
3.95 Cr₹ 10,918/sq.ft.
1.98 Cr₹ 9,900/sq.ft.
2.48 Cr₹ 9,185/sq.ft.
2.85 Cr₹ 10,555/sq.ft.
22 Cr₹ 81,481/sq.ft.
32 Cr₹ 36,731/sq.ft.
4.25 Cr₹ 6,538/sq.ft.
1.55 Cr₹ 7,750/sq.ft.
11.75 Cr₹ 26,007/sq.ft.
17 Cr₹ 36,749/sq.ft.
8.9 Cr₹ 28,709/sq.ft.
2.2 Cr₹ 11,000/sq.ft.
1.2 Cr₹ 40,000/sq.ft.
1.18 Cr₹ 3,654/sq.ft.
2.15 Cr₹ 3,995/sq.ft.
3.5 Cr₹ 10,937/sq.ft.
3.25 Cr₹ 11,607/sq.ft.
1.99 Cr₹ 9,950/sq.ft.
3.5 Cr₹ 10,802/sq.ft.
2.3 Cr₹ 11,500/sq.ft.
1.89 Cr₹ 10,216/sq.ft.
2.5 Cr₹ 9,259/sq.ft.
4.15 Cr₹ 11,470/sq.ft.
1.55 Cr₹ 6,667/sq.ft.
1.5 Cr₹ 6,610/sq.ft.
1.02 Cr₹ 3,174/sq.ft.
4.7 Cr₹ 9,643/sq.ft.
2.85 Cr₹ 10,556/sq.ft.
1.84 Cr₹ 9,945/sq.ft.
1.83 Cr₹ 36,500/sq.ft.
6.4 Cr₹ 51,530/sq.ft.
1.3 Cr₹ 7,222/sq.ft.
13.5 Cr₹ 50,000/sq.ft.
3.15 Cr₹ 23,226/sq.ft.
4.9 Cr₹ 12,250/sq.ft.
5 Cr₹ 34,602/sq.ft.
13.5 Cr₹ 51,370/sq.ft.
17.57 Cr₹ 38,889/sq.ft.
2.4 Cr₹ 12,435/sq.ft.
1.85 Cr₹ 10,000/sq.ft.
5.15 Cr₹ 11,398/sq.ft.
2.2 Cr₹ 11,000/sq.ft.
2.1 Cr₹ 10,500/sq.ft.
2.75 Cr₹ 5,860/sq.ft.
2.25 Cr₹ 12,195/sq.ft.
6 Cr₹ 21,794/sq.ft.
4.75 Cr₹ 29,321/sq.ft.
6.75 Cr₹ 17,478/sq.ft.
6.2 Cr₹ 54,674/sq.ft.
47 L₹ 4,272/sq.ft.
2.5 Cr₹ 11,363/sq.ft.
2.28 Cr₹ 8,200/sq.ft.
4.5 Cr₹ 15,000/sq.ft.
2.39 Cr₹ 23,570/sq.ft.
23 Cr₹ 25,005/sq.ft.
6.15 Cr₹ 19,531/sq.ft.
2.1 Cr₹ 14,583/sq.ft.
1.5 Cr₹ 4,901/sq.ft.
4.5 Cr₹ 20,454/sq.ft.
85 L₹ 7,623/sq.ft.
1.37 Cr₹ 7,564/sq.ft.
12.5 Cr₹ 27,667/sq.ft.
15.5 Cr₹ 37,037/sq.ft.
26 Cr₹ 28,267/sq.ft.
64 L₹ 4,571/sq.ft.
1.7 Cr₹ 8,500/sq.ft.
2.8 Cr₹ 8,750/sq.ft.
10 Cr₹ 27,708/sq.ft.
1.25 Cr₹ 17,866/sq.ft.
13.59 Cr₹ 28,891/sq.ft.
1.3 Cr₹ 17,333/sq.ft.
2.5 Cr₹ 13,888/sq.ft.
1.5 Cr₹ 6,666/sq.ft.
2.85 Cr₹ 8,796/sq.ft.
45 L₹ 4,381/sq.ft.
82 L₹ 8,932/sq.ft.
13.5 Cr₹ 29,880/sq.ft.
5.25 Cr₹ 29,167/sq.ft.
26 Cr₹ 28,267/sq.ft.
13.5 Cr₹ 29,880/sq.ft.
10.5 Cr₹ 29,022/sq.ft.
8.5 Cr₹ 31,481/sq.ft.
60 L₹ 6,666/sq.ft.
45 L₹ 11,842/sq.ft.
5.75 Cr₹ 5,990/sq.ft.
25 L₹ 4,167/sq.ft.
1.7 Cr₹ 12,583/sq.ft.
21 Cr₹ 34,213/sq.ft.
3.55 Cr₹ 26,296/sq.ft.
1.2 Cr₹ 4,528/sq.ft.
4.45 Cr₹ 24,972/sq.ft.
2.5 Cr₹ 8,875/sq.ft.
3.5 Cr₹ 16,666/sq.ft.
1.55 Cr₹ 17,222/sq.ft.
3.25 Cr₹ 15,476/sq.ft.
81 L₹ 6,000/sq.ft.
2.5 Cr₹ 15,625/sq.ft.
5.45 Cr₹ 18,166/sq.ft.
5.5 Cr₹ 16,483/sq.ft.
1.58 Cr₹ 8,000/sq.ft.
1.4 Cr₹ 11,111/sq.ft.
1.3 Cr₹ 16,109/sq.ft.
55 L₹ 4,504/sq.ft.
3.2 Cr₹ 10,000/sq.ft.
2.17 Cr₹ 10,850/sq.ft.
25 L₹ 7,142/sq.ft.
90 L₹ 5,769/sq.ft.
2.9 Cr₹ 21,481/sq.ft.
95 L₹ 5,856/sq.ft.
1.45 Cr₹ 7,512/sq.ft.
35 L₹ 4,645/sq.ft.
46 L₹ 4,577/sq.ft.
15.06 Cr₹ 33,333/sq.ft.
2.75 Cr₹ 10,185/sq.ft.
2.4 Cr₹ 12,000/sq.ft.
3.3 Cr₹ 12,222/sq.ft.
62 L₹ 5,414/sq.ft.
20.5 Cr₹ 33,398/sq.ft.
7.25 Cr₹ 32,094/sq.ft.

In [33]:
for price in total_price:
    matches = re.findall(r'₹\s*\d+[.,]?\d*', price)
    print(matches)

['₹ 1.01', '₹ 4,488']
['₹ 1.7', '₹ 12,592']
['₹ 1.17', '₹ 9,807']
['₹ 3', '₹ 11,111']
['₹ 6', '₹ 12,391']
['₹ 4.5', '₹ 9,960']
['₹ 6', '₹ 12,000']
['₹ 3', '₹ 11,111']
['₹ 5.35', '₹ 11,049']
['₹ 4.9', '₹ 10,845']
['₹ 5', '₹ 11,066']
['₹ 3', '₹ 11,111']
['₹ 3.1', '₹ 11,481']
['₹ 5.8', '₹ 12,769']
['₹ 5.25', '₹ 11,620']
['₹ 4.25', '₹ 13,117']
['₹ 3.01', '₹ 11,148']
['₹ 2.9', '₹ 10,740']
['₹ 5.15', '₹ 11,398']
['₹ 4.75', '₹ 10,513']
['₹ 3.12', '₹ 11,555']
['₹ 4.95', '₹ 10,843']
['₹ 4.5', '₹ 9,960']
['₹ 4.8', '₹ 10,624']
['₹ 4.9', '₹ 10,845']
['₹ 4.8', '₹ 10,666']
['₹ 5.25', '₹ 11,620']
['₹ 6', '₹ 13,071']
['₹ 3', '₹ 11,111']
['₹ 2.1', '₹ 10,500']
['₹ 2.05', '₹ 10,250']
['₹ 4.3', '₹ 11,885']
['₹ 2.15', '₹ 11,944']
['₹ 2.15', '₹ 11,111']
['₹ 2.75', '₹ 12,222']
['₹ 3.6', '₹ 9,950']
['₹ 3.9', '₹ 14,444']
['₹ 3.5', '₹ 9,673']
['₹ 5.5', '₹ 12,173']
['₹ 3.01', '₹ 11,148']
['₹ 2.5', '₹ 11,363']
['₹ 1.95', '₹ 9,750']
['₹ 2.5', '₹ 9,259']
['₹ 3.11', '₹ 11,518']
['₹ 2.05', '₹ 10,250']
['₹ 2.7', '₹ 10,000']
['₹ 3.25', '₹ 12,037']
['₹ 3', '₹ 11,111']
['₹ 2.2', '₹ 11,369']
['₹ 2.75', '₹ 10,185']
['₹ 2.4', '₹ 12,396']
['₹ 4.15', '₹ 11,470']
['₹ 2.2', '₹ 11,369']
['₹ 3.75', '₹ 10,364']
['₹ 13', '₹ 26,848']
['₹ 3', '₹ 11,111']
['₹ 3.6', '₹ 9,950']
['₹ 3.85', '₹ 10,641']
['₹ 4', '₹ 11,111']
['₹ 2.4', '₹ 14,337']
['₹ 1.95', '₹ 10,077']
['₹ 2.05', '₹ 10,250']
['₹ 2', '₹ 10,336']
['₹ 3.5', '₹ 12,963']
['₹ 2.2', '₹ 11,000']
['₹ 2.7', '₹ 9,642']
['₹ 2.25', '₹ 11,628']
['₹ 1.95', '₹ 9,750']
['₹ 2.25', '₹ 12,500']
['₹ 2.9', '₹ 11,836']
['₹ 1.01', '₹ 3,128']
['₹ 1.05', '₹ 3,252']
['₹ 3.95', '₹ 10,918']
['₹ 1.98', '₹ 9,900']
['₹ 2.48', '₹ 9,185']
['₹ 2.85', '₹ 10,555']
['₹ 22', '₹ 81,481']
['₹ 32', '₹ 36,731']
['₹ 4.25', '₹ 6,538']
['₹ 1.55', '₹ 7,750']
['₹ 11.75', '₹ 26,007']
['₹ 17', '₹ 36,749']
['₹ 8.9', '₹ 28,709']
['₹ 2.2', '₹ 11,000']
['₹ 1.2', '₹ 40,000']
['₹ 1.18', '₹ 3,654']
['₹ 2.15', '₹ 3,995']
['₹ 3.5', '₹ 10,937']
['₹ 3.25', '₹ 11,607']
['₹ 1.99', '₹ 9,950']
['₹ 3.5', '₹ 10,802']
['₹ 2.3', '₹ 11,500']
['₹ 1.89', '₹ 10,216']
['₹ 2.5', '₹ 9,259']
['₹ 4.15', '₹ 11,470']
['₹ 1.55', '₹ 6,667']
['₹ 1.5', '₹ 6,610']
['₹ 1.02', '₹ 3,174']
['₹ 4.7', '₹ 9,643']
['₹ 2.85', '₹ 10,556']
['₹ 1.84', '₹ 9,945']
['₹ 1.83', '₹ 36,500']
['₹ 6.4', '₹ 51,530']
['₹ 1.3', '₹ 7,222']
['₹ 13.5', '₹ 50,000']
['₹ 3.15', '₹ 23,226']
['₹ 4.9', '₹ 12,250']
['₹ 5', '₹ 34,602']
['₹ 13.5', '₹ 51,370']
['₹ 17.57', '₹ 38,889']
['₹ 2.4', '₹ 12,435']
['₹ 1.85', '₹ 10,000']
['₹ 5.15', '₹ 11,398']
['₹ 2.2', '₹ 11,000']
['₹ 2.1', '₹ 10,500']
['₹ 2.75', '₹ 5,860']
['₹ 2.25', '₹ 12,195']
['₹ 6', '₹ 21,794']
['₹ 4.75', '₹ 29,321']
['₹ 6.75', '₹ 17,478']
['₹ 6.2', '₹ 54,674']
['₹ 47', '₹ 4,272']
['₹ 2.5', '₹ 11,363']
['₹ 2.28', '₹ 8,200']
['₹ 4.5', '₹ 15,000']
['₹ 2.39', '₹ 23,570']
['₹ 23', '₹ 25,005']
['₹ 6.15', '₹ 19,531']
['₹ 2.1', '₹ 14,583']
['₹ 1.5', '₹ 4,901']
['₹ 4.5', '₹ 20,454']
['₹ 85', '₹ 7,623']
['₹ 1.37', '₹ 7,564']
['₹ 12.5', '₹ 27,667']
['₹ 15.5', '₹ 37,037']
['₹ 26', '₹ 28,267']
['₹ 64', '₹ 4,571']
['₹ 1.7', '₹ 8,500']
['₹ 2.8', '₹ 8,750']
['₹ 10', '₹ 27,708']
['₹ 1.25', '₹ 17,866']
['₹ 13.59', '₹ 28,891']
['₹ 1.3', '₹ 17,333']
['₹ 2.5', '₹ 13,888']
['₹ 1.5', '₹ 6,666']
['₹ 2.85', '₹ 8,796']
['₹ 45', '₹ 4,381']
['₹ 82', '₹ 8,932']
['₹ 13.5', '₹ 29,880']
['₹ 5.25', '₹ 29,167']
['₹ 26', '₹ 28,267']
['₹ 13.5', '₹ 29,880']
['₹ 10.5', '₹ 29,022']
['₹ 8.5', '₹ 31,481']
['₹ 60', '₹ 6,666']
['₹ 45', '₹ 11,842']
['₹ 5.75', '₹ 5,990']
['₹ 25', '₹ 4,167']
['₹ 1.7', '₹ 12,583']
['₹ 21', '₹ 34,213']
['₹ 3.55', '₹ 26,296']
['₹ 1.2', '₹ 4,528']
['₹ 4.45', '₹ 24,972']
['₹ 2.5', '₹ 8,875']
['₹ 3.5', '₹ 16,666']
['₹ 1.55', '₹ 17,222']
['₹ 3.25', '₹ 15,476']
['₹ 81', '₹ 6,000']
['₹ 2.5', '₹ 15,625']
['₹ 5.45', '₹ 18,166']
['₹ 5.5', '₹ 16,483']
['₹ 1.58', '₹ 8,000']
['₹ 1.4', '₹ 11,111']
['₹ 1.3', '₹ 16,109']
['₹ 55', '₹ 4,504']
['₹ 3.2', '₹ 10,000']
['₹ 2.17', '₹ 10,850']
['₹ 25', '₹ 7,142']
['₹ 90', '₹ 5,769']
['₹ 2.9', '₹ 21,481']
['₹ 95', '₹ 5,856']
['₹ 1.45', '₹ 7,512']
['₹ 35', '₹ 4,645']
['₹ 46', '₹ 4,577']
['₹ 15.06', '₹ 33,333']
['₹ 2.75', '₹ 10,185']
['₹ 2.4', '₹ 12,000']
['₹ 3.3', '₹ 12,222']
['₹ 62', '₹ 5,414']
['₹ 20.5', '₹ 33,398']
['₹ 7.25', '₹ 32,094']

In [34]:
matches = []

for price in total_price:
    matches.extend(re.findall(r'₹\s*\d+(?:[,.]\d+)*', price))

print(matches)

['₹ 1.01', '₹ 4,488', '₹ 1.7', '₹ 12,592', '₹ 1.17', '₹ 9,807', '₹ 3', '₹ 11,111', '₹ 6', '₹ 12,391', '₹ 4.5', '₹ 9,960', '₹ 6', '₹ 12,000', '₹ 3', '₹ 11,111', '₹ 5.35', '₹ 11,049', '₹ 4.9', '₹ 10,845', '₹ 5', '₹ 11,066', '₹ 3', '₹ 11,111', '₹ 3.1', '₹ 11,481', '₹ 5.8', '₹ 12,769', '₹ 5.25', '₹ 11,620', '₹ 4.25', '₹ 13,117', '₹ 3.01', '₹ 11,148', '₹ 2.9', '₹ 10,740', '₹ 5.15', '₹ 11,398', '₹ 4.75', '₹ 10,513', '₹ 3.12', '₹ 11,555', '₹ 4.95', '₹ 10,843', '₹ 4.5', '₹ 9,960', '₹ 4.8', '₹ 10,624', '₹ 4.9', '₹ 10,845', '₹ 4.8', '₹ 10,666', '₹ 5.25', '₹ 11,620', '₹ 6', '₹ 13,071', '₹ 3', '₹ 11,111', '₹ 2.1', '₹ 10,500', '₹ 2.05', '₹ 10,250', '₹ 4.3', '₹ 11,885', '₹ 2.15', '₹ 11,944', '₹ 2.15', '₹ 11,111', '₹ 2.75', '₹ 12,222', '₹ 3.6', '₹ 9,950', '₹ 3.9', '₹ 14,444', '₹ 3.5', '₹ 9,673', '₹ 5.5', '₹ 12,173', '₹ 3.01', '₹ 11,148', '₹ 2.5', '₹ 11,363', '₹ 1.95', '₹ 9,750', '₹ 2.5', '₹ 9,259', '₹ 3.11', '₹ 11,518', '₹ 2.05', '₹ 10,250', '₹ 2.7', '₹ 10,000', '₹ 3.25', '₹ 12,037', '₹ 3', '₹ 11,111', '₹ 2.2', '₹ 11,369', '₹ 2.75', '₹ 10,185', '₹ 2.4', '₹ 12,396', '₹ 4.15', '₹ 11,470', '₹ 2.2', '₹ 11,369', '₹ 3.75', '₹ 10,364', '₹ 13', '₹ 26,848', '₹ 3', '₹ 11,111', '₹ 3.6', '₹ 9,950', '₹ 3.85', '₹ 10,641', '₹ 4', '₹ 11,111', '₹ 2.4', '₹ 14,337', '₹ 1.95', '₹ 10,077', '₹ 2.05', '₹ 10,250', '₹ 2', '₹ 10,336', '₹ 3.5', '₹ 12,963', '₹ 2.2', '₹ 11,000', '₹ 2.7', '₹ 9,642', '₹ 2.25', '₹ 11,628', '₹ 1.95', '₹ 9,750', '₹ 2.25', '₹ 12,500', '₹ 2.9', '₹ 11,836', '₹ 1.01', '₹ 3,128', '₹ 1.05', '₹ 3,252', '₹ 3.95', '₹ 10,918', '₹ 1.98', '₹ 9,900', '₹ 2.48', '₹ 9,185', '₹ 2.85', '₹ 10,555', '₹ 22', '₹ 81,481', '₹ 32', '₹ 36,731', '₹ 4.25', '₹ 6,538', '₹ 1.55', '₹ 7,750', '₹ 11.75', '₹ 26,007', '₹ 17', '₹ 36,749', '₹ 8.9', '₹ 28,709', '₹ 2.2', '₹ 11,000', '₹ 1.2', '₹ 40,000', '₹ 1.18', '₹ 3,654', '₹ 2.15', '₹ 3,995', '₹ 3.5', '₹ 10,937', '₹ 3.25', '₹ 11,607', '₹ 1.99', '₹ 9,950', '₹ 3.5', '₹ 10,802', '₹ 2.3', '₹ 11,500', '₹ 1.89', '₹ 10,216', '₹ 2.5', '₹ 9,259', '₹ 4.15', '₹ 11,470', '₹ 1.55', '₹ 6,667', '₹ 1.5', '₹ 6,610', '₹ 1.02', '₹ 3,174', '₹ 4.7', '₹ 9,643', '₹ 2.85', '₹ 10,556', '₹ 1.84', '₹ 9,945', '₹ 1.83', '₹ 36,500', '₹ 6.4', '₹ 51,530', '₹ 1.3', '₹ 7,222', '₹ 13.5', '₹ 50,000', '₹ 3.15', '₹ 23,226', '₹ 4.9', '₹ 12,250', '₹ 5', '₹ 34,602', '₹ 13.5', '₹ 51,370', '₹ 17.57', '₹ 38,889', '₹ 2.4', '₹ 12,435', '₹ 1.85', '₹ 10,000', '₹ 5.15', '₹ 11,398', '₹ 2.2', '₹ 11,000', '₹ 2.1', '₹ 10,500', '₹ 2.75', '₹ 5,860', '₹ 2.25', '₹ 12,195', '₹ 6', '₹ 21,794', '₹ 4.75', '₹ 29,321', '₹ 6.75', '₹ 17,478', '₹ 6.2', '₹ 54,674', '₹ 47', '₹ 4,272', '₹ 2.5', '₹ 11,363', '₹ 2.28', '₹ 8,200', '₹ 4.5', '₹ 15,000', '₹ 2.39', '₹ 23,570', '₹ 23', '₹ 25,005', '₹ 6.15', '₹ 19,531', '₹ 2.1', '₹ 14,583', '₹ 1.5', '₹ 4,901', '₹ 4.5', '₹ 20,454', '₹ 85', '₹ 7,623', '₹ 1.37', '₹ 7,564', '₹ 12.5', '₹ 27,667', '₹ 15.5', '₹ 37,037', '₹ 26', '₹ 28,267', '₹ 64', '₹ 4,571', '₹ 1.7', '₹ 8,500', '₹ 2.8', '₹ 8,750', '₹ 10', '₹ 27,708', '₹ 1.25', '₹ 17,866', '₹ 13.59', '₹ 28,891', '₹ 1.3', '₹ 17,333', '₹ 2.5', '₹ 13,888', '₹ 1.5', '₹ 6,666', '₹ 2.85', '₹ 8,796', '₹ 45', '₹ 4,381', '₹ 82', '₹ 8,932', '₹ 13.5', '₹ 29,880', '₹ 5.25', '₹ 29,167', '₹ 26', '₹ 28,267', '₹ 13.5', '₹ 29,880', '₹ 10.5', '₹ 29,022', '₹ 8.5', '₹ 31,481', '₹ 60', '₹ 6,666', '₹ 45', '₹ 11,842', '₹ 5.75', '₹ 5,990', '₹ 25', '₹ 4,167', '₹ 1.7', '₹ 12,583', '₹ 21', '₹ 34,213', '₹ 3.55', '₹ 26,296', '₹ 1.2', '₹ 4,528', '₹ 4.45', '₹ 24,972', '₹ 2.5', '₹ 8,875', '₹ 3.5', '₹ 16,666', '₹ 1.55', '₹ 17,222', '₹ 3.25', '₹ 15,476', '₹ 81', '₹ 6,000', '₹ 2.5', '₹ 15,625', '₹ 5.45', '₹ 18,166', '₹ 5.5', '₹ 16,483', '₹ 1.58', '₹ 8,000', '₹ 1.4', '₹ 11,111', '₹ 1.3', '₹ 16,109', '₹ 55', '₹ 4,504', '₹ 3.2', '₹ 10,000', '₹ 2.17', '₹ 10,850', '₹ 25', '₹ 7,142', '₹ 90', '₹ 5,769', '₹ 2.9', '₹ 21,481', '₹ 95', '₹ 5,856', '₹ 1.45', '₹ 7,512', '₹ 35', '₹ 4,645', '₹ 46', '₹ 4,577', '₹ 15.06', '₹ 33,333', '₹ 2.75', '₹ 10,185', '₹ 2.4', '₹ 12,000', '₹ 3.3', '₹ 12,222', '₹ 62', '₹ 5,414', '₹ 20.5', '₹ 33,398', '₹ 7.25', '₹ 32,094']

In [35]:
new_matches = matches[0::2]
print(new_matches)

['₹ 1.01', '₹ 1.7', '₹ 1.17', '₹ 3', '₹ 6', '₹ 4.5', '₹ 6', '₹ 3', '₹ 5.35', '₹ 4.9', '₹ 5', '₹ 3', '₹ 3.1', '₹ 5.8', '₹ 5.25', '₹ 4.25', '₹ 3.01', '₹ 2.9', '₹ 5.15', '₹ 4.75', '₹ 3.12', '₹ 4.95', '₹ 4.5', '₹ 4.8', '₹ 4.9', '₹ 4.8', '₹ 5.25', '₹ 6', '₹ 3', '₹ 2.1', '₹ 2.05', '₹ 4.3', '₹ 2.15', '₹ 2.15', '₹ 2.75', '₹ 3.6', '₹ 3.9', '₹ 3.5', '₹ 5.5', '₹ 3.01', '₹ 2.5', '₹ 1.95', '₹ 2.5', '₹ 3.11', '₹ 2.05', '₹ 2.7', '₹ 3.25', '₹ 3', '₹ 2.2', '₹ 2.75', '₹ 2.4', '₹ 4.15', '₹ 2.2', '₹ 3.75', '₹ 13', '₹ 3', '₹ 3.6', '₹ 3.85', '₹ 4', '₹ 2.4', '₹ 1.95', '₹ 2.05', '₹ 2', '₹ 3.5', '₹ 2.2', '₹ 2.7', '₹ 2.25', '₹ 1.95', '₹ 2.25', '₹ 2.9', '₹ 1.01', '₹ 1.05', '₹ 3.95', '₹ 1.98', '₹ 2.48', '₹ 2.85', '₹ 22', '₹ 32', '₹ 4.25', '₹ 1.55', '₹ 11.75', '₹ 17', '₹ 8.9', '₹ 2.2', '₹ 1.2', '₹ 1.18', '₹ 2.15', '₹ 3.5', '₹ 3.25', '₹ 1.99', '₹ 3.5', '₹ 2.3', '₹ 1.89', '₹ 2.5', '₹ 4.15', '₹ 1.55', '₹ 1.5', '₹ 1.02', '₹ 4.7', '₹ 2.85', '₹ 1.84', '₹ 1.83', '₹ 6.4', '₹ 1.3', '₹ 13.5', '₹ 3.15', '₹ 4.9', '₹ 5', '₹ 13.5', '₹ 17.57', '₹ 2.4', '₹ 1.85', '₹ 5.15', '₹ 2.2', '₹ 2.1', '₹ 2.75', '₹ 2.25', '₹ 6', '₹ 4.75', '₹ 6.75', '₹ 6.2', '₹ 47', '₹ 2.5', '₹ 2.28', '₹ 4.5', '₹ 2.39', '₹ 23', '₹ 6.15', '₹ 2.1', '₹ 1.5', '₹ 4.5', '₹ 85', '₹ 1.37', '₹ 12.5', '₹ 15.5', '₹ 26', '₹ 64', '₹ 1.7', '₹ 2.8', '₹ 10', '₹ 1.25', '₹ 13.59', '₹ 1.3', '₹ 2.5', '₹ 1.5', '₹ 2.85', '₹ 45', '₹ 82', '₹ 13.5', '₹ 5.25', '₹ 26', '₹ 13.5', '₹ 10.5', '₹ 8.5', '₹ 60', '₹ 45', '₹ 5.75', '₹ 25', '₹ 1.7', '₹ 21', '₹ 3.55', '₹ 1.2', '₹ 4.45', '₹ 2.5', '₹ 3.5', '₹ 1.55', '₹ 3.25', '₹ 81', '₹ 2.5', '₹ 5.45', '₹ 5.5', '₹ 1.58', '₹ 1.4', '₹ 1.3', '₹ 55', '₹ 3.2', '₹ 2.17', '₹ 25', '₹ 90', '₹ 2.9', '₹ 95', '₹ 1.45', '₹ 35', '₹ 46', '₹ 15.06', '₹ 2.75', '₹ 2.4', '₹ 3.3', '₹ 62', '₹ 20.5', '₹ 7.25']

In [36]:
new_matches = [str(x.replace("₹ ","")) if type(x) == str else x for x in new_matches]
print(new_matches)

['1.01', '1.7', '1.17', '3', '6', '4.5', '6', '3', '5.35', '4.9', '5', '3', '3.1', '5.8', '5.25', '4.25', '3.01', '2.9', '5.15', '4.75', '3.12', '4.95', '4.5', '4.8', '4.9', '4.8', '5.25', '6', '3', '2.1', '2.05', '4.3', '2.15', '2.15', '2.75', '3.6', '3.9', '3.5', '5.5', '3.01', '2.5', '1.95', '2.5', '3.11', '2.05', '2.7', '3.25', '3', '2.2', '2.75', '2.4', '4.15', '2.2', '3.75', '13', '3', '3.6', '3.85', '4', '2.4', '1.95', '2.05', '2', '3.5', '2.2', '2.7', '2.25', '1.95', '2.25', '2.9', '1.01', '1.05', '3.95', '1.98', '2.48', '2.85', '22', '32', '4.25', '1.55', '11.75', '17', '8.9', '2.2', '1.2', '1.18', '2.15', '3.5', '3.25', '1.99', '3.5', '2.3', '1.89', '2.5', '4.15', '1.55', '1.5', '1.02', '4.7', '2.85', '1.84', '1.83', '6.4', '1.3', '13.5', '3.15', '4.9', '5', '13.5', '17.57', '2.4', '1.85', '5.15', '2.2', '2.1', '2.75', '2.25', '6', '4.75', '6.75', '6.2', '47', '2.5', '2.28', '4.5', '2.39', '23', '6.15', '2.1', '1.5', '4.5', '85', '1.37', '12.5', '15.5', '26', '64', '1.7', '2.8', '10', '1.25', '13.59', '1.3', '2.5', '1.5', '2.85', '45', '82', '13.5', '5.25', '26', '13.5', '10.5', '8.5', '60', '45', '5.75', '25', '1.7', '21', '3.55', '1.2', '4.45', '2.5', '3.5', '1.55', '3.25', '81', '2.5', '5.45', '5.5', '1.58', '1.4', '1.3', '55', '3.2', '2.17', '25', '90', '2.9', '95', '1.45', '35', '46', '15.06', '2.75', '2.4', '3.3', '62', '20.5', '7.25']

In [37]:
for i, val in enumerate(new_matches):
    if ',' in val:
        # keep as it is
        continue
    elif '.' in val:
        if val.index('.') == 1:
            new_matches[i] = float(val) * 10000000
        else:
            new_matches[i] = float(val) * 100000
    elif len(val) == 2:
        new_matches[i] = int(val) * 100000
    else:
        new_matches[i] = int(val) * 10000000

In [38]:
new_matches

[10100000.0,
 17000000.0,
 11700000.0,
 30000000,
 60000000,
 45000000.0,
 60000000,
 30000000,
 53500000.0,
 49000000.0,
 50000000,
 30000000,
 31000000.0,
 58000000.0,
 52500000.0,
 42500000.0,
 30099999.999999996,
 29000000.0,
 51500000.0,
 47500000.0,
 31200000.0,
 49500000.0,
 45000000.0,
 48000000.0,
 49000000.0,
 48000000.0,
 52500000.0,
 60000000,
 30000000,
 21000000.0,
 20500000.0,
 43000000.0,
 21500000.0,
 21500000.0,
 27500000.0,
 36000000.0,
 39000000.0,
 35000000.0,
 55000000.0,
 30099999.999999996,
 25000000.0,
 19500000.0,
 25000000.0,
 31100000.0,
 20500000.0,
 27000000.0,
 32500000.0,
 30000000,
 22000000.0,
 27500000.0,
 24000000.0,
 41500000.0,
 22000000.0,
 37500000.0,
 1300000,
 30000000,
 36000000.0,
 38500000.0,
 40000000,
 24000000.0,
 19500000.0,
 20500000.0,
 20000000,
 35000000.0,
 22000000.0,
 27000000.0,
 22500000.0,
 19500000.0,
 22500000.0,
 29000000.0,
 10100000.0,
 10500000.0,
 39500000.0,
 19800000.0,
 24800000.0,
 28500000.0,
 2200000,
 3200000,
 42500000.0,
 15500000.0,
 1175000.0,
 1700000,
 89000000.0,
 22000000.0,
 12000000.0,
 11800000.0,
 21500000.0,
 35000000.0,
 32500000.0,
 19900000.0,
 35000000.0,
 23000000.0,
 18900000.0,
 25000000.0,
 41500000.0,
 15500000.0,
 15000000.0,
 10200000.0,
 47000000.0,
 28500000.0,
 18400000.0,
 18300000.0,
 64000000.0,
 13000000.0,
 1350000.0,
 31500000.0,
 49000000.0,
 50000000,
 1350000.0,
 1757000.0,
 24000000.0,
 18500000.0,
 51500000.0,
 22000000.0,
 21000000.0,
 27500000.0,
 22500000.0,
 60000000,
 47500000.0,
 67500000.0,
 62000000.0,
 4700000,
 25000000.0,
 22799999.999999996,
 45000000.0,
 23900000.0,
 2300000,
 61500000.0,
 21000000.0,
 15000000.0,
 45000000.0,
 8500000,
 13700000.000000002,
 1250000.0,
 1550000.0,
 2600000,
 6400000,
 17000000.0,
 28000000.0,
 1000000,
 12500000.0,
 1359000.0,
 13000000.0,
 25000000.0,
 15000000.0,
 28500000.0,
 4500000,
 8200000,
 1350000.0,
 52500000.0,
 2600000,
 1350000.0,
 1050000.0,
 85000000.0,
 6000000,
 4500000,
 57500000.0,
 2500000,
 17000000.0,
 2100000,
 35500000.0,
 12000000.0,
 44500000.0,
 25000000.0,
 35000000.0,
 15500000.0,
 32500000.0,
 8100000,
 25000000.0,
 54500000.0,
 55000000.0,
 15800000.0,
 14000000.0,
 13000000.0,
 5500000,
 32000000.0,
 21700000.0,
 2500000,
 9000000,
 29000000.0,
 9500000,
 14500000.0,
 3500000,
 4600000,
 1506000.0,
 27500000.0,
 24000000.0,
 33000000.0,
 6200000,
 2050000.0,
 72500000.0]

In [39]:
len(new_matches)

191

In [40]:
for i, val in enumerate(new_matches):
    if isinstance(val, str):
        val = val.replace(',','') # remove the comma from the string
    new_matches[i] = int(val) # convert to integer

In [41]:
new_matches

[10100000,
 17000000,
 11700000,
 30000000,
 60000000,
 45000000,
 60000000,
 30000000,
 53500000,
 49000000,
 50000000,
 30000000,
 31000000,
 58000000,
 52500000,
 42500000,
 30099999,
 29000000,
 51500000,
 47500000,
 31200000,
 49500000,
 45000000,
 48000000,
 49000000,
 48000000,
 52500000,
 60000000,
 30000000,
 21000000,
 20500000,
 43000000,
 21500000,
 21500000,
 27500000,
 36000000,
 39000000,
 35000000,
 55000000,
 30099999,
 25000000,
 19500000,
 25000000,
 31100000,
 20500000,
 27000000,
 32500000,
 30000000,
 22000000,
 27500000,
 24000000,
 41500000,
 22000000,
 37500000,
 1300000,
 30000000,
 36000000,
 38500000,
 40000000,
 24000000,
 19500000,
 20500000,
 20000000,
 35000000,
 22000000,
 27000000,
 22500000,
 19500000,
 22500000,
 29000000,
 10100000,
 10500000,
 39500000,
 19800000,
 24800000,
 28500000,
 2200000,
 3200000,
 42500000,
 15500000,
 1175000,
 1700000,
 89000000,
 22000000,
 12000000,
 11800000,
 21500000,
 35000000,
 32500000,
 19900000,
 35000000,
 23000000,
 18900000,
 25000000,
 41500000,
 15500000,
 15000000,
 10200000,
 47000000,
 28500000,
 18400000,
 18300000,
 64000000,
 13000000,
 1350000,
 31500000,
 49000000,
 50000000,
 1350000,
 1757000,
 24000000,
 18500000,
 51500000,
 22000000,
 21000000,
 27500000,
 22500000,
 60000000,
 47500000,
 67500000,
 62000000,
 4700000,
 25000000,
 22799999,
 45000000,
 23900000,
 2300000,
 61500000,
 21000000,
 15000000,
 45000000,
 8500000,
 13700000,
 1250000,
 1550000,
 2600000,
 6400000,
 17000000,
 28000000,
 1000000,
 12500000,
 1359000,
 13000000,
 25000000,
 15000000,
 28500000,
 4500000,
 8200000,
 1350000,
 52500000,
 2600000,
 1350000,
 1050000,
 85000000,
 6000000,
 4500000,
 57500000,
 2500000,
 17000000,
 2100000,
 35500000,
 12000000,
 44500000,
 25000000,
 35000000,
 15500000,
 32500000,
 8100000,
 25000000,
 54500000,
 55000000,
 15800000,
 14000000,
 13000000,
 5500000,
 32000000,
 21700000,
 2500000,
 9000000,
 29000000,
 9500000,
 14500000,
 3500000,
 4600000,
 1506000,
 27500000,
 24000000,
 33000000,
 6200000,
 2050000,
 72500000]

# builtup area

In [42]:
builtup_area = df['builtup_area'].tolist()

print(builtup_area)

['(209 sq.m.) Built-up Area', '(125 sq.m.) Carpet Area', '(111 sq.m.) Carpet Area', '(251 sq.m.) Carpet Area', '(450 sq.m.) Carpet Area', '(420 sq.m.) Carpet Area', '(465 sq.m.) Carpet Area', '(251 sq.m.) Carpet Area', '(450 sq.m.) Carpet Area', '(420 sq.m.) Carpet Area', '(420 sq.m.) Super built-up Area', '(251 sq.m.) Carpet Area', '(251 sq.m.) Super built-up Area', '(422 sq.m.) Carpet Area', '(420 sq.m.) Super built-up Area', '(301 sq.m.) Super built-up Area', '(251 sq.m.) Carpet Area', '(251 sq.m.) Carpet Area', '(420 sq.m.) Carpet Area', '(420 sq.m.) Carpet Area', '(251 sq.m.) Carpet Area', '(424 sq.m.) Carpet Area', '(420 sq.m.) Carpet Area', '(420 sq.m.) Carpet Area', '(420 sq.m.) Carpet Area', '(418 sq.m.) Carpet Area', '(420 sq.m.) Carpet Area', '(426 sq.m.) Carpet Area', '(251 sq.m.) Carpet Area', '(186 sq.m.) Carpet Area', '(186 sq.m.) Carpet Area', '(336 sq.m.) Super built-up Area', '(167 sq.m.) Carpet Area', '(180 sq.m.) Carpet Area', '(209 sq.m.) Carpet Area', '(336 sq.m.) Carpet Area', '(251 sq.m.) Super built-up Area', '(336 sq.m.) Carpet Area', '(420 sq.m.) Super built-up Area', '(251 sq.m.) Carpet Area', '(204 sq.m.) Super built-up Area', '(186 sq.m.) Carpet Area', '(251 sq.m.) Carpet Area', '(251 sq.m.) Carpet Area', '(186 sq.m.) Carpet Area', '(251 sq.m.) Carpet Area', '(251 sq.m.) Super built-up Area', '(251 sq.m.) Carpet Area', '(180 sq.m.) Built-up Area', '(251 sq.m.) Built-up Area', '(180 sq.m.) Carpet Area', '(336 sq.m.) Carpet Area', '(180 sq.m.) Super built-up Area', '(336 sq.m.) Carpet Area', '(450 sq.m.) Plot Area', '(251 sq.m.) Carpet Area', '(336 sq.m.) Carpet Area', '(336 sq.m.) Carpet Area', '(334 sq.m.) Super built-up Area', '(156 sq.m.) Carpet Area', '(180 sq.m.) Carpet Area', '(186 sq.m.) Carpet Area', '(180 sq.m.) Super built-up Area', '(251 sq.m.) Built-up Area', '(186 sq.m.) Super built-up Area', '(260 sq.m.) Super built-up Area', '(180 sq.m.) Built-up Area', '(186 sq.m.) Carpet Area', '(167 sq.m.) Carpet Area', '(228 sq.m.) Carpet Area', '(300 sq.m.) Plot Area', '(300 sq.m.) Plot Area', '(336 sq.m.) Carpet Area', '(186 sq.m.) Super built-up Area', '(251 sq.m.) Carpet Area', '(251 sq.m.) Carpet Area', '(251 sq.m.) Plot Area', '(809 sq.m.) Plot Area', '(604 sq.m.) Carpet Area', '(186 sq.m.) Super built-up Area', '(420 sq.m.) Plot Area', '(430 sq.m.) Carpet Area', '(288 sq.m.) Carpet Area', '(186 sq.m.) Carpet Area', '(28 sq.m.) Plot Area', '(300 sq.m.) Plot Area', '(500 sq.m.) Plot Area', '(297 sq.m.) Super built-up Area', '(260 sq.m.) Super built-up Area', '(186 sq.m.) Super built-up Area', '(301 sq.m.) Built-up Area', '(186 sq.m.) Carpet Area', '(172 sq.m.) Carpet Area', '(251 sq.m.) Super built-up Area', '(336 sq.m.) Carpet Area', '(209 sq.m.) Built-up Area', '(211 sq.m.) Plot Area', '(300 sq.m.) Plot Area', '(453 sq.m.) Super built-up Area', '(251 sq.m.) Carpet Area', '(172 sq.m.) Carpet Area', '(46 sq.m.) Plot Area', '(115 sq.m.) Plot Area', '(167 sq.m.) Carpet Area', '(251 sq.m.) Plot Area', '(126 sq.m.) Built-up Area', '(372 sq.m.) Super built-up Area', '(207 sq.m.) Super built-up Area', '(244 sq.m.) Plot Area', '(420 sq.m.) Plot Area', '(268 sq.m.) Super built-up Area', '(172 sq.m.) Carpet Area', '(420 sq.m.) Carpet Area', '(186 sq.m.) Carpet Area', '(186 sq.m.) Carpet Area', '(436 sq.m.) Plot Area', '(171 sq.m.) Super built-up Area', '(256 sq.m.) Super built-up Area', '(151 sq.m.) Carpet Area', '(372 sq.m.) Super built-up Area', '(105 sq.m.) Plot Area', '(102 sq.m.) Built-up Area', '(204 sq.m.) Carpet Area', '(258 sq.m.) Super built-up Area', '(279 sq.m.) Carpet Area', '(114 sq.m.) Built-up Area', '(855 sq.m.) Plot Area', '(297 sq.m.) Super built-up Area', '(134 sq.m.) Plot Area', '(284 sq.m.) Built-up Area', '(204 sq.m.) Carpet Area', '(104 sq.m.) Super built-up Area', '(168 sq.m.) Super built-up Area', '(420 sq.m.) Plot Area', '(389 sq.m.) Plot Area', '(855 sq.m.) Plot Area', '(130 sq.m.) Carpet Area', '(186 sq.m.) Carpet Area', '(297 sq.m.) Super built-up Area', '(335 sq.m.) Plot Area', '(65 sq.m.) Carpet Area', '(437 sq.m.) Plot Area', '(33 sq.m.) Plot Area', '(167 sq.m.) Carpet Area', '(209 sq.m.) Built-up Area', '(301 sq.m.) Carpet Area', '(95 sq.m.) Built-up Area', '(85 sq.m.) Carpet Area', '(420 sq.m.) Plot Area', '(167 sq.m.) Plot Area', '(855 sq.m.) Plot Area', '(420 sq.m.) Plot Area', '(336 sq.m.) Plot Area', '(251 sq.m.) Plot Area', '(84 sq.m.) Super built-up Area', '(35 sq.m.) Carpet Area', '(892 sq.m.) Super built-up Area', '(56 sq.m.) Super built-up Area', '(126 sq.m.) Super built-up Area', '(570 sq.m.) Plot Area', '(125 sq.m.) Carpet Area', '(246 sq.m.) Carpet Area', '(166 sq.m.) Plot Area', '(262 sq.m.) Plot Area', '(195 sq.m.) Carpet Area', '(84 sq.m.) Carpet Area', '(195 sq.m.) Built-up Area', '(125 sq.m.) Super built-up Area', '(149 sq.m.) Super built-up Area', '(279 sq.m.) Carpet Area', '(310 sq.m.) Plot Area', '(184 sq.m.) Built-up Area', '(125 sq.m.) Plot Area', '(75 sq.m.) Built-up Area', '(113 sq.m.) Carpet Area', '(297 sq.m.) Super built-up Area', '(186 sq.m.) Super built-up Area', '(33 sq.m.) Carpet Area', '(145 sq.m.) Super built-up Area', '(125 sq.m.) Plot Area', '(151 sq.m.) Super built-up Area', '(179 sq.m.) Super built-up Area', '(80 sq.m.) Built-up Area', '(93 sq.m.) Super built-up Area', '(420 sq.m.) Plot Area', '(251 sq.m.) Super built-up Area', '(186 sq.m.) Carpet Area', '(251 sq.m.) Built-up Area', '(106 sq.m.) Super built-up Area', '(570 sq.m.) Plot Area', '(210 sq.m.) Plot Area']

In [43]:
characters_to_remove = ["("," sq.m.) ","Built-up Area","Super built-up Area","Carpet Area","Plot Area","-"]

#regular expression pattern to match and remove special characters and characters
pattern = "[{}]".format("".join(characters_to_remove))

#list to store modified strings
area_sqm = []

for string in builtup_area:
    modified_string = re.sub(pattern, "", string)
    area_sqm.append(modified_string)

print(area_sqm)

['209', '125', '111', '251', '450', '420', '465', '251', '450', '420', '420', '251', '251', '422', '420', '301', '251', '251', '420', '420', '251', '424', '420', '420', '420', '418', '420', '426', '251', '186', '186', '336', '167', '180', '209', '336', '251', '336', '420', '251', '204', '186', '251', '251', '186', '251', '251', '251', '180', '251', '180', '336', '180', '336', '450', '251', '336', '336', '334', '156', '180', '186', '180', '251', '186', '260', '180', '186', '167', '228', '300', '300', '336', '186', '251', '251', '251', '809', '604', '186', '420', '430', '288', '186', '28', '300', '500', '297', '260', '186', '301', '186', '172', '251', '336', '209', '211', '300', '453', '251', '172', '46', '115', '167', '251', '126', '372', '207', '244', '420', '268', '172', '420', '186', '186', '436', '171', '256', '151', '372', '105', '102', '204', '258', '279', '114', '855', '297', '134', '284', '204', '104', '168', '420', '389', '855', '130', '186', '297', '335', '65', '437', '33', '167', '209', '301', '95', '85', '420', '167', '855', '420', '336', '251', '84', '35', '892', '56', '126', '570', '125', '246', '166', '262', '195', '84', '195', '125', '149', '279', '310', '184', '125', '75', '113', '297', '186', '33', '145', '125', '151', '179', '80', '93', '420', '251', '186', '251', '106', '570', '210']

In [44]:
BuiltUp_Area_Sqm = [int(x) for x in area_sqm]

print(BuiltUp_Area_Sqm)

[209, 125, 111, 251, 450, 420, 465, 251, 450, 420, 420, 251, 251, 422, 420, 301, 251, 251, 420, 420, 251, 424, 420, 420, 420, 418, 420, 426, 251, 186, 186, 336, 167, 180, 209, 336, 251, 336, 420, 251, 204, 186, 251, 251, 186, 251, 251, 251, 180, 251, 180, 336, 180, 336, 450, 251, 336, 336, 334, 156, 180, 186, 180, 251, 186, 260, 180, 186, 167, 228, 300, 300, 336, 186, 251, 251, 251, 809, 604, 186, 420, 430, 288, 186, 28, 300, 500, 297, 260, 186, 301, 186, 172, 251, 336, 209, 211, 300, 453, 251, 172, 46, 115, 167, 251, 126, 372, 207, 244, 420, 268, 172, 420, 186, 186, 436, 171, 256, 151, 372, 105, 102, 204, 258, 279, 114, 855, 297, 134, 284, 204, 104, 168, 420, 389, 855, 130, 186, 297, 335, 65, 437, 33, 167, 209, 301, 95, 85, 420, 167, 855, 420, 336, 251, 84, 35, 892, 56, 126, 570, 125, 246, 166, 262, 195, 84, 195, 125, 149, 279, 310, 184, 125, 75, 113, 297, 186, 33, 145, 125, 151, 179, 80, 93, 420, 251, 186, 251, 106, 570, 210]

In [45]:
total_price=[i*j for i in Price_per_SqFt for j in BuiltUp_Area_Sqm]
total_price

[937992,
 561000,
 498168,
 1126488,
 2019600,
 1884960,
 2086920,
 1126488,
 2019600,
 1884960,
 1884960,
 1126488,
 1126488,
 1893936,
 1884960,
 1350888,
 1126488,
 1126488,
 1884960,
 1884960,
 1126488,
 1902912,
 1884960,
 1884960,
 1884960,
 1875984,
 1884960,
 1911888,
 1126488,
 834768,
 834768,
 1507968,
 749496,
 807840,
 937992,
 1507968,
 1126488,
 1507968,
 1884960,
 1126488,
 915552,
 834768,
 1126488,
 1126488,
 834768,
 1126488,
 1126488,
 1126488,
 807840,
 1126488,
 807840,
 1507968,
 807840,
 1507968,
 2019600,
 1126488,
 1507968,
 1507968,
 1498992,
 700128,
 807840,
 834768,
 807840,
 1126488,
 834768,
 1166880,
 807840,
 834768,
 749496,
 1023264,
 1346400,
 1346400,
 1507968,
 834768,
 1126488,
 1126488,
 1126488,
 3630792,
 2710752,
 834768,
 1884960,
 1929840,
 1292544,
 834768,
 125664,
 1346400,
 2244000,
 1332936,
 1166880,
 834768,
 1350888,
 834768,
 771936,
 1126488,
 1507968,
 937992,
 946968,
 1346400,
 2033064,
 1126488,
 771936,
 206448,
 516120,
 749496,
 1126488,
 565488,
 1669536,
 929016,
 1095072,
 1884960,
 1202784,
 771936,
 1884960,
 834768,
 834768,
 1956768,
 767448,
 1148928,
 677688,
 1669536,
 471240,
 457776,
 915552,
 1157904,
 1252152,
 511632,
 3837240,
 1332936,
 601392,
 1274592,
 915552,
 466752,
 753984,
 1884960,
 1745832,
 3837240,
 583440,
 834768,
 1332936,
 1503480,
 291720,
 1961256,
 148104,
 749496,
 937992,
 1350888,
 426360,
 381480,
 1884960,
 749496,
 3837240,
 1884960,
 1507968,
 1126488,
 376992,
 157080,
 4003296,
 251328,
 565488,
 2558160,
 561000,
 1104048,
 745008,
 1175856,
 875160,
 376992,
 875160,
 561000,
 668712,
 1252152,
 1391280,
 825792,
 561000,
 336600,
 507144,
 1332936,
 834768,
 148104,
 650760,
 561000,
 677688,
 803352,
 359040,
 417384,
 1884960,
 1126488,
 834768,
 1126488,
 475728,
 2558160,
 942480,
 2631728,
 1574000,
 1397712,
 3160592,
 5666400,
 5288640,
 5855280,
 3160592,
 5666400,
 5288640,
 5288640,
 3160592,
 3160592,
 5313824,
 5288640,
 3790192,
 3160592,
 3160592,
 5288640,
 5288640,
 3160592,
 5339008,
 5288640,
 5288640,
 5288640,
 5263456,
 5288640,
 5364192,
 3160592,
 2342112,
 2342112,
 4230912,
 2102864,
 2266560,
 2631728,
 4230912,
 3160592,
 4230912,
 5288640,
 3160592,
 2568768,
 2342112,
 3160592,
 3160592,
 2342112,
 3160592,
 3160592,
 3160592,
 2266560,
 3160592,
 2266560,
 4230912,
 2266560,
 4230912,
 5666400,
 3160592,
 4230912,
 4230912,
 4205728,
 1964352,
 2266560,
 2342112,
 2266560,
 3160592,
 2342112,
 3273920,
 2266560,
 2342112,
 2102864,
 2870976,
 3777600,
 3777600,
 4230912,
 2342112,
 3160592,
 3160592,
 3160592,
 10186928,
 7605568,
 2342112,
 5288640,
 5414560,
 3626496,
 2342112,
 352576,
 3777600,
 6296000,
 3739824,
 3273920,
 2342112,
 3790192,
 2342112,
 2165824,
 3160592,
 4230912,
 2631728,
 2656912,
 3777600,
 5704176,
 3160592,
 2165824,
 579232,
 1448080,
 2102864,
 3160592,
 1586592,
 4684224,
 2606544,
 3072448,
 5288640,
 3374656,
 2165824,
 5288640,
 2342112,
 2342112,
 5490112,
 2153232,
 3223552,
 1901392,
 4684224,
 1322160,
 1284384,
 2568768,
 3248736,
 3513168,
 1435488,
 10766160,
 3739824,
 1687328,
 3576128,
 2568768,
 1309568,
 2115456,
 5288640,
 4898288,
 10766160,
 1636960,
 2342112,
 3739824,
 4218320,
 818480,
 5502704,
 415536,
 2102864,
 2631728,
 3790192,
 1196240,
 1070320,
 5288640,
 2102864,
 10766160,
 5288640,
 4230912,
 3160592,
 1057728,
 440720,
 11232064,
 705152,
 1586592,
 7177440,
 1574000,
 3097632,
 2090272,
 3299104,
 2455440,
 1057728,
 2455440,
 1574000,
 1876208,
 3513168,
 3903520,
 2316928,
 1574000,
 944400,
 1422896,
 3739824,
 2342112,
 415536,
 1825840,
 1574000,
 1901392,
 2253968,
 1007360,
 1171056,
 5288640,
 3160592,
 2342112,
 3160592,
 1334752,
 7177440,
 2644320,
 2049663,
 1225875,
 1088577,
 2461557,
 4413150,
 4118940,
 4560255,
 2461557,
 4413150,
 4118940,
 4118940,
 2461557,
 2461557,
 4138554,
 4118940,
 2951907,
 2461557,
 2461557,
 4118940,
 4118940,
 2461557,
 4158168,
 4118940,
 4118940,
 4118940,
 4099326,
 4118940,
 4177782,
 2461557,
 1824102,
 1824102,
 3295152,
 1637769,
 1765260,
 2049663,
 3295152,
 2461557,
 3295152,
 4118940,
 2461557,
 2000628,
 1824102,
 2461557,
 2461557,
 1824102,
 2461557,
 2461557,
 2461557,
 1765260,
 2461557,
 1765260,
 3295152,
 1765260,
 3295152,
 4413150,
 2461557,
 3295152,
 3295152,
 3275538,
 1529892,
 1765260,
 1824102,
 1765260,
 2461557,
 1824102,
 2549820,
 1765260,
 1824102,
 1637769,
 2235996,
 2942100,
 2942100,
 3295152,
 1824102,
 2461557,
 2461557,
 2461557,
 7933863,
 5923428,
 1824102,
 4118940,
 4217010,
 2824416,
 1824102,
 274596,
 2942100,
 4903500,
 2912679,
 2549820,
 1824102,
 2951907,
 1824102,
 1686804,
 2461557,
 3295152,
 2049663,
 2069277,
 2942100,
 4442571,
 2461557,
 1686804,
 451122,
 1127805,
 1637769,
 2461557,
 1235682,
 3648204,
 2030049,
 2392908,
 4118940,
 2628276,
 1686804,
 4118940,
 1824102,
 1824102,
 4275852,
 1676997,
 2510592,
 1480857,
 3648204,
 1029735,
 1000314,
 2000628,
 2530206,
 2736153,
 1117998,
 8384985,
 2912679,
 1314138,
 2785188,
 2000628,
 1019928,
 1647576,
 4118940,
 3814923,
 8384985,
 1274910,
 1824102,
 2912679,
 3285345,
 637455,
 4285659,
 323631,
 1637769,
 2049663,
 2951907,
 931665,
 833595,
 4118940,
 1637769,
 8384985,
 4118940,
 3295152,
 2461557,
 823788,
 343245,
 8747844,
 549192,
 1235682,
 5589990,
 1225875,
 2412522,
 1627962,
 2569434,
 1912365,
 823788,
 1912365,
 1225875,
 1461243,
 2736153,
 3040170,
 1804488,
 1225875,
 735525,
 1108191,
 2912679,
 1824102,
 323631,
 1422015,
 1225875,
 1480857,
 1755453,
 784560,
 912051,
 4118940,
 2461557,
 1824102,
 2461557,
 1039542,
 5589990,
 2059470,
 2322199,
 1388875,
 1233321,
 2788861,
 4999950,
 4666620,
 5166615,
 2788861,
 4999950,
 4666620,
 4666620,
 2788861,
 2788861,
 4688842,
 4666620,
 3344411,
 2788861,
 2788861,
 4666620,
 4666620,
 2788861,
 4711064,
 4666620,
 4666620,
 4666620,
 4644398,
 4666620,
 4733286,
 2788861,
 2066646,
 2066646,
 3733296,
 1855537,
 1999980,
 2322199,
 3733296,
 2788861,
 3733296,
 4666620,
 2788861,
 2266644,
 2066646,
 2788861,
 2788861,
 2066646,
 2788861,
 2788861,
 2788861,
 1999980,
 2788861,
 1999980,
 3733296,
 1999980,
 3733296,
 4999950,
 2788861,
 3733296,
 3733296,
 3711074,
 1733316,
 1999980,
 2066646,
 1999980,
 2788861,
 2066646,
 2888860,
 1999980,
 2066646,
 1855537,
 2533308,
 3333300,
 3333300,
 3733296,
 2066646,
 2788861,
 2788861,
 2788861,
 8988799,
 6711044,
 2066646,
 4666620,
 4777730,
 3199968,
 2066646,
 311108,
 3333300,
 5555500,
 3299967,
 2888860,
 2066646,
 3344411,
 2066646,
 1911092,
 2788861,
 3733296,
 2322199,
 2344421,
 3333300,
 5033283,
 2788861,
 1911092,
 511106,
 1277765,
 1855537,
 2788861,
 1399986,
 4133292,
 2299977,
 2711084,
 4666620,
 2977748,
 1911092,
 4666620,
 2066646,
 2066646,
 4844396,
 1899981,
 2844416,
 1677761,
 4133292,
 1166655,
 1133322,
 2266644,
 2866638,
 3099969,
 1266654,
 9499905,
 3299967,
 1488874,
 3155524,
 2266644,
 1155544,
 1866648,
 4666620,
 4322179,
 9499905,
 1444430,
 2066646,
 3299967,
 3722185,
 722215,
 4855507,
 366663,
 1855537,
 2322199,
 3344411,
 1055545,
 944435,
 4666620,
 1855537,
 9499905,
 4666620,
 3733296,
 2788861,
 933324,
 388885,
 9911012,
 622216,
 1399986,
 6333270,
 1388875,
 2733306,
 1844426,
 2911082,
 2166645,
 933324,
 2166645,
 1388875,
 1655539,
 3099969,
 3444410,
 2044424,
 1388875,
 833325,
 1255543,
 3299967,
 2066646,
 366663,
 1611095,
 1388875,
 1677761,
 1988869,
 888880,
 1033323,
 4666620,
 2788861,
 2066646,
 2788861,
 1177766,
 6333270,
 2333310,
 2589719,
 1548875,
 1375401,
 3110141,
 5575950,
 5204220,
 5761815,
 3110141,
 5575950,
 5204220,
 5204220,
 3110141,
 3110141,
 5229002,
 5204220,
 3729691,
 3110141,
 3110141,
 5204220,
 5204220,
 3110141,
 5253784,
 5204220,
 5204220,
 5204220,
 5179438,
 5204220,
 5278566,
 3110141,
 2304726,
 2304726,
 4163376,
 2069297,
 2230380,
 2589719,
 4163376,
 3110141,
 4163376,
 5204220,
 3110141,
 2527764,
 2304726,
 3110141,
 3110141,
 2304726,
 3110141,
 3110141,
 3110141,
 2230380,
 3110141,
 2230380,
 4163376,
 2230380,
 4163376,
 5575950,
 3110141,
 4163376,
 4163376,
 4138594,
 1932996,
 2230380,
 2304726,
 2230380,
 3110141,
 2304726,
 3221660,
 2230380,
 2304726,
 2069297,
 2825148,
 3717300,
 3717300,
 4163376,
 2304726,
 3110141,
 3110141,
 3110141,
 10024319,
 7484164,
 2304726,
 5204220,
 5328130,
 3568608,
 2304726,
 346948,
 3717300,
 6195500,
 3680127,
 3221660,
 2304726,
 3729691,
 2304726,
 2131252,
 3110141,
 4163376,
 2589719,
 2614501,
 3717300,
 5613123,
 3110141,
 2131252,
 569986,
 1424965,
 2069297,
 3110141,
 1561266,
 4609452,
 2564937,
 3023404,
 5204220,
 3320788,
 2131252,
 5204220,
 2304726,
 2304726,
 5402476,
 2118861,
 3172096,
 1871041,
 4609452,
 1301055,
 1263882,
 2527764,
 3196878,
 3457089,
 1412574,
 10594305,
 3680127,
 1660394,
 3519044,
 2527764,
 1288664,
 2081688,
 5204220,
 4820099,
 10594305,
 1610830,
 2304726,
 3680127,
 4150985,
 805415,
 5414867,
 408903,
 2069297,
 2589719,
 3729691,
 1177145,
 1053235,
 5204220,
 2069297,
 10594305,
 5204220,
 4163376,
 3110141,
 1040844,
 433685,
 11052772,
 693896,
 1561266,
 7062870,
 1548875,
 3048186,
 2056906,
 3246442,
 2416245,
 1040844,
 2416245,
 1548875,
 1846259,
 3457089,
 3841210,
 2279944,
 1548875,
 929325,
 1400183,
 3680127,
 2304726,
 408903,
 1796695,
 1548875,
 1871041,
 2217989,
 991280,
 1152363,
 5204220,
 3110141,
 2304726,
 3110141,
 1313446,
 7062870,
 2602110,
 2081640,
 1245000,
 1105560,
 2499960,
 4482000,
 4183200,
 4631400,
 2499960,
 4482000,
 4183200,
 4183200,
 2499960,
 2499960,
 4203120,
 4183200,
 2997960,
 2499960,
 2499960,
 4183200,
 4183200,
 2499960,
 4223040,
 4183200,
 4183200,
 4183200,
 4163280,
 4183200,
 4242960,
 2499960,
 1852560,
 1852560,
 3346560,
 1663320,
 1792800,
 2081640,
 3346560,
 2499960,
 3346560,
 4183200,
 2499960,
 2031840,
 1852560,
 2499960,
 2499960,
 1852560,
 ...]

# bath

In [46]:
baths = df['bhk'].tolist()

print(baths)

['3 BHK3 Baths', '3 BHK2 Baths', '2 BHK2 Baths', '4 BHK5 Baths', '4 BHK5 Baths', '4 BHK5 Baths', '4 BHK5 Baths', '4 BHK4 Baths', '4 BHK5 Baths', '4 BHK5 Baths', '4 BHK5 Baths', '4 BHK5 Baths', '4 BHK5 Baths', '4 BHK5 Baths', '4 BHK5 Baths', '4 BHK5 Baths', '4 BHK5 Baths', '4 BHK5 Baths', '4 BHK5 Baths', '4 BHK5 Baths', '4 BHK5 Baths', '4 BHK5 Baths', '4 BHK5 Baths', '4 BHK5 Baths', '4 BHK5 Baths', '4 BHK5 Baths', '4 BHK5 Baths', '4 BHK5 Baths', '4 BHK5 Baths', '3 BHK4 Baths', '3 BHK4 Baths', '4 BHK5 Baths', '3 BHK3 Baths', '3 BHK3 Baths', '3 BHK3 Baths', '4 BHK5 Baths', '4 BHK4 Baths', '4 BHK5 Baths', '4 BHK5 Baths', '4 BHK5 Baths', '4 BHK4 Baths', '3 BHK4 Baths', '4 BHK5 Baths', '4 BHK5 Baths', '3 BHK4 Baths', '4 BHK5 Baths', '4 BHK4 Baths', '4 BHK4 Baths', '3 BHK3 Baths', '4 BHK4 Baths', '3 BHK4 Baths', '4 BHK5 Baths', '3 BHK3 Baths', '4 BHK5 Baths', nan, '4 BHK5 Baths', '4 BHK5 Baths', '4 BHK5 Baths', '4 BHK4 Baths', '3 BHK3 Baths', '3 BHK3 Baths', '3 BHK4 Baths', '3 BHK3 Baths', '4 BHK4 Baths', '3 BHK3 Baths', '4 BHK4 Baths', '3 BHK3 Baths', '3 BHK4 Baths', '3 BHK3 Baths', '3 BHK3 Baths', nan, nan, '4 BHK4 Baths', '3 BHK3 Baths', '4 BHK4 Baths', '4 BHK5 Baths', '12 BHK16 Baths', nan, '7 BHK7 Baths', '3 BHK3 Baths', nan, '4 BHK4 Baths', '5 BHK6 Baths', '3 BHK4 Baths', nan, nan, nan, '4 BHK4 Baths', '4 BHK4 Baths', '3 BHK3 Baths', '4 BHK4 Baths', '3 BHK4 Baths', '3 BHK3 Baths', '4 BHK4 Baths', '4 BHK5 Baths', '3 BHK3 Baths', '6 BHK4 Baths', nan, '4 BHK5 Baths', '4 BHK4 Baths', '3 BHK3 Baths', nan, '7 BHK6 Baths', '4 BHK3 Baths', nan, '3 BHK3 Baths', '4 BHK5 Baths', '2 BHK2 Baths', '9 BHK7 Baths', nan, '4 BHK4 Baths', '3 BHK3 Baths', '4 BHK5 Baths', '3 BHK4 Baths', '3 BHK4 Baths', nan, '3 BHK4 Baths', '3 BHK3 Baths', '3 BHK3 Baths', '4 BHK5 Baths', '6 BHK5 Baths', '3 BHK2 Baths', '4 BHK3 Baths', '3 BHK4 Baths', '4 BHK4 Baths', '3 BHK3 Baths', nan, '4 BHK5 Baths', '2 BHK3 Baths', '4 BHK5 Baths', '4 BHK4 Baths', '2 BHK2 Baths', '3 BHK3 Baths', nan, nan, nan, '3 BHK3 Baths', '3 BHK4 Baths', '4 BHK5 Baths', nan, '2 BHK1 Bath', '8 BHK8 Baths', '2 BHK2 Baths', '3 BHK3 Baths', '3 BHK4 Baths', '4 BHK4 Baths', '2 BHK2 Baths', '3 BHK2 Baths', nan, nan, nan, nan, nan, nan, '2 BHK2 Baths', '1 BHK1 Bath', '4 BHK4 Baths', '2 BHK2 Baths', '2 BHK2 Baths', nan, '2 BHK2 Baths', '4 BHK4 Baths', '4 BHK5 Baths', nan, '4 BHK4 Baths', '3 BHK2 Baths', '4 BHK3 Baths', '2 BHK2 Baths', '2 BHK2 Baths', '4 BHK4 Baths', '7 BHK8 Baths', '3 BHK4 Baths', nan, '2 BHK2 Baths', '4 BHK3 Baths', '4 BHK5 Baths', '3 BHK3 Baths', '1 BHK1 Bath', '3 BHK2 Baths', '4 BHK4 Baths', '2 BHK3 Baths', '3 BHK3 Baths', '2 BHK2 Baths', '2 BHK2 Baths', nan, '4 BHK5 Baths', '3 BHK4 Baths', '4 BHK4 Baths', '2 BHK2 Baths', nan, nan]

In [47]:
Baths = [re.search(r'\d+', x).group() if x is not np.nan else x for x in baths]

print(Baths)

['3', '3', '2', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '3', '3', '4', '3', '3', '3', '4', '4', '4', '4', '4', '4', '3', '4', '4', '3', '4', '4', '4', '3', '4', '3', '4', '3', '4', nan, '4', '4', '4', '4', '3', '3', '3', '3', '4', '3', '4', '3', '3', '3', '3', nan, nan, '4', '3', '4', '4', '12', nan, '7', '3', nan, '4', '5', '3', nan, nan, nan, '4', '4', '3', '4', '3', '3', '4', '4', '3', '6', nan, '4', '4', '3', nan, '7', '4', nan, '3', '4', '2', '9', nan, '4', '3', '4', '3', '3', nan, '3', '3', '3', '4', '6', '3', '4', '3', '4', '3', nan, '4', '2', '4', '4', '2', '3', nan, nan, nan, '3', '3', '4', nan, '2', '8', '2', '3', '3', '4', '2', '3', nan, nan, nan, nan, nan, nan, '2', '1', '4', '2', '2', nan, '2', '4', '4', nan, '4', '3', '4', '2', '2', '4', '7', '3', nan, '2', '4', '4', '3', '1', '3', '4', '2', '3', '2', '2', nan, '4', '3', '4', '2', nan, nan]

In [48]:
for i in range(len(Baths)):
    try:
        if np.isnan(float(Baths[i])):
            Baths[i] = 0
    except:
        pass

print(Baths)

['3', '3', '2', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '3', '3', '4', '3', '3', '3', '4', '4', '4', '4', '4', '4', '3', '4', '4', '3', '4', '4', '4', '3', '4', '3', '4', '3', '4', 0, '4', '4', '4', '4', '3', '3', '3', '3', '4', '3', '4', '3', '3', '3', '3', 0, 0, '4', '3', '4', '4', '12', 0, '7', '3', 0, '4', '5', '3', 0, 0, 0, '4', '4', '3', '4', '3', '3', '4', '4', '3', '6', 0, '4', '4', '3', 0, '7', '4', 0, '3', '4', '2', '9', 0, '4', '3', '4', '3', '3', 0, '3', '3', '3', '4', '6', '3', '4', '3', '4', '3', 0, '4', '2', '4', '4', '2', '3', 0, 0, 0, '3', '3', '4', 0, '2', '8', '2', '3', '3', '4', '2', '3', 0, 0, 0, 0, 0, 0, '2', '1', '4', '2', '2', 0, '2', '4', '4', 0, '4', '3', '4', '2', '2', '4', '7', '3', 0, '2', '4', '4', '3', '1', '3', '4', '2', '3', '2', '2', 0, '4', '3', '4', '2', 0, 0]

In [49]:
for i in range(len(Baths)):
    try:
        Baths[i] = int(Baths[i])
    except:
        pass
print(Baths)

[3, 3, 2, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 3, 3, 4, 3, 3, 3, 4, 4, 4, 4, 4, 4, 3, 4, 4, 3, 4, 4, 4, 3, 4, 3, 4, 3, 4, 0, 4, 4, 4, 4, 3, 3, 3, 3, 4, 3, 4, 3, 3, 3, 3, 0, 0, 4, 3, 4, 4, 12, 0, 7, 3, 0, 4, 5, 3, 0, 0, 0, 4, 4, 3, 4, 3, 3, 4, 4, 3, 6, 0, 4, 4, 3, 0, 7, 4, 0, 3, 4, 2, 9, 0, 4, 3, 4, 3, 3, 0, 3, 3, 3, 4, 6, 3, 4, 3, 4, 3, 0, 4, 2, 4, 4, 2, 3, 0, 0, 0, 3, 3, 4, 0, 2, 8, 2, 3, 3, 4, 2, 3, 0, 0, 0, 0, 0, 0, 2, 1, 4, 2, 2, 0, 2, 4, 4, 0, 4, 3, 4, 2, 2, 4, 7, 3, 0, 2, 4, 4, 3, 1, 3, 4, 2, 3, 2, 2, 0, 4, 3, 4, 2, 0, 0]

In [50]:
len(Baths)

191

In [51]:
print(len(bhk))
print(len(Total_SqFt))
print(len(BuiltUp_Area_Sqm))
print(len(Price_per_SqFt))
print(len(type_of_land))
print(len(loc))
print(len(new_matches))

191
191
191
191
191
191
191

In [52]:
df=pd.DataFrame({'BHK':bhk,'Baths':Baths,'Total_Area_SqFt':Total_SqFt,"Price_per_SqFt":Price_per_SqFt,"Type_of_Land":type_of_land,'Area':loc,'Price':new_matches})
df["Location"]='Delhi / NCR'
df

,BHK,Baths,Total_Area_SqFt,Price_per_SqFt,Type_of_Land,Area,Price,Location
0,3,3,2250,4488,Bedroom House,Pari Chowk,10100000,Delhi / NCR
1,3,3,1350,12592,Apartment,Sector B Vasant Kunj,17000000,Delhi / NCR
2,2,2,1193,9807,Apartment,Sector 79 Gurgaon,11700000,Delhi / NCR
3,4,4,2700,11111,,DLF Phase 1,30000000,Delhi / NCR
4,4,4,4842,12391,,DLF Phase 1,60000000,Delhi / NCR
...,...,...,...,...,...,...,...,...
186,3,3,2000,12000,,DLF Phase 1,24000000,Delhi / NCR
187,4,4,2700,12222,,Sushant Lok Phase 1,33000000,Delhi / NCR
188,2,2,1145,5414,Apartment,Sector 16 Greater Noida,6200000,Delhi / NCR
189,2,0,6138,33398,Residential land / Plot,DLF Phase 2,2050000,Delhi / NCR
190,2,0,2259,32094,Residential land / Plot,DLF Phase 2,72500000,Delhi / NCR

In [53]:
df.to_excel('Buy_Data.xlsx')